// Name:            Grid
// Description:     Defines styles for flexbox based grid layout.
//
// Component:       `o-Grid`
//
// Sub-objects:     `o-Grid-cell`
//
// Modifiers:       `o-Grid--flexCells`
//                  `o-Grid--flush`
//                  `o-Grid--full`
//                  `o-Grid--top`
//                  `o-Grid--bottom`
//                  `o-Grid--center`
//                  `o-Grid--justifyCenter`
//                  `o-Grid--reverse`
//                  `o-Grid--gutters`
//                  `o-Grid--gutters\@lg`
//                  `o-Grid--gutters\@xl`
//
//                  `o-Grid-cell--top`
//                  `o-Grid-cell--bottom`
//                  `o-Grid-cell--center`
//                  `o-Grid-cell--autoSize`
//
// Markup:
//
// <!-- o-Grid -->
// <div class="o-Sidebar">
//   <div class="o-Sidebar-column">...</div>
//   <div class="o-Sidebar-content">...</div>
// </div>
//
// ========================================================================

// Variables
// ========================================================================

$grid-gutter: $g-spacer;
$grid-gutter-lg: $g-spacer-lg;
$grid-gutter-xl: $g-spacer-xl;

// ========================================================================
// Component: o-Grid
// ========================================================================

.o-Grid {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
}

.o-Grid-cell {
    max-width: 100%;
    flex: 1 0 auto;
}

.o-Grid--flexCells > .o-Grid-cell {
    display: flex;
}

.o-Grid--top {
    align-items: flex-start;
}

.o-Grid--bottom {
    align-items: flex-end;
}

.o-Grid--center {
    align-items: center;
}

.o-Grid--justifyCenter {
    justify-content: center;
}

.o-Grid--reverse {
    flex-direction: row-reverse;
}

.o-Grid-cell--top {
    align-self: flex-start;
}

.o-Grid-cell--bottom {
    align-self: flex-end;
}

.o-Grid-cell--center {
    align-self: center;
}

.o-Grid-cell--autoSize {
    flex: none;
}

.o-Grid--fit > .o-Grid-cell {
    flex: 1;
}

.o-Grid--full > .o-Grid-cell {
    flex: 0 0 100%;
}

.o-Grid--1of2 > .o-Grid-cell {
    width: 50%;
    max-width: 50%;
    flex: auto;
}

.o-Grid--1of3 > .o-Grid-cell {
    width: 33.3333%;
    max-width: 33.3333%;
    flex: auto;
}

.o-Grid--1of4 > .o-Grid-cell {
    width: 25%;
    max-width: 25%;
    flex: auto;
}

.o-Grid--1of5 > .o-Grid-cell {
    width: 20%;
    max-width: 20%;
    flex: auto;
}

// Gutters
// ========================================================================

.o-Grid--gutters {
    //margin-left: - ($grid-gutter / 2);
    //margin-right: - ($grid-gutter / 2);

    > .o-Grid-cell {
        padding: $grid-gutter / 2;
    }
}

.o-Grid--gutters\@lg {
    //margin: 0 - ($grid-gutter-lg / 2);

    > .o-Grid-cell {
        padding: $grid-gutter-lg / 2;
    }
}

.o-Grid--gutters\@xl {
    //margin: 0 - ($grid-gutter-xl / 2);

    > .o-Grid-cell {
        padding: $grid-gutter-xl / 2;
    }
}
