{% from 'macros/icon.njk' import icon %}

{% macro ToggleButton(
  settings = false,
  classList = "",
  content = {
  initIcon: 'navicon',
  closeIcon: 'close',
  initText: false,
  closeText: false
}) %}

  <button class="c-ToggleButton {{ classList }}" data-module="Toggle"
      {% if settings %}
        data-options='{{ settings }}'
      {% endif %}>

    <div class="c-ToggleButton-init">
      {{ icon(content.initIcon, 'c-ToggleButton-icon--init') }}
      {% if content.initText %}
        <span class="c-ToggleButton-text">{{ content.initText }}</span>
      {% endif %}
    </div>

    <div class="c-ToggleButton-close">
      {{ icon(content.closeIcon, 'c-ToggleButton-icon--close') }}
      {% if content.closeText %}
        <span class="c-ToggleButton-text">{{ content.closeText }}</span>
      {% endif %}
    </div>

  </button>

{% endmacro %}
