// ----------------------------------------------------------------------

// Elements: Lists

// ----------------------------------------------------------------------

////
/// @author   Jaywing
/// @group    jw
/// @create   16/06/2016
////

/// Styles for all unclassed lists
$list-margin-bottom: $g-spacer !default;
$list-margin-side: $g-spacer-xl !default;
$list-nested-margin-side: $g-spacer-lg !default;
$dt-font-weight: $g-weight-bold !default;

ul,
ol,
dl {
  margin-bottom: $list-margin-bottom;
  padding: 0;
}

ul,
ol {
  margin-left: $list-margin-side;

  & & {
    margin-bottom: 0;
    margin-left: $list-nested-margin-side;
  }
}

dl {
  dt {
    font-weight: $dt-font-weight;
  }

  dd {
    margin: 0;
  }
}
