@charset 'utf-8';

// ****************************************************
//
//  ATOMIC by Jaywing
//
//                                 \         .  ./
//                             \      .:";'.:.."   /
//                                 (M^^.^~~:.'").
//                           -   (/  .    . . \ \)  -
//    O                         ((| :. ~ ^  :. .|))
//   |\\                     -   (\- |  \ /  |  /)  -
//   |  T                         -\  \     /  /-
//  / \[_]..........................\  \   /  /
//
//  F R O N T   E N D   S T A R T E R   K I T
//
// *****************************************************

// ----------------------------------------------------------------------

// Global Stylesheet Index

// ----------------------------------------------------------------------

////
/// @author   Jaywing
/// @group    jw
/// @created  08/06/2016
////

// * Settings
@import '1.settings/settings'; // global variables

// * Tools
@import '2.tools/tools'; // Mixins, functions and placeholders

// * Generic
@import 'normalize.css/normalize'; // served from node_modules
@import '3.generic/generic.fonts';
@import '3.generic/generic.base';

// * Vendor

// * Default (base) elements
@import '4.elements/elements'; // Un-classed common common

// * Objects
@import '5.objects/site/object.site';
@import '5.objects/container/object.container';
@import '5.objects/grid/object.grid';
@import '5.objects/size/object.size';
@import '5.objects/section/object.section';
@import '5.objects/icon/object.icon';
@import '5.objects/media/object.media';
@import '5.objects/cover/object.cover';

// * Common Components
@import '6.components/common/badge/component.badge';
@import '6.components/common/button/component.button';
@import '6.components/common/overlay/component.overlay';
@import '6.components/common/close/component.close';
@import '6.components/common/toggle-button/component.toggle-button';
@import '6.components/common/tooltip/component.tooltip';
@import '6.components/common/panel/component.panel';

// * Element Components
@import '6.components/elements/list/component.list';
@import '6.components/elements/definition/component.definition';
@import '6.components/elements/table/component.table';
@import '6.components/elements/form/component.form';
@import '6.components/elements/text/component.text';

// * Navigation Components
@import '6.components/navigation/menu/component.menu';
@import '6.components/navigation/breadcrumbs/component.breadcrumbs';
@import '6.components/navigation/skip-link/component.skip-link';
@import '6.components/navigation/back-to-top/component.back-to-top';
@import '6.components/navigation/bookmarks/component.bookmarks';
@import '6.components/navigation/nav-responsive/component.nav-responsive';

// * Module Components
@import '6.components/modules/breakpoint/component.breakpoint';
@import '6.components/modules/slider/component.slider';
@import '6.components/modules/switcher/component.switcher';

// * Trumps // Helper classes, hacks and browser fixes
// @import '7.trumps/trump.border';
// @import '7.trumps/trump.color';
// @import '7.trumps/trump.typography';
@import '7.trumps/trump.visibility';
// @import '7.trumps/trump.font-size';
// @import '7.trumps/trump.grid';
// @import '7.trumps/trump.misc';
// @import '7.trumps/trump.shame'; // Oooh! You are naughty!!
@import '7.trumps/trump.debug'; // turn on in global settings (enables coloured borders round common)
@import '7.trumps/trump.healthcheck'; // turn on in global settings (enables coloured borders round common)
@import '7.trumps/trump.print'; // includes html5 boilerplate print styles
