// ----------------------------------------------------------------------

// Generic: Base

// ----------------------------------------------------------------------

////
/// @author   Jaywing
/// @group    jw
/// @created  08/06/2016
////

// Base styles for HTML and BODY elements
$base-bg-color: $c-light !default;
$base-text-color: $c-dark !default;
$base-font-family-fb: $g-font-sans-fb !default;
$base-font-family: $g-font-sans !default;
$base-font-weight: $g-weight-normal !default;
// Highlighted c-Text colors
$base-highlight-bg: $c-primary-pale !default;
$base-highlight-color: $base-text-color !default;
$base-input-highlight-bg: $c-very-strong-trans-dark !default;
$base-input-highlight-color: $base-text-color !default;
$body-antialiased: $g-body-antialiased !default;
$body-no-horizontal-scroll: $g-body-no-horizontal-scroll !default;

// Border-box for everything!
*,
*::after,
*::before {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
}

html {
    background-color: $base-bg-color;
    color: $base-text-color;
    font-family: $base-font-family-fb;
    font-size: $base-font-size;
    font-weight: $base-font-weight;

    &.fonts-loaded {
        font-family: $base-font-family;
    }
}

body {
    @include body-copy; // set up default font size

    min-height: 100%;

    // optimise font rendering - set this in settings.global.scss
    @if $body-antialiased {
        font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
    }

    @if $body-no-horizontal-scroll {
        // disable horizontal scroll
        overflow-x: hidden;
    }

    &:target {
        animation: none;
    }
}

// sass-lint:disable no-important
[hidden] {
    display: none !important;
}
// scss-lint:enable ImportantRule

// Highlighted text colors
::selection {
    background-color: $base-highlight-bg;
    color: $base-highlight-color;
}

input::selection,
textarea::selection {
    background: $base-input-highlight-bg;
    color: $base-input-highlight-color;
}
