// Name:            FlexGrid \@small
// Description:     Defines styles for flexbox based grid layout for small devices (480px).
//
// Component:       `o-FlexGrid\@sm`
//
// Sub-objects:     `o-FlexGrid-cell`
//
// Modifiers:       `o-FlexGrid\@sm--reverse`
//                  `o-FlexGrid\@sm--1of2`
//                  `o-FlexGrid\@sm--1of3`
//                  `o-FlexGrid\@sm--1of4`
//                  `o-FlexGrid\@sm--gutters`
//                  `o-FlexGrid\@sm--gutters\@lg`
//                  `o-FlexGrid\@sm--gutters\@xl`
//
// Markup:
//
// <!-- o-FlexGrid -->
// <div class="o-FlexGrid o-FlexGrid\@sm o-FlexGrid\@sm--1of3">
//   <div class="o-FlexGrid-cell">...</div>
//   <div class="o-FlexGrid-cell">...</div>
//   <div class="o-FlexGrid-cell">...</div>
// </div>
//
// ========================================================================

// Variables
// ========================================================================

$grid-gutter: $g-spacer;
$grid-gutter-lg: $g-spacer-lg;
$grid-gutter-xl: $g-spacer-xl;

// Breakpoints
// ========================================================================

@include sm {
    .o-FlexGrid\@sm {
        &--reverse {
            flex-direction: row-reverse;
        }

        &--fit {
            > .o-FlexGrid-cell {
                flex: 1;
            }
        }

        &--full {
            > .o-FlexGrid-cell {
                flex: 0 0 100%;
            }
        }

        &--1of2 {
            > .o-FlexGrid-cell {
                width: 50%;
                max-width: 50%;
                flex: auto;
            }
        }

        &--1of3 {
            > .o-FlexGrid-cell {
                width: 33.3333%;
                max-width: 33.3333%;
                flex: auto;
            }
        }

        &--1of4 {
            > .o-FlexGrid-cell {
                width: 25%;
                max-width: 25%;
                flex: auto;
            }
        }

        &--1of5 {
            > .o-FlexGrid-cell {
                width: 20%;
                max-width: 20%;
                flex: auto;
            }
        }

        // Gutters
        // ========================================================================
        &--gutters {
            margin: 0 - ($grid-gutter / 2);

            > .o-FlexGrid-cell {
                padding: $grid-gutter / 2;
            }
        }

        &--gutters\@lg {
            margin: 0 - ($grid-gutter-lg / 2);

            > .o-FlexGrid-cell {
                padding: $grid-gutter-lg / 2;
            }
        }

        &--gutters\@xl {
            margin: 0 - ($grid-gutter-xl / 2);

            > .o-FlexGrid-cell {
                padding: $grid-gutter-xl / 2;
            }
        }
    }
}
