// Name:            FlexGrid Extra Large
// Description:     Defines styles for flexbox based grid layout for Extra Large devices (960px +).
//
// Component:       `o-FlexGrid\@xl`
//
// Sub-objects:     `o-FlexGrid-cell`
//
// Modifiers:       `o-FlexGrid\@xl--reverse`
//                  `o-FlexGrid\@xl--1of2`
//                  `o-FlexGrid\@xl--1of3`
//                  `o-FlexGrid\@xl--1of4`
//                  `o-FlexGrid\@xl--gutters`
//                  `o-FlexGrid\@xl--gutters\@lg`
//                  `o-FlexGrid\@xl--gutters\@xl`
//
//
// Markup:
//
// <!-- o-FlexGrid -->
// <div class="o-FlexGrid o-FlexGrid\@xl o-FlexGrid\@xl--1of3">
//   <div class="o-FlexGrid-cell">...</div>
//   <div class="o-FlexGrid-cell">...</div>
//   <div class="o-FlexGrid-cell">...</div>
// </div>
//
// ========================================================================

// Breakpoints
// ========================================================================

@include xl {
    .o-FlexGrid\@xl {
        &--reverse {
            flex-direction: row-reverse;
        }

        &--fit {
            > .o-FlexGrid-cell {
                flex: 1;
            }
        }

        &--full {
            > .o-FlexGrid-cell {
                flex: 0 0 100%;
            }
        }

        &--1of2 {
            > .o-FlexGrid-cell {
                width: 50%;
                max-width: 50%;
                flex: auto;
            }
        }

        &--1of3 {
            > .o-FlexGrid-cell {
                width: 33.3333%;
                max-width: 33.3333%;
                flex: auto;
            }
        }

        &--1of4 {
            > .o-FlexGrid-cell {
                width: 25%;
                max-width: 25%;
                flex: auto;
            }
        }

        &--1of5 {
            > .o-FlexGrid-cell {
                width: 20%;
                max-width: 20%;
                flex: auto;
            }
        }

        // Gutters
        // ========================================================================
        &--gutters {
            margin: 0 - ($grid-gutter / 2);

            > .o-FlexGrid-cell {
                padding: $grid-gutter / 2;
            }
        }

        &--gutters\@lg {
            margin: 0 - ($grid-gutter-lg / 2);

            > .o-FlexGrid-cell {
                padding: $grid-gutter-lg / 2;
            }
        }

        &--gutters\@xl {
            margin: 0 - ($grid-gutter-xl / 2);

            > .o-FlexGrid-cell {
                padding: $grid-gutter-xl / 2;
            }
        }
    }
}
