$list-divider-border: $list-border !default;
$list-divider-padding: $g-spacer-xs 0 !default;

.c-list--divider {
    > li {
        padding: $list-divider-padding;
        border-bottom: $list-divider-border;

        &:last-child {
            border-bottom: 0;
        }
    }
}
