$list-block-spacing: $g-spacer-sm !default;
$list-border: 1px solid $c-very-strong-trans-dark !default;

%list-block-border {
    border: $list-border;
    border-bottom: 0;
}

.c-List--block {
    border-bottom: $list-border;

    a {
        display: block;
        padding: $list-block-spacing;
        text-decoration: none;
    }

    > li {
        @extend %list-block-border;

        padding: $list-block-spacing;

        > a {
            margin: -($list-block-spacing); // reset container padding
        }
    }

    > a {
        @extend %list-block-border;
    }
}
