$badge-padding: $g-spacer-xxs $g-spacer-sm $g-spacer-xs;
$badge-bg: $c-primary;
$badge-color: $c-light;
$badge-radius: $g-border-radius;
$badge-border: 1px solid $c-dark-30;

$badge-notification-radius: $g-round-radius;

$badge-success-bg: $c-success-light;
$badge-success-border-color: $c-success;

$badge-warning-bg: $c-warning-light;
$badge-warning-border-color: $c-warning;

$badge-danger-bg: $c-danger-light;
$badge-danger-border-color: $c-danger;

.Badge {
  @include minion;
  display: inline-block;
  padding: $badge-padding;
  border-radius: $badge-radius;
  border: $badge-border;
  background: $badge-bg;
  color: $badge-color;
  text-align: center;
  text-decoration: none;
  line-height: 1;

  &--notification {
    border-radius: $badge-notification-radius;
  }

  &--success {
    border-color: $badge-success-border-color;
    background: $badge-success-bg;
  }

  &--warning {
    border-color: $badge-warning-border-color;
    background: $badge-warning-bg;
  }

  &--danger {
    border-color: $badge-danger-border-color;
    background: $badge-danger-bg;
  }

}
