{#
Nunjucks Templating!
Homepage: https://mozilla.github.io/nunjucks/
Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% set pageid = 'index' %}
{% set sectionid = 'index' %}

{% extends 'layouts/application.njk' %}

{% block metaTitle %}Atomic - A front end starter kit by Jaywing{% endblock %}

{% block main %}
  <div class="o-container o-container--centered o-container--thin">
    <section class="c-text--center t-hero">

      <h1>Welcome to Jaywing's front-end starter kit and component repository</h1>
      <p>Bringing together an ever growing set of common re-usable components aimed at standardising our front end approach and speeding up development time.</p>
      <a href="/docs/core/" class="c-button c-button--xl c-button--primary">Get started!</a>
    </section>
  </div>
{% endblock %}

{% block javascript %}
{% endblock %}
