// ----------------------------------------------------------------------

// Trumps: Miscellaneous

// ----------------------------------------------------------------------

////
/// @author   James Taylor
/// @group    jw
/// @create   15/06/2016
////

///

// can be used on body to lock scrolling when an overlay is
// used
.noScroll {
  overflow: hidden !important;
}
