// ----------------------------------------------------------------------

// Trumps: Grid

// ----------------------------------------------------------------------

////
/// @author   James Taylor
/// @group    jw
/// @create   20/06/2016
////


$grid-golden-sm: $g-golden-sm;
$grid-golden-lg: $g-golden-lg;


.container {
  @include make-container;

  .demo & {

    &.demo {
      border: 1px solid red;
      height: $g-spacer-xxl;
      margin-bottom: $g-spacer-xl;
      position: relative;

      &:after {
        @include minion;
        text-transform: lowercase;
        content: 'container';
        position: absolute;
        top: 0;
        right: 0;
        display: inline-block;
        background: lightgrey;
        padding: .2rem;
      }
    }
  }
}

.container--fixed {
  @include make-container-max-widths;

  .demo & {

    &.demo:after {
      content: 'container container--fixed';
    }
  }

}

@include make-grid-columns;

.row {
  @include make-row;

  .demo & {
    position: relative;
    border: 1px solid red;
    padding-top: $g-spacer;
    padding-bottom: $g-spacer;
    margin-bottom: $g-spacer-xl;

    &:after {
      @include minion;
      text-transform: lowercase;
      content: 'row';
      position: absolute;
      top: 0;
      right: 0;
      display: inline-block;
      background: lightgrey;
      padding: 0.2rem;
    }
  }

  .row {

    .demo & {
      padding-top: 0;
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }

  &--right {
    justify-content: flex-end;

    .demo & {

      &:after {
        content: 'row row--right';
      }
    }
  }

  &--center {
    justify-content: center;

    .demo & {

      &:after {
        content: 'row row--center';
      }
    }
  }

  &--collapse {

    .demo & {

      &:after {
        content: 'row row--collapse';
      }
    }

    > .col {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &--reverse {
    flex-direction: row-reverse;

    .demo & {

      &:after {
        content: 'row row--reverse';
      }
    }

  }

}

.demo {

  .col:after {
    @include minion;
    text-transform: lowercase;
    display: block;
    background: $c-light-15;
    width: 100%;
    height: 100%;
    text-align: center;
    border: 1px solid $c-dark-15;
    padding-top: $g-spacer-sm;
    padding-bottom: $g-spacer-sm;
  }

  .col-nested:after {
    display: none;
  }

  .col {
    padding-top: $g-spacer-sm;
    padding-bottom: $g-spacer-sm;
  }

}

.goldenSm {
  width: $grid-golden-sm;
}

.goldenLg {
  width: $grid-golden-lg;
}
