// ----------------------------------------------------------------------

// Trumps: Visibility

// ----------------------------------------------------------------------

////
/// @author   Jaywing
/// @group    jw
/// @created  13/06/2016
////

// *  Contents:
// *    .hide
// *    .show
// *    .invisible
// *    .visible
// *    .srOnly
// *    .srOnly--focusable
// *    .printOnly

/* visibility helpers */

// sass-lint:disable no-important
.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.invisible {
  visibility: hidden !important;
}

.visible {
  visibility: visible !important;
}

// screen readers only
.srOnly {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

// allows keyboard focus when tabbed to when used in conjunction with .srOnly. (Could be used for skip-links)
.srOnly--focusable:active,
.srOnly--focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

// Print visibility class
// sass-lint:disable no-important
.printOnly {
  display: none !important;
}
