{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% set pageId = 'features' %}

{% extends '_layouts/application.njk' %}
{% from '_macros/hero.njk' import Hero %}
{% from '_macros/featuresList.njk' import FeaturesList %}

{% block metaTitle %}{{ metaTitle }}{% endblock %}

{% block content %}

  {{ Hero(hero.content, hero.classes) }}

  <div class="o-Container o-Container--centered">
    <div class="o-Grid">
      <div class="o-Grid-cell o-Size--3of12">
        <dl class="Definition Definition--bullets">
          <dt>Performance</dt>
          <dd>No jQuery dependency</dd>
          <dd>Web font loader</dd>
          <dd>Async ES6 modules</dd>
          <dd>SVG sprites</dd>
          <dd>Lazy loading images</dd>
        </dl>
      </div>
      <div class="o-Grid-cell o-Size--3of12">
        <dl class="Definition Definition--bullets">
          <dt>Code consistency</dt>
          <dd>Library of reusable components</dd>
          <dd>CSS class name strategy</dd>
          <dd>Code linters (JS and CSS)</dd>
          <dd>ES6 module pattern</dd>
          <dd>Nunchucks templates (mirroring integrated views)</dd>
        </dl>
      </div>
    </div>
  </div>

{% endblock %}

{% block javascript %}
  <script src="/assets/javascripts/app.js" async></script>
{% endblock %}
