{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% set pageId = 'features' %}

{% extends '_layouts/application.njk' %}
{% from '_macros/hero.njk' import Hero %}
{% from '_macros/featuresList.njk' import FeaturesList %}

{% block metaTitle %}{{ metaTitle }}{% endblock %}

{% block content %}

  {{ Hero(hero.content, hero.classes) }}

  <div class="o-Container o-Container--centered">
    <dl class="Definition">
      <dt>HTML</dt>
      <dd>Nunjucks templates</dd>
    </dl>
  </div>

{% endblock %}

{% block javascript %}
  <script src="/assets/javascripts/app.js" async></script>
{% endblock %}
