{% from 'components/AccordionMenu/AccordionMenuItem.component.njk' import MenuItem %}

{% macro Menu(
menuItems,
classList,
activeItem,
activeClass) %}

  {% if menuItems | length %}
    <ul class="c-menu c-menu--accordion {{ classList }}" data-module="Menu">
      {% for item in menuItems %}
        {{ MenuItem(item, activeItem, activeClass) }}
      {% endfor %}
    </ul>
  {% endif %}

{% endmacro %}
