// Name:            Cover
// Description:     Defines styles for images and videos to cover their container in a centered position
//
// Component:       `o-Cover-*`
//
// ========================================================================


//=========================================================================
//   Component: Cover
//=========================================================================

//   Variables
//=========================================================================

$cover-video-margin: $g-spacer 0;
$cover-video-ratio: 67.5%;
$cover-video-wide-ratio: 56.34%;

//*
// * Emulates image cover, works with video and image elements
// * 1. Parent container which clips resized object
// * 2. Resizes the object to always covers its container
// * 3. Reset the responsive image CSS
// * 4. Center object
//*

// 1 */
.o-Cover {
  overflow: hidden;
}

.o-Cover-object {
  // 2 */
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  // 3 */
  max-width: none;
  // 4 */
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

// Background image always covers and centers its element
.o-Cover--bg {
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.o-Cover--video,
.o-Cover--videoWide {
  @include trim-child-margins;

  position: relative;
  margin: $cover-video-margin;
  height: 0;
  padding-bottom: $cover-video-ratio;

  .o-Cover-object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate(0, 0);

    > iframe,
    > object,
    > embed,
    > video {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}

.o-Cover--videoWide {
  padding-bottom: $cover-video-wide-ratio;
}
