// ----------------------------------------------------------------------

// Settings: Font Size

// ----------------------------------------------------------------------

////
/// @author   Jaywing
/// @group    jw
/// @created  13/06/2016
////

$g-font-sans-fb: 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$g-font-sans: 'Raleway', sans-serif;

$g-font-serif: Georgia, Times, 'Times New Roman', serif !default;
$g-font-monospace: 'Inconsolata', 'Menlo', 'Consolas', 'Bitstream Vera Sans Mono', 'Courier', monospace !default;

$g-weight-bold: bold !default;
$g-weight-normal: normal !default;
