@include sm {
    .Menu\@sm,
    .NavResponsive\@sm {
        flex-wrap: nowrap;

        > .Menu-item {
            flex: 0 0 auto;
            padding: $menu-item-padding;
        }

        > .Menu-item .Menu-link {
            padding: $menu-link-padding;
        }

        .Menu-header {
            padding: $menu-header-padding;
            margin: -($menu-header-padding);
        }
    }
}
