@include md {
    .c-Menu\@md,
    .c-NavResponsive\@md {
        flex-wrap: nowrap;

        > .c-Menu-item {
            flex: 0 0 auto;
            padding: $menu-item-padding;
        }

        > .c-Menu-item .c-Menu-link {
            padding: $menu-link-padding;
        }

        .c-Menu-header {
            padding: $menu-header-padding;
            margin: -($menu-header-padding);
        }
    }
}
