@include xxl {
    .c-menu\@xxl,
    .c-NavResponsive\@xxl {
        flex-wrap: nowrap;

        > .c-menu__item {
            flex: 0 0 auto;
            padding: $menu-item-padding;
        }

        > .c-menu__item .c-menu__link {
            padding: $menu-link-padding;
        }

        .c-menu__header {
            padding: $menu-header-padding;
            margin: -($menu-header-padding);
        }
    }
}
