.c-Tooltip--right {
    .c-Tooltip-item {
        top: 50%;
        bottom: inherit;
        left: 115%;
        align-items: center;
        justify-content: flex-start;
        box-align: flex-start;
        transform: translateY(-50%);
    }

    .c-Tooltip-itemInner {
        &::after {
            top: 50%;
            bottom: inherit;
            left: -($tooltip-pointer-size * 2);
            border: $tooltip-pointer-size solid transparent;
            border-right: $tooltip-pointer-size solid $tooltip-pointer-bg;
            transform: translateY(-50%);
        }
    }

    &:hover,
    &:focus {
        .c-Tooltip-itemInner {
            animation: popinRight $tooltip-popin-ani-time
                $tooltip-popin-ani-type;
        }
    }
}

.c-Tooltip--bottom {
    .c-Tooltip-item {
        top: $tooltip-bottom;
        bottom: inherit;
        left: 0;
    }

    .c-Tooltip-itemInner {
        position: relative;

        &::after {
            top: -($tooltip-pointer-size * 2);
            bottom: inherit;
            left: 50%;
            border: $tooltip-pointer-size solid transparent;
            border-bottom: $tooltip-pointer-size solid $tooltip-pointer-bg;
        }
    }

    &:hover,
    &:focus {
        .c-Tooltip-itemInner {
            animation: popinDown $tooltip-popin-ani-time $tooltip-popin-ani-type;
        }
    }
}

.c-Tooltip--left {
    .c-Tooltip-item {
        top: 50%;
        bottom: inherit;
        left: -115%;
        align-items: flex-end;
        justify-content: flex-end;
        box-align: flex-end;
        transform: translateY(-50%);
    }

    .c-Tooltip-itemInner {
        position: relative;

        &::after {
            top: 50%;
            right: -($tooltip-pointer-size * 2);
            bottom: inherit;
            left: inherit;
            border: $tooltip-pointer-size solid transparent;
            border-left: $tooltip-pointer-size solid $tooltip-pointer-bg;
            transform: translateY(-50%);
        }
    }

    &:hover,
    &:focus {
        .c-Tooltip-itemInner {
            animation: popinLeft $tooltip-popin-ani-time $tooltip-popin-ani-type;
        }
    }
}
