{% from 'macros/icon.njk' import icon %}

{% macro MenuLink(item) %}

  {% set classList="c-Menu-link" %}
  {% if item.linkClassList %}
    {% set classList = item.linkClassList %}
  {% endif %}

  {% if item.disabled %}
    {% set classList = classList + ' c-Menu-link--disabled' %}
  {% endif %}

  <a href="{{ item.url }}" class="{{ classList }}">
    {% if item.icon %}
      {{ icon(item.icon) }}
    {% endif %}
    {{ item.text }}
  </a>

{% endmacro %}
