{% from "components/Menu/MenuHeader.component.njk" import MenuHeader %}
{% from "components/Menu/MenuLink.component.njk" import MenuLink %}

{% macro MenuItem(
item,
activeItem,
activeClass)
%}
  {% set classList = "" %}
  {% if item.classList %}
    {% set classList = item.classList %}
  {% endif %}

  {% if item.id and activeItem %}
    {% if not activeClass %}
      {% set activeClass = "is-active" %}
    {% endif %}
    {% if item.id == activeItem %}
      {% set classList = classList + ' ' + activeClass %}
    {% endif %}
  {% endif %}

  <li class="c-menu__item {{ classList }}">
    {% if item.header %}
      {{ MenuHeader(item) }}
    {% else %}
      {% if item.url %}
        {{ MenuLink(item) }}
      {% else %}
        {{ item.text }}
      {% endif %}
    {% endif %}
  </li>

{% endmacro %}
