{#
Nunjucks Templating!
Homepage: https://mozilla.github.io/nunjucks/
Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% set pageid = 'index' %}
{% set sectionid = 'index' %}

{% extends 'layouts/application.njk' %}

{% block metaTitle %}Atomic - A front end starter kit by Jaywing{% endblock %}

{% block main %}
  <div class="o-Container o-Container--centered o-Container--thin">
    <section class="c-Text--center t-hero">

      <h1>Welcome to Atomic</h1>
      <h2>Jaywing's front-end starter kit and component repository</h2>
      <p><small>Version: {{ version }}</small></p>

      <pre class="c-Text--left asciiArt">
                                 \         .  ./
                             \      .:";'.:.."   /
                                 (M^^.^~~:.'").
                           -   (/  .    . . \ \)  -
    O                         ((| :. ~ ^  :. .|))
   |\\                     -   (\- |  \ /  |  /)  -
   |  T                         -\  \     /  /-
  / \[_]..........................\  \   /  /

  F R O N T   E N D   S T A R T E R   K I T
      </pre>
      <p>Bringing together an ever growing set of common re-usable components aimed at standardising our front end approach and speeding up development time.</p>
      <a href="getting-started/" class="c-Button c-Button--xl c-Button--primary">Get started!</a>
      <dl class="c-Definition c-Definition--horizontal">
        <dt>A'tom'ic</dt>
        <dd>of or forming a single irreducible unit or component in a larger system</dd>
      </dl>
    </section>
  </div>
{% endblock %}

{% block javascript %}
{% endblock %}
