//
//  Breadcrumbs navigation
//  @author anthony.fisher@jaywing.com
//

$breadcrumbs-margin: 0 0 $g-spacer 0 !default;
$breadcrumbs-item-font-size: $base-font-size !default;
$breadcrumbs-item-color-disabled: rgba($c-dark, .5) !default;
$breadcrumbs-item-margin: 0 .75rem !default;
$breadcrumbs-item-uppercase: false !default;
$breadcrumbs-item-underline: false !default;
$breadcrumbs-item-separator: true !default;
$breadcrumbs-item-separator-char: '/' !default;

.Breadcrumbs-list {
  list-style: none;
  margin: $breadcrumbs-margin;

  li {
    cursor: default;
    float: left;
    font-size: $breadcrumbs-item-font-size;

    @if $breadcrumbs-item-uppercase {
      text-transform: uppercase;
    }

    &:not(:last-child)::after {
      @if $breadcrumbs-item-separator {
        content: $breadcrumbs-item-separator-char;
      } @else {
        content: '';
      }

      margin: $breadcrumbs-item-margin;
      opacity: 1;
      position: relative;
      top: 1px;
    }
  }

  a {
    @if $breadcrumbs-item-underline {
      text-decoration: underline;
    } @else {
      text-decoration: none;
    }
  }

  .disabled {
    color: $breadcrumbs-item-color-disabled;
    cursor: not-allowed;
  }

  &::before,
  &::after {
    content: '';
    display: table;
  }

  &::after {
    clear: both;
  }
}
