{% macro navItem(id, title, active='index', ready=false) %}
  <li class="c-menu__item{% if id == active %} is-active{% endif %}">
    <a{% if ready %} href="{{id}}.html" class="c-menu__link"{% else %} class="c-menu__link c-text--disabled"{% endif %}>{{title}}</a>
  </li>
{% endmacro %}

{% from 'macros/toggle-button.njk' import ToggleButton %}

<nav id="t-page-nav" class="c-sidenav c-Sticky__item@md c-nav-responsive c-nav-responsive@md" data-margin-top="20">

  {{ ToggleButton("parent", "c-toggle-button--hideText") }}

  <ul class="c-menu c-menu--flush c-menu--vertical">
    <li class="c-menu__item c-sidenav__title">
        <strong class="c-menu__link c-menu__title">What's inside</strong>
    </li>
    {% for cat in docs_pages %}
      {% if cat.section == sectionid %}
        <li class="c-menu__item">
          {% if cat.category != "" %}<strong class="c-menu__title">{{ cat.category }}</strong>{% endif %}
          {% if cat.items %}
            <ul class="c-menu c-menu--vertical c-menu--flush">
              {% for comp in cat.items %}
                {% if comp.section == sectionid %}
                  {{navItem(comp.id, comp.title, pageid, comp.ready)}}
                {% endif %}
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>
