<!--
  ** hero
  - content
    - content.title
    - content.subTitle
    - content.description
    - content.cta
      - content.cta.url
      - content.cta.title
      - content.cta.classes
  - classes
-->
{% macro Hero (content, classes) %}

  <div class="Hero o-section--tall {{ classes }}">

    <div class="o-container o-container--centered">

      <h1>{{ content.title }}</h1>
      {% if content.subTitle %}
        <h2>{{ content.subTitle }}</h2>
      {% endif %}
      {% if content.description %}
        <p>{{ content.description }}</p>
      {% endif %}

      {% if content.cta %}
        {% if content.cta.classes %}
          {% set ctaClasses = content.cta.classes %}
        {% else %}
          {% set ctaClasses = "c-button c-button--primary" %}
        {% endif %}
        <a href="{{ content.cta.url }}" class="{{ ctaClasses }}">{{ content.cta.title }}</a>
      {% endif %}

    </div>

  </div>

{%  endmacro %}
