$panel-error-color: $c-danger-dark;
$panel-box-error-bg: lighten($c-danger-light-30, 10%);
$panel-box-error-border-color: $c-danger-dark;

.Panel--error {
  color: $panel-error-color;

  .Panel-title {
    color: $panel-error-color;
  }

  &.Panel--box {
    background: $panel-box-error-bg;
    border-color: $panel-box-error-border-color;
  }

}
