.Panels {
  margin: $panels-margin;

  > .Panel {
    margin: 0;
  }

}

.Panels--horizontal {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;

  > .Panel {
    flex: 1;
  }

  > .Panel--box {
    border-right: 0;
    border-radius: 0;

    &:first-child {
      border-radius: $panel-box-border-radius 0 0 $panel-box-border-radius;
    }

    &:last-child {
      border-radius: 0 $panel-box-border-radius $panel-box-border-radius 0;
      border-right: $panel-box-border;
    }
  }
}

.Panels--hidden {

  > .Panel {
    display: none;

    &.is-active {
      display: block;
    }
  }

}

.Panels:not(.Panels--horizontal, .Panels--hidden) {
  > .Panel--box:not(.Panel--attached) {
    border-bottom: 0;
    border-radius: 0;

    &:first-child {
      border-radius: $panel-box-border-radius $panel-box-border-radius 0 0;
    }

    &:last-child {
      border-radius: 0 0 $panel-box-border-radius $panel-box-border-radius;
      border-bottom: $panel-box-border;
    }
  }
}
