$panel-margin: $g-spacer 0;
$panels-margin: 0 0 $g-spacer;
$panel-badge-pos: 0;
$panel-title-margin: 0 $g-spacer-xl 0 0;


.Panel {
  @include trim-child-margins;

  position: relative;
  display: block;
  margin: $panel-margin;
  min-height: 100%;

  &-title {
    @include pica;
    margin: $panel-title-margin;

    .Icon {
      margin: -3px 0 0 -5px;
    }
  }

  &-badge {
    position: absolute;
    top: $panel-badge-pos;
    right: $panel-badge-pos;
  }

  &--attached {
    margin-top: 0;
  }

  &[hidden] {
    display: none;
  }
}

.Panels {
  margin: $panels-margin;

  > .Panel {
    margin: 0;
  }
}

.Panels--hidden {

  > .Panel {
    display: none;

    &.is-active {
      display: block;
    }
  }

}
