$panel-success-color: $c-success !default;
$panel-box-success-color: $c-success-dark !default;
$panel-box-success-bg: $c-success-light-50 !default;
$panel-box-success-border-color: $c-success-dark !default;


.Panel--success {
  color: $panel-success-color;

  .Panel-title {
    color: $panel-success-color;
  }

  &.Panel--box {
    color: $panel-box-success-color;
    background: $panel-box-success-bg;
    border-color: $panel-box-success-border-color;

    .Panel-title {
      color: $panel-box-success-color;
    }
  }

}
