%docs-block {
  margin: $g-spacer-xxl 0 $g-spacer;
  position: relative;
  z-index: 0;
  border-top: 1px solid rgba($c-light-30, .5);
  border-bottom: 1px solid rgba($c-light-30, .5);

  &::before {
    @include minion-bold;
    display: inline-block;
    padding: $g-spacer-xxs $g-spacer-sm;
    background: rgba($c-light-30, .5);
    position: absolute;
    top: -($g-spacer-lg);
    left: 0;
    color: $c-dark-30;
    text-transform: capitalize;
    border-radius: $g-border-radius $g-border-radius 0 0;
    border: 1px solid $c-light-30;
  }
}

.docs-example {
  @extend %docs-block;

  padding: $g-spacer-lg $g-spacer;
  background: $c-light;

  &::before {
    content: 'Example';
  }
}