%docs-block {
  margin: $g-spacer-xl 0 $g-spacer;
  position: relative;

  &::before {
    @include minion;
    display: inline-block;
    padding: $g-spacer-xxs $g-spacer-sm;
    border-left: 3px solid $c-light-15;
    position: absolute;
    top: -($g-spacer-lg);
    left: -1px;
    color: $c-dark-30;
    text-transform: capitalize;
    min-height: $g-spacer-lg;
  }
}

.docs-example {
  @extend %docs-block;

  background: $c-light;
  padding: $g-spacer 0;

  &::before {
    content: 'Example';
  }

  pre {
    margin: 0;
  }
}
