.docs-code {
  @extend %docs-block;

  > pre {
    max-height: 350px;
    overflow: auto;
    margin-top: 0;
    margin-bottom: 0;
  }

  &::before {
    content: 'Code';
  }

  &--cmd {
    &::before {
      content: 'Command line';
    }
  }

  &--scss {
    &::before {
      content: 'Scss';
    }
  }

  &--html {
    &::before {
      content: 'HTML';
    }
  }
}