
.Demo {
  background: rgba(0, 0, 0, .05);

  &--bordered {
    border: 1px solid rgba(0,0,0,.25);
    > * {
      border: 1px solid rgba(0,0,0,.5);
    }
  }

  &--parent {
    > * {
      background: rgba(0,0,0,.05);
    }
  }
}

.o-Grid-cell > .Demo {
  padding: $g-spacer $g-spacer 0;
  display: block;
  min-width: 100%;

  &::after {
    content: '\00a0';
    display: block;
    margin-top: 1em;
    height: 0;
    visibility: hidden;
  }
}