$doc-globalheader-bg: $c-jaywing-dark;

.docs-GlobalHeader {
  background: $doc-globalheader-bg;

  .Button--hover {
    margin: 0;

    &:not([disabled]) {

      color: $c-light-15;

      &:hover,
      &:focus {
        background: $c-light-15;
        color: $c-dark-15;
      }
    }
  }

  .is-active {
    > .Button {
      background: $c-light;
      color: $c-dark;
      font-weight: $g-weight-normal;
    }
  }

}
