
.Demo {
  background: rgba(0, 0, 0, .05);
  min-height: $g-spacer-lg;
  width: 100%;

  &--bordered {
    border: 1px solid rgba(0, 0, 0, .25);

    > * {
      border: 1px solid rgba(0, 0, 0, .5);
    }
  }

  &--parent {
    > * {
      background: rgba(0, 0, 0, .05);
    }
  }

  &--fat {
    height: 100px;
  }

  &--tall {
    height: 400px;
  }

  &.is-active {
    text-align: center;
    position: relative;
    background: rgba(0, 0, 0, .1);

    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      content: 'I am active!';
      display: inline-block;
      margin: 0 auto;
    }
  }

  &.is-alt-active {
    text-align: center;
    position: relative;
    background: rgba(0, 0, 0, .15);

    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      content: "I'm using a different active class!";
      display: inline-block;
      margin: 0 auto;
    }
  }
}

.o-Grid-cell > .Demo {
  padding: $g-spacer $g-spacer 0;
  display: block;
  min-width: 100%;

  &::after {
    content: '\00a0';
    display: block;
    margin-top: 1em;
    height: 0;
    visibility: hidden;
  }

  &.Sticky-item {
    min-width: auto;
  }
}
