html {
  background: darken($c-light, 3%);
}

.StickyFooter {
  display: flex;
  min-width: 100vh;
  flex-direction: column;

  .main {
    flex: 1;
  }
}

.docs-footer {
  background: $c-light-15;
  padding: $g-spacer-sm 0;
}

.asciiArt {
  display: inline-block;
  background: $c-strong-trans-dark;
  padding: $g-spacer;
  border-radius: $g-border-radius;
  margin: 0;
}

.is-active > .Panel,
.Panel.is-active {
  &::before {
    @include minion;
    padding: $g-spacer-xxs $g-spacer-xs;
    content: 'I am active';
    position: absolute;
    top: 0;
    right: 0;
    background: $c-light-15;
  }
}

.docs-PanelList {
  .Panel {
    margin-bottom: $g-spacer;
  }
  .Panel-title {
    font-weight: bold;
  }
  p {
    margin-top: .5rem;
  }
}
