body {
  // Expose css breakpoints to javascript
  // @link https://www.lullabot.com/articles/importing-css-breakpoints-into-javascript
  @include mq($until: map-get($mq-breakpoints, 'xxs')) {
    &::before {
      content: 'base';
      display: none;
    }
  }

  @include xxs {
    &::before {
      content: 'xxs';
    }
  }

  @include xs {
    &::before {
      content: 'xs';
    }
  }

  @include sm {
    &::before {
      content: 'sm';
    }
  }

  @include md {
    &::before {
      content: 'md';
    }
  }

  @include lg {
    &::before {
      content: 'lg';
    }
  }

  @include xl {
    &::before {
      content: 'xl';
    }
  }

  @include xxl {
    &::before {
      content: 'xxl';
    }
  }
}
