
{% macro Menu(
  menuItems={},
  classList = "",
  activeItem = false,
  activeClass = 'is-active'
) %}

  {% if menuItems | length %}
    <ul class="Menu {{ classList }}">
      {% if settings.menuTitle %}
        {{ _MenuTitle (settings.menuTitle) }}
      {% endif %}

      {% for item in menuItems %}
        {{ _MenuItem (item, activeItem, activeClass) }}
      {% endfor %}
    </ul>
  {% endif %}

{% endmacro %}


{% macro _MenuTitle (title) %}
  <li class="Menu-item"><span class="Menu-title">{{ title }}</span></li>
{% endmacro %}

{% macro _MenuItem(item, activeItem, activeClass) %}
  {% set isActive = false %}
  {% if item.id == activeItem %}
    {% set isActive = true %}
  {% endif %}

  {% set urlValue = '#' %}
  {% if item.id and not item.url %}
    {% set urlValue = item.id + '.html' %}
  {% endif %}
  {% if url %}
    {% set urlValue = url %}
  {% endif %}

  <li class="Menu-item{% if isActive %} {{ activeClass }}{% endif %}">
    {{ _MenuLink(urlValue, item.title, item.ready) }}
  </li>
{% endmacro %}

{% macro _MenuLink(url, title, ready) %}
  {% if ready %}
    <a href="{{ url }}" class="Menu-link">
  {% else %}
    <a class="Menu-link Menu-link--disabled">
  {% endif %}
      {{ title }}
  </a>
{% endmacro %}
