$overlay-background-bg: rgba($c-dark, 0.8) !default;
$overlay-background-color: $c-light !default;

.Overlay-background {
    background: $overlay-background-bg;
    color: $overlay-background-color;

    a,
    a:hover,
    a:focus {
        color: $overlay-background-color;
    }
}
