.Overlay {
    position: relative;
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
    margin: 0;

    &-panel {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 20px;
    }
}
