.Overlay {
  display: inline-block;
  margin: 0;
  max-width: 100%;
  overflow: hidden;
  position: relative;

  &-panel {
    bottom: 0;
    left: 0;
    padding: 20px;
    position: absolute;
    right: 0;
    top: 0;
  }
}
