// ----------------------------------------------------------------------

// Tools: hide-visually

// ----------------------------------------------------------------------

////
/// @author   James Taylor
/// @group    jw
/// @created  08/06/2016
////

/// Allows items to be hidden visually but still read out by screen readers
/// Also allows items to be focusable even when visually hidden (using the param)
/// Associated with the trump classes '.srOnly' and '.srOnly--focusable' in ._trump.visibility.scss

/// @example scss - Usage
//    @include hide-visually; // hides an item visually
//    @include hide-visually(true); // makes item focusable


@mixin hide-visually ($focusable: false) {
  border: 0;
  padding: 0;
  @if $focusable {
    width: 1px;
    position: absolute;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
  } @else {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
  }
}
