.c-Demo {
    width: 100%;
    min-height: $g-spacer-lg;
    background: rgba(0, 0, 0, 0.05);

    &--bordered {
        border: 1px solid rgba(0, 0, 0, 0.25);

        > * {
            border: 1px solid rgba(0, 0, 0, 0.5);
        }
    }

    &--parent {
        > * {
            background: rgba(0, 0, 0, 0.05);
        }
    }

    &--fat {
        height: 100px;
    }

    &--tall {
        height: 400px;
    }

    &.is-active {
        position: relative;
        background: rgba(0, 0, 0, 0.1);

        &::before {
            position: absolute;
            top: 50%;
            left: 50%;
            display: inline-block;
            margin: 0 auto;
            content: 'I am active!';
            transform: translate(-50%, -50%);
        }
    }

    &.is-alt-active {
        position: relative;
        background: rgba(0, 0, 0, 0.15);
        text-align: center;

        &::before {
            position: absolute;
            top: 50%;
            left: 50%;
            display: inline-block;
            margin: 0 auto;
            content: "I'm using a different active class!";
            transform: translate(-50%, -50%);
        }
    }
}

.o-FlexGrid-cell > .c-Demo {
    display: block;
    min-width: 100%;
    padding: $g-spacer $g-spacer 0;

    &::after {
        display: block;
        height: 0;
        margin-top: 1em;
        content: '\00a0';
        visibility: hidden;
    }

    &.c-Sticky-item {
        min-width: auto;
    }
}

.c-Menu-item.is-active-alt {
    .c-Menu-link {
        background: red;
        color: white;
        font-weight: bold;
    }
}
