$doc-globalheader-bg: $c-jaywing-dark;

.docs-GlobalHeader {
    background: $doc-globalheader-bg;

    .w-logo a {
        display: block;
        width: 50px;
        margin: -12px 0 0 -7px;
    }

    .NavResponsive {
        padding-top: $g-spacer;
        overflow-x: visible;

        .o-Icon svg {
            fill: rgba(#fff, 0.5);
        }
    }

    .ToggleButton {
        top: 7px;
        right: 7px;
        border-color: rgba(#fff, 0.2);

        @include xxs {
            right: $g-spacer;
        }
    }

    @include xs {
        .Menu-item:not(.w-logo) {
            max-width: 50%;
        }
    }

    .Menu-link {
        display: block;
        padding: $g-spacer-sm;
        border: 1px solid rgba(#fff, 0);
        margin: $g-spacer-xs 0;
        color: rgba(#fff, 0.6);
        transition: all $g-trans-link-speed ease-in-out;

        &:hover,
        &:focus {
            background: none;
            border-color: rgba(#fff, 0.25);
            color: rgba(#fff, 0.8);
        }

        &.is-disabled,
        .is-disabled > & {
            color: rgba(#fff, 0.25);

            &:hover,
            &:focus {
                border-color: rgba(#fff, 0);
                color: rgba(#fff, 0.25);
            }
        }
    }

    .is-active {
        > .Menu-link {
            background: rgba(#000, 0.33);
            border-color: rgba(#fff, 0.5);
            color: rgba(#fff, 1);
        }
    }

    @include md {
        .w-logo a {
            display: inline-block;
            width: auto;
            margin: 0;
        }

        .NavResponsive {
            padding-top: 0;
        }
    }
}
