.docs-Sidenav {
  padding-right: $g-spacer;
  .Menu-title {
    padding: $g-spacer-sm $g-spacer-sm $g-spacer-xs;
    display: block;
  }
  .Menu-item {
    margin-left: -($g-spacer-sm);
    margin-bottom: 0;
    margin-top: 0;
  }
  .Menu--vertical {
    position: relative;
    left: $g-spacer-sm;
  }
}