.t-Sidenav {
    padding-right: $g-spacer;

    .c-Menu-title {
        display: block;
        padding: $g-spacer-sm $g-spacer-sm $g-spacer-xs;
    }

    .c-Menu-item {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: -($g-spacer-sm);
    }

    .c-Menu--vertical {
        position: relative;
        left: $g-spacer-sm;
    }
}
