html {
    background: darken($c-light, 3%);
}

.StickyFooter {
    display: flex;
    min-width: 100vh;
    flex-direction: column;

    .main {
        flex: 1;
    }
}

.docs-footer {
    padding: $g-spacer-sm 0;
    background: $c-light-15;
}

.asciiArt {
    display: inline-block;
    padding: $g-spacer;
    margin: 0;
    background: $c-strong-trans-dark;
    border-radius: $g-border-radius;
}

.is-active > .Panel,
.Panel.is-active {
    &::before {
        @include minion;

        position: absolute;
        top: 0;
        right: 0;
        padding: $g-spacer-xxs $g-spacer-xs;
        background: $c-light-15;
        content: 'I am active';
    }
}

.docs-PanelList {
    .Panel {
        margin-bottom: $g-spacer;
    }

    .Panel-title {
        font-weight: bold;
    }

    p {
        margin-top: 0.5rem;
    }
}
