$toggle-button-border: 1px solid $c-strong-trans-dark !default;
$toggle-button-bg: transparent !default;
$toggle-button-radius: $g-border-radius !default;

.ToggleButton {
  background: $toggle-button-bg;
  border: $toggle-button-border;
  border-radius: $toggle-button-radius;
  min-height: 44px;
  min-width: 44px;

  .ToggleButton-close {
    display: none;
  }

  &.is-active,
  .is-active > & {
    .ToggleButton-close {
      display: inline-block;
    }

    .ToggleButton-init {
      display: none;
    }
  }
}

.ToggleButton--hideText {
  .ToggleButton-text {
    @include hide-visually;
  }
}
