$bookmarks-z: 1000;

.Bookmarks {

  &-menu {
    @include reset-list;
  }

  &-toggler {
    display: none;
  }

}

.js-Bookmarks {
  position: fixed;
  top: $g-spacer-sm;
  right: $g-spacer;
  text-align: right;
  z-index: $bookmarks-z;

  .Bookmarks-toggler {
    display: inline-block;
    color: $c-dark-15;
    background: rgba(#fff, .5);
    margin-top: 2px;
    border: 1px solid $c-dark-30;
  }

  .Bookmarks-menu {
    display: inline-block;
    transition: all .3s ease-in;
    max-height: 0;
    height: auto;
    overflow: hidden;
    margin: 10px 0;
    transform: scale(0);
    transform-origin: right top;
    opacity: 0;
  }

  &.is-active {

    .Bookmarks-toggler {
      background: #fff;
      color: $c-dark;
    }

    .Bookmarks-menu {
      max-height: 1200px;
      border-color: $c-dark-30;
      padding: $g-spacer-sm;
      opacity: 1;
      transform: scale(1);
      background: rgba(255, 255, 255, .9);
      z-index: 10;
    }
  }

}

:target {
  animation-delay: 1.5s;
  animation: target-fade 5s 1;
}
