// sass-lint:disable no-important
@include xs {
    .o-SizeXs {
        &--full {
            width: 100% !important;
            flex: none !important;
        }

        @if $grid-columns-12 == true {
            &--12of12 {
                width: 100% !important;
                flex: none !important;
            }

            &--1of12 {
                width: 8.3333% !important;
                flex: none !important;
            }

            &--2of12 {
                width: 16.6667% !important;
                flex: none !important;
            }

            &--3of12 {
                width: 25% !important;
                flex: none !important;
            }

            &--4of12 {
                width: 33.3333% !important;
                flex: none !important;
            }

            &--5of12 {
                width: 41.6667% !important;
                flex: none !important;
            }

            &--6of12 {
                width: 50% !important;
                flex: none !important;
            }

            &--7of12 {
                width: 58.3333% !important;
                flex: none !important;
            }

            &--8of12 {
                width: 66.6667% !important;
                flex: none !important;
            }

            &--9of12 {
                width: 75% !important;
                flex: none !important;
            }

            &--10of12 {
                width: 83.3333% !important;
                flex: none !important;
            }

            &--11of12 {
                width: 91.6667% !important;
                flex: none !important;
            }
        }

        @if $grid-columns-16 == true {
            &--16of16 {
                width: 100% !important;
                flex: none !important;
            }

            &--1of16 {
                width: 6.25% !important;
                flex: none !important;
            }

            &--2of16 {
                width: 12.5% !important;
                flex: none !important;
            }

            &--3of16 {
                width: 18.75% !important;
                flex: none !important;
            }

            &--4of16 {
                width: 25% !important;
                flex: none !important;
            }

            &--5of16 {
                width: 31.25% !important;
                flex: none !important;
            }

            &--6of16 {
                width: 37.5% !important;
                flex: none !important;
            }

            &--7of16 {
                width: 43.75% !important;
                flex: none !important;
            }

            &--8of16 {
                width: 50% !important;
                flex: none !important;
            }

            &--9of16 {
                width: 56.25% !important;
                flex: none !important;
            }

            &--10of16 {
                width: 62.75% !important;
                flex: none !important;
            }

            &--11of16 {
                width: 68.75% !important;
                flex: none !important;
            }

            &--12of16 {
                width: 75% !important;
                flex: none !important;
            }

            &--13of16 {
                width: 81.25% !important;
                flex: none !important;
            }

            &--14of16 {
                width: 87.5% !important;
                flex: none !important;
            }

            &--15of16 {
                width: 93.75% !important;
                flex: none !important;
            }
        }
    }
}
