$nav-responsive-padding: $g-spacer-sm 0;

$nav-responsive-toggle-top: 0;
$nav-responsive-toggle-right: 0;
$nav-responsive-toggle-zindex: $g-z-5;

$nav-responsive-menu-closed-maxheight: 2.2rem;
$nav-responsive-menu-open-maxheight: 32.4rem;

.NavResponsive {
  position: relative;
  padding: $nav-responsive-padding;

  .ToggleButton {
    position: absolute;
    top: $nav-responsive-toggle-top;
    right: $nav-responsive-toggle-right;
    z-index: $nav-responsive-toggle-zindex;
  }

  .Menu {
    margin: 0;
    position: relative;
    overflow: hidden;
    max-height: $nav-responsive-menu-closed-maxheight;
  }

  &.is-active {
    .Menu {
      max-height: $nav-responsive-menu-open-maxheight;
    }
  }
}