// ----------------------------------------------------------------------

// Settings: Accents

// ----------------------------------------------------------------------

////
/// @author   James Taylor
/// @group    jw
/// @created  19/06/2016
////

/// Reusable settings for common borders, gradients, box-shadows etc.

$c-border: $c-very-strong-trans-dark;

$g-border-radius:   4px;
$g-round-radius:    2000px;
$g-circular-radius: 50%;

$g-subtle-gradient: linear-gradient(transparent, $c-trans-dark);

$g-subtle-shadow: 0 1px 2px 0 $c-border;

$g-floating-shadow:
  0 2px 4px 0 $c-strong-trans-dark,
  0 2px 10px 0 $c-trans-dark;
