// ----------------------------------------------------------------------

// Settings: Font Sizes

// ----------------------------------------------------------------------

////
/// @author   James Taylor
/// @group    jw
/// @created  13/06/2016
////

/// Helper classes for font sizes *- should only be used for rapid
/// prototyping, remove for production)*
/// These classes match up with the BBC GEL Typography definitions
/// https://github.com/bbc/gel-typography
///
/// group-a: anything below 320px (xxs)
/// group-b: between 320px (xxs) and 768px (md)
/// group-c: above 768px
/// group-d: above 768px and a touch device (.touch)
///
/// *Note: settings.media-queries.scss must be import before this one

$base-font-size: $g-base-font-size;
$base-line-height: 1.33;

/// set up breakpoint variables for responsive typography
$gel-bp-type-b: map-get($g-mq-breakpoints, 'xxs');
$gel-bp-type-c: map-get($g-mq-breakpoints, 'md');

$gel-type-settings: (
    'canon': (
        'group-a': (
            'font-size': 28px,
            'line-height': 32px
        ),
        'group-b': (
            'font-size': 32px,
            'line-height': 36px
        ),
        'group-c': (
            'font-size': 52px,
            'line-height': 56px
        ),
        'group-d': (
            'font-size': 44px,
            'line-height': 48px
        )
    ),
    'canon-bold': (
        'group-a': (
            'font-weight': bold,
            'letter-spacing': -1px
        )
    ),
    'trafalgar': (
        'group-a': (
            'font-size': 20px,
            'line-height': 24px
        ),
        'group-b': (
            'font-size': 24px,
            'line-height': 28px
        ),
        'group-c': (
            'font-size': 36px,
            'line-height': 40px
        ),
        'group-d': (
            'font-size': 32px,
            'line-height': 36px
        )
    ),
    'trafalgar-bold': (
        'group-a': (
            'font-weight': bold,
            'letter-spacing': -1px
        )
    ),
    'double-pica': (
        'group-a': (
            'font-size': 20px,
            'line-height': 24px
        ),
        'group-c': (
            'font-size': 26px,
            'line-height': 30px
        ),
        'group-d': (
            'font-size': 24px,
            'line-height': 28px
        )
    ),
    'double-pica-bold': (
        'group-a': (
            'font-weight': bold,
            'letter-spacing': -1px
        )
    ),
    'great-primer': (
        'group-a': (
            'font-size': 18px,
            'line-height': 22px
        ),
        'group-c': (
            'font-size': 21px,
            'line-height': 24px
        ),
        'group-d': (
            'font-size': 20px
        )
    ),
    'great-primer-bold': (
        'group-a': (
            'font-weight': bold
        ),
        'group-b': (
            'letter-spacing': -1px
        )
    ),
    'pica': (
        'group-a': (
            'font-size': 15px,
            'line-height': 20px
        ),
        'group-b': (
            'font-size': 16px,
            'line-height': 20px
        ),
        'group-c': (
            'font-size': 18px,
            'line-height': 22px
        ),
        'group-d': (
            'font-size': 16px,
            'line-height': 20px
        )
    ),
    'pica-bold': (
        'group-a': (
            'font-weight': bold
        )
    ),
    'long-primer': (
        'group-a': (
            'font-size': 15px,
            'line-height': 18px
        ),
        'group-c': (
            'line-height': 20px
        ),
        'group-d': (
            'font-size': 14px,
            'line-height': 18px
        )
    ),
    'long-primer-bold': (
        'group-a': (
            'font-weight': bold
        )
    ),
    'brevier': (
        'group-a': (
            'font-size': 14px,
            'line-height': 16px
        ),
        'group-b': (
            'line-height': 18px
        ),
        'group-d': (
            'font-size': 13px,
            'line-height': 16px
        )
    ),
    'brevier-bold': (
        'group-a': (
            'font-weight': bold
        )
    ),
    'minion': (
        'group-a': (
            'font-size': 12px,
            'line-height': 16px,
            'text-transform': uppercase
        ),
        'group-c': (
            'font-size': 13px
        ),
        'group-d': (
            'font-size': 12px
        )
    ),
    'minion-bold': (
        'group-a': (
            'font-weight': bold
        )
    ),
    'body-copy': (
        'group-a': (
            'font-size': 15px,
            'line-height': 20px
        ),
        'group-b': (
            'font-size': 16px,
            'line-height': 22px
        ),
        'group-c': (
            'font-size': 16px,
            'line-height': 24px
        ),
        'group-d': (
            'font-size': 16px,
            'line-height': 22px
        )
    )
);
