// ----------------------------------------------------------------------

// Settings: State

// ----------------------------------------------------------------------

////
/// @author   James Taylor
/// @group    jw
/// @created  19/06/2016
////

/// Site wide state settings for disabled, error, success ect.

/// Disabled settings
$g-disabled-opacity: .45;
$g-disabled-text-color: rgba(40, 40, 40, .3);
