// ----------------------------------------------------------------------

// Settings: Transitions

// ----------------------------------------------------------------------

////
/// @author   James Taylor
/// @group    jw
/// @create   16/06/2016
////

/// Settings for common transitions eg. hover ect.


$g-trans-link-speed: .5s;

