// ----------------------------------------------------------------------

// Settings: z-index

// ----------------------------------------------------------------------

////
/// @author   James Taylor
/// @group    jw
/// @created  08/06/2016
////

/// Manage all the z-indexes in one place.
/// List all here in decending order to easily see which is on top

$g-z-base:  0;
$g-z-bg:    -1;

$g-z-1:     10;
$g-z-2:     20;
$g-z-3:     30;
$g-z-4:     40;
$g-z-5:     50;
$g-z-6:     60;
$g-z-7:     70;
$g-z-8:     80;
$g-z-9:     90;
$g-z-10:    100;
