// -----------------------------------

// Settings: Colours

// -----------------------------------

////
/// @author   James Taylor
/// @group    jw
/// @created  08/06/2016
////

/// Colour palette is set up using actual colour names at the top, then
/// each of these is assigned to a global variable (which is not named
/// according to its colour but by its function.
///
/// When referencing colour anywhere else in the project, the global
/// variable names must be used.
///
/// With this setup the whole of the sites colour palette can be amended
/// from within this file.

$c-palette: (
    black:  #000,
    white:  #fff,
    blue:   #2561ea,
    purple: #a530e5,
    teal:   #2fcde0,
    amber:  #f9c000,
    red:    #dd2228,
    green:  #0b9444,
    yellow: #e6d593,
    orange: #be7000
);

// Global color variables
$c-dark:      map-get($c-palette, black);
$c-dark-15:   lighten($c-dark, 15%);
$c-dark-30:   lighten($c-dark, 30%);
$c-dark-50:   lighten($c-dark, 50%);
$c-dark-75:   lighten($c-dark, 75%);
$c-light:     map-get($c-palette, white);
$c-light-15:  darken($c-light, 15%);
$c-light-30:  darken($c-light, 30%);
$c-light-50:  darken($c-light, 50%);
$c-light-75:  darken($c-light, 75%);

$c-primary:       map-get($c-palette, blue);
$c-primary-light: lighten($c-primary, 15%);
$c-primary-pale:  lighten($c-primary, 35%);
$c-primary-dark:  darken($c-primary, 15%);

$c-secondary:       map-get($c-palette, purple);
$c-secondary-light: lighten($c-secondary, 15%);
$c-secondary-dark:  darken($c-secondary, 15%);

$c-tertiary:       map-get($c-palette, teal);
$c-tertiary-light: lighten($c-secondary, 15%);
$c-tertiary-dark:  darken($c-secondary, 15%);

$c-highlight:       map-get($c-palette, yellow);
$c-highlight-light: lighten($c-highlight, 15%);
$c-highlight-dark:  darken($c-highlight, 15%);

$c-success: map-get($c-palette, green);
$c-success-dark: darken($c-success, 20%);
$c-success-light:   lighten($c-success, 15%);
$c-success-light-30:   lighten($c-success, 30%);
$c-success-light-50:   lighten($c-success, 50%);

$c-warning: map-get($c-palette, orange);
$c-warning-dark:   darken($c-warning, 20%);
$c-warning-light:   lighten($c-warning, 15%);
$c-warning-light-30:   lighten($c-warning, 30%);
$c-warning-light-50:   lighten($c-warning, 50%);

$c-danger:   map-get($c-palette, red);
$c-danger-dark:   darken($c-danger, 20%);
$c-danger-light:   lighten($c-danger, 15%);
$c-danger-light-30:   lighten($c-danger, 30%);
$c-danger-light-50:   lighten($c-danger, 50%);

$c-disabled: $c-light-15;
$c-disabled-dark: $c-light-30;

// Brand colors for social channels
$g-social-colors: (
    facebook:   #3b5998,
    twitter:    #0084b4,
    googlePlus: #dc4a38,
    linkedIn:   #1f88be,
    youtube:    #cc181e,
    instagram:  #49769c,
    pinterest:  #00aced
);

$c-subtle-trans-dark: rgba(0, 0, 0, .03);
$c-trans-dark: rgba(0, 0, 0, .05);
$c-strong-trans-dark: rgba(0, 0, 0, .1);
$c-very-strong-trans-dark: rgba(0, 0, 0, .15);

$c-subtle-trans-light: rgba(255, 255, 255, .03);
$c-trans-light: rgba(255, 255, 255, .08);
$c-strong-trans-light: rgba(255, 255, 255, .12);
$c-very-strong-trans-light: rgba(255, 255, 255, .2);
