// ----------------------------------------------------------------------

// Settings: Animations

// ----------------------------------------------------------------------

////
/// @author   James Taylor
/// @group    jw
/// @create   19/09/2016
////

/// Settings for common animation.

@keyframes bounceInUp {

  0% {
    opacity: 0;
    transform: translateY(2000px);
  }

  60% {
    opacity: 1;
    transform: translateY(-30px);
  }

  80% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0);
  }

}

@keyframes spin {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }

}

@keyframes popin {

  from {
    transform: scale(.95) translateY(10px);
  }

  to {
    transform: rotate(1) translateY(-10px);
  }

}

$target-fade-bg: $c-highlight;

@keyframes target-fade {
  0% {
    background-color: rgba($target-fade-bg, .7);
  }

  100% {
    background-color: rgba($target-fade-bg, 0);
  }
}
