// ----------------------------------------------------------------------

// Settings: Grid

// ----------------------------------------------------------------------

////
/// @author   Jaywing
/// @group    jw
/// @created  08/06/2016
////

// settings for flexbox grid;
$grid-columns-12: true !default;
$grid-columns-16: false !default;

$grid-gutter-width: $g-spacer !default;

$container-max-widths: (xs: 460px, sm: 615px, md: 720px, lg: 930px, xl: 1140px, xxl: 1280px) !default;
