// ----------------------------------------------------------------------

// Settings: sizes

// ----------------------------------------------------------------------

////
/// @author   James Taylor
/// @group    jw
/// @created  08/06/2016
////

$g-spacer:      1rem;

$g-spacer-lg:   $g-spacer * 1.5;
$g-spacer-xl:   $g-spacer * 2;
$g-spacer-xxl:  $g-spacer * 3;

$g-spacer-sm:   $g-spacer / 2;
$g-spacer-xs:   $g-spacer / 4;
$g-spacer-xxs:  $g-spacer / 6;

$g-spacer-tiny:  $g-spacer / 8;

$g-golden-sm: 38.196602%;
$g-golden-lg: 61.803398%;
