// ----------------------------------------------------------------------

// Settings: Index

// ----------------------------------------------------------------------

////
/// @author   James Taylor
/// @group    jw
/// @created  08/06/2016
////

// Imports all the settings files

@import 'settings.global';
@import 'settings.media-queries'; // it is important that this file is second as other files below rely on its variables
@import 'settings.animations';
@import 'settings.colors';
@import 'settings.accents';
@import 'settings.fonts';
@import 'settings.sizes';
@import 'settings.z-index';
@import 'settings.transitions';
@import 'settings.state';
@import 'settings.grid';
@import 'settings.font-sizes'; // uses media queries settings
