{% from 'macros/icon.njk' import icon %}
<!doctype html>
<!--#if expr="$HTTP_COOKIE=/fonts\-loaded\=true/" -->
<html lang="{{ lang }}" class="fonts-loaded">
<!--#else -->
<html lang="{{ lang }}">
<!--#endif -->
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="author" content="{{ author }}"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1"/>
  <title>{% block metaTitle %}Gulp Asset Pipeline{% endblock %}</title>

  <!-- standard styles - hidden from < ie10 -->
  <link rel="stylesheet" href="/css/docs.css">

  {% include 'shared/app-icons.njk' %}

  {% block head %}{% endblock %}

</head>
<body id="top" class="o-site u-scrollY">

  <a href="#content" class="c-skip-link">Skip to content</a>

  <header class="o-site__header t-global-header">

    <a href="#content" class="c-skip-link c-button ">{{ icon('arrow-down') }} Skip to content</a>

    {% include 'shared/section-nav.njk' %}
  </header>

  <main id="content" class="o-site__content">
  {% block main %}
    <div class="o-container o-container--centered">

      <div class="o-flex-grid o-flex-grid@md--reverse o-flex-grid@md--gutters o-flex-grid@xl--gutters@xl" data-module="Sticky" data-sticky-container>

        <article class="o-flex-grid__cell o-size@md--9">
          {% block content %}

          {% endblock %}
        </article>

        <section class="o-flex-grid__cell o-size--full o-size@md--3">
          {% block sidebar %}
            {% include 'shared/page-nav.njk' %}
          {% endblock %}
        </section>

      </div>

    </div>

  {% endblock %}
  </main>

  <footer class="o-site__footer t-footer">
    <div class="o-container o-container--centered">
      <p>&copy; Made with ♥ at <a href="http://jaywing.com">Jaywing</a>. <small>v{{version}}</small></p>
    </div>
  </footer>

  {# <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script> #}

  <script src="/js/app.js" async></script>

  {% block javascript %}{% endblock %}

</body>
</html>
