{% from "components/Menu/MenuHeader.component.njk" import MenuHeader %}
{% from "components/Menu/MenuLink.component.njk" import MenuLink %}

{% macro SubMenu(items) %}
    <ul class="c-menu is-dropdown-menu c-menu--vertical {{ classList }}">
      {% for item in items %}
        {{ MenuItem(item, activeItem, activeClass) }}
      {% endfor %}
    </ul>
{% endmacro %}

{% macro MenuItem(
item,
activeItem,
activeClass)
%}
  {% set classList = "" %}
  {% if item.classList %}
    {% set classList = item.classList %}
  {% endif %}

  {% if item.id and activeItem %}
    {% if not activeClass %}
      {% set activeClass = "is-active" %}
    {% endif %}
    {% if item.id == activeItem %}
      {% set classList = classList + ' ' + activeClass %}
    {% endif %}
  {% endif %}

  {% if item.children %}
    {% set classList = classList + ' ' + "is-dropdown-menu-parent" %}
  {% endif %}

  <li class="c-menu__item {{ classList }}">
    {% if item.header %}
      {{ MenuHeader(item) }}
    {% else %}
      {% if item.url %}
        {{ MenuLink(item) }}
      {% else %}
        {{ item.text }}
      {% endif %}
    {% endif %}
    {% if item.children %}
      {{ SubMenu(item.children) }}
    {% endif %}
  </li>

{% endmacro %}
