@include xxl {
    .NavResponsiveXxl,
    .NavResponsiveXxl.is-active {
        padding: 0;

        .ToggleButton {
            display: none;
        }

        .Menu {
            max-height: none;
        }
    }
}
