@include sm {
    .NavResponsiveSm,
    .NavResponsiveSm.is-active {
        padding-top: 0;

        .ToggleButton {
            display: none;
        }

        .Menu {
            max-height: none;
        }
    }
}
