// Name:            Sidebar
// Description:     Defines styles for sidebar based layout.
//
// Component:       `o-Sidebar`
//
// Sub-objects:     `o-Sidebar-column`
//                  `o-Sidebar-content`
//
// Modifiers:       `o-Sidebar--lg`
//                  `o-Sidebar--xl`
//                  `o-Sidebar--reverse`
//                  `o-Sidebar--gutter`
//
// Markup:
//
// <!-- o-Grid -->
// <div class="o-Sidebar">
//   <div class="o-Sidebar-column">...</div>
//   <div class="o-Sidebar-content">...</div>
// </div>
//
// ========================================================================


// Variables
// ========================================================================

$sidebar-width: 20%;
$sidebar-gutter: $g-spacer;


// ========================================================================
// Component: Sidebar
// ========================================================================

.o-Sidebar {
  list-style: none;
  margin: 0;
  padding: 0;
}

@include md {

  .o-Sidebar:not(.o-Sidebar--lg):not(.o-Sidebar--xl) {

    display: flex;
    flex-wrap: wrap;

    &.o-Sidebar--reverse {
      flex-direction: row-reverse;
    }

    > .o-Sidebar-column {
      width: $sidebar-width;
    }

    > .o-Sidebar-content {
      flex: 1;
      max-width: 50rem;
    }

  }

  .o-Sidebar--gutter {
    margin: -($sidebar-gutter) 0 $sidebar-gutter -($sidebar-gutter);

    > .o-Sidebar-content {
      padding: $sidebar-gutter 0 0 $sidebar-gutter;
    }

  }

}

@include lg {

  .o-Sidebar--lg {

    display: flex;
    flex-wrap: wrap;

    > .o-Sidebar-column {
      width: $sidebar-width;
    }

    > .o-Sidebar-content {
      flex: 1;
    }

  }

}

@include xl {

  .o-Sidebar--xl {

    display: flex;
    flex-wrap: wrap;

    > .o-Sidebar-column {
      width: $sidebar-width;
    }

    > .o-Sidebar-content {
      flex: 1;
    }

  }

}
