// ----------------------------------------------------------------------

// Tools: reset-list

// ----------------------------------------------------------------------

////
/// @author   Jaywing
/// @group    jw
/// @created  08/06/2016
////

/// Resets bullets, padding and margin from lists
///
/// @example scss - Usage
/// .list-element {
///   @include reset-list;
/// }

@mixin reset-list {
    padding: 0;
    margin: 0;
    list-style: none;
}
