{#
Nunjucks Templating!
Homepage: https://mozilla.github.io/nunjucks/
Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% set pageid = 'nav-simple' %}
{% set sectionid = 'extended' %}

{% extends '_layouts/docs/layout.docs.master.njk' %}
{% from '_macros/helpers.njk' import icon, navItem %}
{% from '_components/NavSimple/NavSimple.component.njk' import NavSimple %}

{% block metaTitle %}Responsive images | Atomic: Components{% endblock %}

{% block content %}

  <h1 class="Article-title">Simple Nav</h1>
  <p class="Text--lead"></p>

  <hr class="Article-divider">
  <h2 id="section-dependencies"><a href="#section-usage" class="Text--resetLink">Dependencies</a></h2>
  <ul>
    <li><a href="menu.html">Menu</a></li>
    <li><a href="togglebutton.html">ToggleButton</a></li>
  </ul>

  <h2 id="section-usage"><a href="#section-usage" class="Text--resetLink">Usage</a></h2>

  <h3>Component template</h3>

  <dl class="Definition Definition--horizontal">
    <dt>Component name</dt>
    <dd><strong>NavSimple</strong></dd>
    <dt>Parameters</dt>
    <dd><strong>* id</strong> - unique identifier (used for toggling)</dd>
    <dd><strong>* menuItems</strong> - json object with menu item data (see Menu component)</dd>
    <dd><strong>activeItem</strong> - item id of active index</dd>
    <dd><strong>activeClass</strong> - is 'is-active' by default</dd>
    <dd><strong>classList</strong> - any extra classes for the NavSimple container</dd>
    <dd><strong>menuClassList</strong> - any extra classes for the NavSimple-menu sub-component</dd>
    <dd><strong>togglerClassList</strong> - any extra classes for the NavSimple-toggler sub-component</dd>
  </dl>
  <p><strong>*</strong> <small>Required</small></p>

  <h3>Basic</h3>

  <div class="docs-example">
    {{
    NavSimple(
      'navBasic',
      pages)
    }}
  </div>

  <div class="docs-code">
    <pre><code class="html">&#123;&#123; NavSimple(
  'navBasic',
  pages
) &#125;&#125;</code></pre>
  </div>

  <h3>Active item</h3>
  <div class="docs-example">
    {{
      NavSimple(
        'navActiveItem',
        pages,
        'index')
    }}
  </div>

  <div class="docs-code">
    <pre><code class="html">&#123;&#123; NavSimple(
  'navBasic',
  pages,
  'index'
) &#125;&#125;</code></pre>
  </div>

  <h3>Active class</h3>
  <p>By default the active class is '<code>is-active</code>' but can pass in an alternative.</p>
  <div class="docs-example">
    {{
      NavSimple(
        'navActiveClass',
        pages,
        'index',
        'is-active-alt')
    }}
  </div>

  <div class="docs-code">
    <pre><code class="html">&#123;&#123; NavSimple(
  'navActiveClass',
  pages,
  'index',
  'is-active-alt'
) &#125;&#125;</code></pre>
  </div>

  <h3>Alignment</h3>
  <p>By default it is left aligned, but you can reverse that (<code>NavSimple--right</code>).</p>
  <p>The second example uses the <code>menuClassList</code>parameter to align the menu items to the right {<code>Menu--right</code>).</p>
  <div class="docs-example">
    {{
      NavSimple(
        'navAlignment',
        pages,
        'index',
        '',
        'NavSimple--right')
    }}

    {{
      NavSimple(
        'navAlignmentMenu',
        pages,
        'index',
        '',
        'NavSimple--right',
        'Menu--right')
    }}
  </div>

  <div class="docs-code">
    <pre><code class="html">&#123;&#123; NavSimple(
  'navAlignment',
  pages,
  'index',
  '',
  'NavSimple--right'
) &#125;&#125;

&#123;&#123; NavSimple(
  'navAlignmentMenu',
  pages,
  'index',
  '',
  'NavSimple--right',
  'Menu--right'
) &#125;&#125;</code></pre>
  </div>

  <h3>Responsive</h3>
  <p></p>
  <div class="docs-example">
    <strong>Breaks @640px</strong>
    {{
      NavSimple(
        'navResponsiveSm',
        pages,
        'index',
        '',
        'NavSimpleSm',
        'Menu--vertical MenuSm')
    }}
    <strong>Breaks @768px</strong>
    {{
      NavSimple(
        'navResponsiveMd',
        pages,
        'index',
        '',
        'NavSimpleMd',
        'Menu--vertical MenuMd')
    }}
    <strong>Breaks @960px</strong>
    {{
      NavSimple(
        'navResponsiveLg',
        pages,
        'index',
        '',
        'NavSimpleLg',
        'Menu--vertical MenuLg')
    }}
    <strong>Breaks @1180px</strong>
    {{
      NavSimple(
        'navResponsiveXl',
        pages,
        'index',
        '',
        'NavSimpleXl',
        'Menu--vertical MenuXl')
    }}
  </div>

  <div class="docs-code">
    <pre><code class="html">&#123;&#123; NavSimple(
  'navAlignment',
  pages,
  'index',
  '',
  'NavSimple--right'
) &#125;&#125;

&#123;&#123; NavSimple(
  'navAlignmentMenu',
  pages,
  'index',
  '',
  'NavSimple--right',
  'Menu--right'
) &#125;&#125;</code></pre>
  </div>

  <div class="docs-example">
    {{
      NavSimple(
        'navMain',
        pages,
        'index',
        'is-active',
        'NavSimpleMd NavSimple--right',
        'MenuMd')
    }}
  </div>

{% endblock %}

{% block javascript %}
  <script src="/javascripts/app.js" async></script>
{% endblock %}

