$panel-box-bg: $c-light !default;
$panel-box-border: 1px solid $c-border !default;
$panel-box-badge-pos: $g-spacer-sm !default;
$panel-box-padding: $g-spacer !default;
$panel-box-stacked-bg: rgba($c-dark, 0.03) !default;

.c-panel--box {
    padding: $panel-box-padding;
    border: $panel-box-border;
    background: $panel-box-bg;

    .c-panel__badge {
        top: $panel-box-badge-pos;
        right: $panel-box-badge-pos;
    }

    .c-panel__teaser {
        position: relative;
        top: 1px;
        overflow: hidden;
        margin-top: -($panel-box-padding);
        margin-right: -($panel-box-padding);
        margin-left: -($panel-box-padding);

        img,
        object,
        video {
            display: block;
            max-width: 100%;
            height: auto;
        }
    }

    &.c-panel--attached {
        border-top: 0;
    }

    &.c-panel--stacked {
        &::after {
            position: absolute;
            bottom: -3px;
            left: 0;
            width: 100%;
            height: 6px;
            border-top: $panel-box-border;
            background: $panel-box-stacked-bg;
            content: '';
            visibility: visible;
        }
    }

    &.c-panel--piled {
        &::after,
        &::before {
            position: absolute;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;
            border: $panel-box-border;
            background: $panel-box-bg;
            content: '';
        }

        &::after {
            z-index: -1;
            top: 0;
            transform: rotate(0.75deg);
        }

        &::before {
            z-index: -2;
            top: 0;
            transform: rotate(-0.75deg);
        }
    }
}
