$panel-box-secondary-bg: $c-strong-trans-dark !default;
$panel-box-secondary-border-color: $c-border !default;
$panel-secondary-color: inherit !default;

.c-Panel--secondary {
    color: $panel-secondary-color;

    .c-Panel-title {
        color: $panel-secondary-color;
    }

    &.c-Panel--box {
        background: $panel-box-secondary-bg;
        border-color: $panel-box-secondary-border-color;
    }
}
