.Panels {
    margin: $panels-margin;

    > .c-panel {
        margin: 0;
    }
}

.Panels--horizontal {
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;

    > .c-panel {
        flex: 1;
    }

    > .c-panel--box {
        border-right: 0;

        &:last-child {
            border-right: $panel-box-border;
        }
    }
}

.Panels--hidden {
    > .c-panel {
        display: none;

        &.is-active {
            display: block;
        }
    }
}

.Panels:not(.Panels--horizontal, .Panels--hidden) {
    > .c-panel--box:not(.c-panel--attached) {
        border-bottom: 0;

        &:first-child {
        }

        &:last-child {
            border-bottom: $panel-box-border;
        }
    }
}

.Panels--attached {
    margin-top: 0;
}
