$panel-success-color: $c-success !default;
$panel-box-success-color: $c-success-dark !default;
$panel-box-success-bg: $c-success-light-50 !default;
$panel-box-success-border-color: $c-success-dark !default;

.c-Panel--success {
    color: $panel-success-color;

    .c-Panel-title {
        color: $panel-success-color;
    }

    &.c-Panel--box {
        background: $panel-box-success-bg;
        border-color: $panel-box-success-border-color;
        color: $panel-box-success-color;

        .c-Panel-title {
            color: $panel-box-success-color;
        }
    }
}
