$panel-box-secondary-bg: $c-strong-trans-dark !default;
$panel-box-secondary-border-color: $c-border !default;
$panel-secondary-color: inherit !default;

.Panel--secondary {
    color: $panel-secondary-color;

    .Panel-title {
        color: $panel-secondary-color;
    }

    &.Panel--box {
        background: $panel-box-secondary-bg;
        border-color: $panel-box-secondary-border-color;
    }
}
