{#
Nunjucks Templating!
Homepage: https://mozilla.github.io/nunjucks/
Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% set pageid = 'support' %}
{% set sectionid = 'getting-started' %}

{% extends '_layouts/docs/layout.docs.master.njk' %}

{% block metaTitle %}Support | Atomic: Getting started{% endblock %}

{% block content %}

<h1 class="Article-title">Browser &amp; Device Support</h1>
<p class="Text--lead">Below is a list of browsers/devices which Atomic must support has therefore been tested on.</p>

<hr>
<h2 id="section-support-grades"><a href="#section-support-grades" class="Text--resetLink">Grades of Support</a></h2>

<h3>Grade 'A' Support</h3>
<p>Grade ‘A’ browsers and devices support the highest level of functionality and visual richness and the user experience will be constant, though not necessarily identical. All code will be optimised for grade ‘A’ browsers and devices. This optimisation means that we will specifically check and debug the site’s presentation, functionality and behaviour.</p>

<h3>Grade 'B' Support</h3>
<p>Grade ‘B’ is the base level of support, providing core content and functionality. Delivered via semantic HTML and basic CSS the content and experience is highly accessible, may have limited (if any) decoration or advanced functionality. Layers of style and behaviour may be omitted.</p>

<h2 id="section-browsers"><a href="#section-browsers" class="Text--resetLink">Support browsers</a></h2>

<table class="Table Table--striped">
  <thead>
  <tr>
    <th>Operating system / version</th>
    <th>Browser</th>
    <th>Grade</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Windows</td>
    <td>Edge *</td>
    <td>A</td>
  </tr>
  <tr>
    <td>Windows 7 &amp; 8</td>
    <td>Internet Explorer 11 ^</td>
    <td>A</td>
  </tr>
  <tr>
    <td>Windows 10</td>
    <td>Internet Explorer</td>
    <td>A</td>
  </tr>
  <tr>
    <td>Windows</td>
    <td>Chrome *</td>
    <td>A</td>
  </tr>
  <tr>
    <td>Windows</td>
    <td>Firefox *</td>
    <td>A</td>
  </tr>
  <tr>
    <td>Mac</td>
    <td>Safari *</td>
    <td>A</td>
  </tr>
  <tr>
    <td>Mac</td>
    <td>Chrome *</td>
    <td>A</td>
  </tr>
  </tbody>
</table>
<p><strong class="Badge">Note</strong> for older legacy versions of IE (up to v 9) a separate <a href="https://code.google.com/archive/p/universal-ie6-css/">universal stylesheet</a> will be served (and not the site specific styles). This is included within conditional comments so that it is only served to the legacy IE versions.</p>
<p><strong class="Badge">Note</strong> Atomic uses the <a href="https://justmarkup.com/log/2015/02/cut-the-mustard-revisited/">'cutting the mustard'</a> method to only execute javascript if the browser meets the minimum requirements.</p>

<h3>Mobile and tablet support</h3>
<table class="Table Table--striped">
  <thead>
  <tr>
    <th>Device</th>
    <th>Operating system / version</th>
    <th>Browser</th>
    <th>Grade</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>iPhone 6s</td>
    <td>iOS 9</td>
    <td>Safari*, Chrome*</td>
    <td>A</td>
  </tr>
  <tr>
    <td>iPhone 6s Plus</td>
    <td>iOS 9</td>
    <td>Safari*, Chrome*</td>
    <td>A</td>
  </tr>
  <tr>
    <td>iPhone 5</td>
    <td>iOS 9</td>
    <td>Safari*, Chrome*</td>
    <td>A</td>
  </tr>
  <tr>
    <td>iPhone 5s</td>
    <td>iOS 8</td>
    <td>Safari*, Chrome*</td>
    <td>A</td>
  </tr>
  <tr>
    <td>iPhone 4s</td>
    <td>iOS 7</td>
    <td>Safari*, Chrome*</td>
    <td>B</td>
  </tr>
  <tr>
    <td>iPad 3</td>
    <td>iOS 9</td>
    <td>Safari*, Chrome*</td>
    <td>A</td>
  </tr>
  <tr>
    <td>iPad Air 2</td>
    <td>iOS 9</td>
    <td>Safari*, Chrome*</td>
    <td>A</td>
  </tr>
  <tr>
    <td>Samsung Galaxy S6</td>
    <td>TouchWiz 6.0/6.0</td>
    <td>Chrome*</td>
    <td>A</td>
  </tr>
  <tr>
    <td>Google Nexus 5</td>
    <td>Vanilla / 5.1</td>
    <td>Chrome*</td>
    <td>A</td>
  </tr>
  <tr>
    <td>Samsung Galaxy S4</td>
    <td>TouchWiz 5.0/5.0</td>
    <td>Chrome*</td>
    <td>A</td>
  </tr>
  <tr>
    <td>Motorolla MOTO G</td>
    <td>Vanilla / 4.4</td>
    <td>Chrome*</td>
    <td>A</td>
  </tr>
  <tr>
    <td>Samsung Galaxy S3</td>
    <td>TouchWiz 2.5/4.3</td>
    <td>Android stock*, Chrome*</td>
    <td>B</td>
  </tr>
  <tr>
    <td>Samsung Galaxy Note 3</td>
    <td>TouchWiz Nature UX 3.5 / 4.4</td>
    <td>Chrome*</td>
    <td>A</td>
  </tr>
  </tbody>
</table>
<caption><small>* Latest browser version</small></caption>


{% endblock %}

{% block javascript %}
<script src="/javascripts/app.js"></script>
{% endblock %}