$section-padding: $g-spacer-lg 0 !default;
$section-tall-padding: $g-spacer-xxl 0 !default;
$section-short-padding: $g-spacer-sm 0 !default;

.o-section {
    padding: $section-padding;

    &--collapse {
        padding: 0;
    }

    &--tall {
        padding: $section-tall-padding;
    }

    &--short {
        padding: $section-short-padding;
    }
}
