{#
Nunjucks Templating!
Homepage: https://mozilla.github.io/nunjucks/
Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% set pageid = 'index' %}
{% set sectionid = 'getting-started' %}

{% extends 'layouts/application.njk' %}

{% block metaTitle %}Installation | Atomic: Getting started{% endblock %}

{% block content %}

<h1 class="Article-title">Installation</h1>

<h2>Requirements</h2>

<p>
Requires at least version 6 of Node. We reccomend using <a href="https://github.com/creationix/nvm" target="blank">nvm</a> to install and manage
your Node versions.</p>

<h2>Installation</h2>

<p>Clone from github, install node modules and run atomic.</p>

<div class="docs-code docs-code--cmd">
    <pre><code>
    yarn install
    yarn start
    </code></pre>
</div>

{% endblock %}

{% block javascript %}
{% endblock %}
