// ----------------------------------------------------------------------

// Object: Media

// ----------------------------------------------------------------------

////
/// @author   James Taylor
/// @group    jw
/// @create   14/06/2016
////

/// @example HTML
/// ```
/// <article class="o-Media">
///   <figure class="o-Media-figure">
///     <img ....
///   </figure>
///   <div class="o-Media-body">
///     ...
///   </div>
/// </article>
/// ```


$media-spacing:     $g-spacer;
$media-golden-sml:  $g-golden-sm;


.o-Media {
  display: flex;
  align-items: flex-start;

  &--bottom {
    align-items: flex-end;
  }

  &--center {
    align-items: center;
  }

  &--reverse {
    flex-direction: row-reverse;
  }

  &--alternate:nth-of-type(even) {
    flex-direction: row-reverse;
  }

  &--golden {

    > .o-Media-figure {
      width: $media-golden-sml;
    }
  }

  &-body {
    flex: 1;
    margin-top: 0;
    padding-bottom: $media-spacing;
  }

}

.o-Media-figure {
  padding-right: $media-spacing;
  padding-bottom: $media-spacing;

  .o-Media--reverse &,
  .o-Media--alternate:nth-of-type(even) & {
    padding-right: 0;
    padding-left: $media-spacing;
  }

  .o-Media--center & {
    img {
      vertical-align: middle;
    }
  }
}

.o-Media--collapse {
  > .o-Media-figure,
  > .o-Media-body {
    padding: 0;
  }
}