$nav-item-v-padding: $g-spacer-xxs;
$nav-item-h-padding: $g-spacer-sm;
$nav-item-padding: $nav-item-v-padding $nav-item-h-padding;
$nav-item-nested-l-padding: $g-spacer;
$nav-header-margin: $g-spacer 0 0;


.Nav,
.Nav ul {
  @include reset-list;
}

.Nav-item {
  ul {
    padding-left: $nav-item-nested-l-padding;
  }
}

.Nav-header {
  @include trim-child-margins;

  margin: $nav-header-margin;
  padding: $nav-item-padding;
}

.Nav-header,
.Nav-link {
  padding: $nav-item-padding;
}

.Nav-link {
  display: block;
}
