$nav-link-bg: transparent;
$nav-link-hover-bg: $c-trans-dark;
$nav-link-underline: none;


.NavBar {
  text-transform: uppercase;
}

.Nav-item {
  &.is-active {
    font-weight: bold;
  }
}

.Nav-link {
  @include color-swap-on-hover($nav-link-bg, $nav-link-hover-bg, .5s, true);
  text-decoration: $nav-link-underline;
}
