
// Variables
// ========================================================================

$menu-link-color: $link-color !default;
$menu-link-bg: transparent !default;
$menu-link-border-radius: $g-border-radius !default;
$menu-link-hover-color: $link-hover-color !default;
$menu-link-hover-bg: $c-strong-trans-dark !default;
$menu-link-text-decoration: none !default;
$menu-link-text-align: center !default;
$menu-link-trans-speed: $g-trans-link-speed !default;
$menu-link-active-color: $c-light !default;
$menu-link-active-bg: $menu-link-color !default;

$menu-margin: $g-spacer 0 !default;
$menu-margin-nested: $g-spacer !default;

$menu-item-padding: $g-spacer-sm !default;
$menu-item-divider-size: 0 !default;
$menu-item-divider-bg: transparent !default;
$menu-item-active-font-weight: $g-weight-bold !default;

$menu-link-padding: $g-spacer-sm !default;
$menu-link-font-weight: $g-weight-normal !default;

$menu-title-padding: $g-spacer-sm !default;
$menu-title-font-weight: $g-weight-bold !default;


// ========================================================================
// Component: Menu
// ========================================================================

.Menu {
  @include trim-child-margins;
  @include reset-list;

  margin: $menu-margin -($menu-item-padding);
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;

  input,
  a,
  button {
    margin-bottom: 0;
  }

  // Alignment modifiers
  &--right {
    justify-content: flex-end;
  }

  &--center {
    justify-content: center;
  }

  &--expanded {

    > .Menu-item {
      flex: 1 1 0%;
      min-width: 0;
    }

  }

  &--attached {
    margin-bottom: 0;
  }

}

.Menu-item {
  flex: 0 0 auto;
  padding: $menu-item-padding;

  &--right {
    // scss-lint:disable ImportantRule
    display: flex;
    margin-left: auto !important;
  }

  &--left {
    // scss-lint:disable ImportantRule
    display: flex;
    margin-right: auto !important;
  }
}

.Menu-link {
  display: block;
  padding: $menu-link-padding;
  text-decoration: $menu-link-text-decoration;
  text-align: $menu-link-text-align;
  border-radius: $menu-link-border-radius;

  @include color-swap-on-hover(
          $menu-link-color $menu-link-bg,
          $menu-link-hover-color $menu-link-hover-bg,
          $menu-link-trans-speed
  );

  .Icon svg {
    fill: $menu-link-color;
  }

  .is-active > &,
  &.is-active {
    @include color-swap-on-hover(
            $menu-link-active-color $menu-link-active-bg,
            $menu-link-active-color $menu-link-active-bg,
            $menu-link-trans-speed
    );
  }
}

.Menu-header {
  display: block;
  padding: $menu-title-padding;
  font-weight: $menu-title-font-weight;
}
