@include xxl {
  .MenuXxl {
    flex-wrap: nowrap;

    .Menu-item {
      flex: 0 0 auto;
      padding: $menu-item-padding;
    }

    .Menu-link {
      padding: $menu-link-padding;
    }

    .Menu-header {
      padding: $menu-title-padding;
      margin: -($menu-title-padding);
    }
  }
}