
// Variables
// ========================================================================

$menu-margin: $g-spacer 0;
$menu-margin-nested: $g-spacer;

$menu-item-padding: $g-spacer-sm;
$menu-item-divider-size: 0;
$menu-item-divider-bg: transparent;
$menu-item-active-font-weight: $g-weight-bold;

$menu-link-padding: $g-spacer-sm;
$menu-link-font-weight: $g-weight-normal;

$menu-title-padding: $g-spacer-sm;
$menu-title-font-weight: $g-weight-bold;


// ========================================================================
// Component: Menu
// ========================================================================

.Menu {
  @include trim-child-margins;
  @include reset-list;

  margin: $menu-margin -($menu-item-padding);
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;

  input,
  a,
  button {
    margin-bottom: 0;
  }

  // Alignment modifiers
  &--right {
    justify-content: flex-end;
  }

  &--center {
    justify-content: center;
  }

  &--expanded {

    > .Menu-item {
      flex: 1 1 0;
    }

  }

}

.Menu-item {
  flex: 0 0 auto;
  padding: $menu-item-padding;

  &.is-active {
    font-weight: $menu-item-active-font-weight;
  }
}

.Menu-link {
  display: block;
  padding: $menu-link-padding;
}

.Menu-title {
  display: block;
  padding: $menu-title-padding;
  font-weight: $menu-title-font-weight;
}
