
// Variables
// ========================================================================

$menu-link-color: $link-color;
$menu-link-bg: transparent;
$menu-link-hover-color: $link-hover-color;
$menu-link-hover-bg: $c-strong-trans-dark;
$menu-link-text-decoration: none;
$menu-link-text-align: center;
$menu-link-trans-speed: $g-trans-link-speed;
$menu-link-active-color: $c-light;
$menu-link-active-bg: $menu-link-color;


$menu-margin: $g-spacer 0;
$menu-margin-nested: $g-spacer;

$menu-item-padding: $g-spacer-sm;
$menu-item-divider-size: 0;
$menu-item-divider-bg: transparent;
$menu-item-active-font-weight: $g-weight-bold;

$menu-link-padding: $g-spacer-sm;
$menu-link-font-weight: $g-weight-normal;

$menu-title-padding: $g-spacer-sm;
$menu-title-font-weight: $g-weight-bold;


// ========================================================================
// Component: Menu
// ========================================================================

.Menu {
  @include trim-child-margins;
  @include reset-list;

  margin: $menu-margin -($menu-item-padding);
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;

  input,
  a,
  button {
    margin-bottom: 0;
  }

  // Alignment modifiers
  &--right {
    justify-content: flex-end;
  }

  &--center {
    justify-content: center;
  }

  &--expanded {

    > .Menu-item {
      flex: 1 1 0;
    }

  }

}

.Menu-item {
  flex: 0 0 auto;
  padding: $menu-item-padding;

  &.Menu-link {
    margin: $menu-item-padding;
  }

  &--right {
    // scss-lint:disable ImportantRule
    display: flex;
    margin-left: auto !important;
  }

  &--left {
    // scss-lint:disable ImportantRule
    display: flex;
    margin-right: auto !important;
  }
}

.Menu-link {
  display: block;
  padding: $menu-link-padding;
  text-decoration: $menu-link-text-decoration;
  text-align: $menu-link-text-align;

  &:not(.Text--disabled) {
    @include color-swap-on-hover(
            $menu-link-color $menu-link-bg,
            $menu-link-hover-color $menu-link-hover-bg,
            $menu-link-trans-speed
    );
  }


  .is-active &,
  &.is-active {
    @include color-swap-on-hover(
            $menu-link-active-color $menu-link-active-bg,
            $menu-link-active-color $menu-link-active-bg,
            $menu-link-trans-speed
    );
  }
}

.Menu-title {
  display: block;
  padding: $menu-title-padding;
  font-weight: $menu-title-font-weight;
}
