@include lg {
  .MenuLg {
    flex-wrap: nowrap;

    .Menu-item {
      flex: 0 0 auto;
      padding: $menu-item-padding;
    }

    .Menu-link {
      padding: $menu-link-padding;
    }

    .Menu-header {
      margin: -($menu-header-padding);
      padding: $menu-header-padding;
    }
  }
}
