// Name:            Grid Medium
// Description:     Defines styles for flexbox based grid layout for medium devices (768px +).
//
// Component:       `o-Grid\@md`
//
// Sub-objects:     `o-Grid-cell`
//
// Modifiers:       `o-Grid\@md--reverse`
//                  `o-Grid\@md--1of2`
//                  `o-Grid\@md--1of3`
//                  `o-Grid\@md--1of4`
//                  `o-Grid\@md--gutters`
//                  `o-Grid\@md--gutters\@lg`
//                  `o-Grid\@md--gutters\@xl`
//
//
// Markup:
//
// <!-- o-Grid -->
// <div class="o-Grid o-Grid\@md--1of3">
//   <div class="o-Grid-cell">...</div>
//   <div class="o-Grid-cell">...</div>
//   <div class="o-Grid-cell">...</div>
// </div>
//
// ========================================================================

// Breakpoints
// ========================================================================

@include md {
    .o-Grid\@md {
        &--reverse {
            flex-direction: row-reverse;
        }

        &--fit {
            > .o-Grid-cell {
                flex: 1;
            }
        }

        &--full {
            > .o-Grid-cell {
                flex: 0 0 100%;
            }
        }

        &--1of2 {
            > .o-Grid-cell {
                width: 50%;
                max-width: 50%;
                flex: auto;
            }
        }

        &--1of3 {
            > .o-Grid-cell {
                width: 33.3333%;
                max-width: 33.3333%;
                flex: auto;
            }
        }

        &--1of4 {
            > .o-Grid-cell {
                width: 25%;
                max-width: 25%;
                flex: auto;
            }
        }

        &--1of5 {
            > .o-Grid-cell {
                width: 20%;
                max-width: 20%;
                flex: auto;
            }
        }

        // Gutters
        // ========================================================================
        &--gutters {
            margin: 0 - ($grid-gutter / 2);

            > .o-Grid-cell {
                padding: $grid-gutter / 2;
            }
        }

        &--gutters\@lg {
            margin: 0 - ($grid-gutter-lg / 2);

            > .o-Grid-cell {
                padding: $grid-gutter-lg / 2;
            }
        }

        &--gutters\@xl {
            margin: 0 - ($grid-gutter-xl / 2);

            > .o-Grid-cell {
                padding: $grid-gutter-xl / 2;
            }
        }
    }
}
