// Name:            Grid Extra Large
// Description:     Defines styles for flexbox based grid layout for Extra Large devices (960px +).
//
// Component:       `o-GridXl`
//
// Sub-objects:     `o-Grid-cell`
//
// Modifiers:       `o-GridXl--reverse`
//                  `o-GridXl--1of2`
//                  `o-GridXl--1of3`
//                  `o-GridXl--1of4`
//                  `o-GridXl--gutters`
//                  `o-GridXl--guttersLg`
//                  `o-GridXl--guttersXl`
//
//
// Markup:
//
// <!-- o-Grid -->
// <div class="o-Grid o-GridXl o-GridXl--1of3">
//   <div class="o-Grid-cell">...</div>
//   <div class="o-Grid-cell">...</div>
//   <div class="o-Grid-cell">...</div>
// </div>
//
// ========================================================================

// Breakpoints
// ========================================================================

@include xl {
    .o-GridXl {
        &--reverse {
            flex-direction: row-reverse;
        }

        &--fit {
            > .o-Grid-cell {
                flex: 1;
            }
        }

        &--full {
            > .o-Grid-cell {
                flex: 0 0 100%;
            }
        }

        &--1of2 {
            > .o-Grid-cell {
                width: 50%;
                max-width: 50%;
                flex: auto;
            }
        }

        &--1of3 {
            > .o-Grid-cell {
                width: 33.3333%;
                max-width: 33.3333%;
                flex: auto;
            }
        }

        &--1of4 {
            > .o-Grid-cell {
                width: 25%;
                max-width: 25%;
                flex: auto;
            }
        }

        &--1of5 {
            > .o-Grid-cell {
                width: 20%;
                max-width: 20%;
                flex: auto;
            }
        }

        // Gutters
        // ========================================================================
        &--gutters {
            margin: 0 - ($grid-gutter / 2);

            > .o-Grid-cell {
                padding: $grid-gutter / 2;
            }
        }

        &--guttersLg {
            margin: 0 - ($grid-gutter-lg / 2);

            > .o-Grid-cell {
                padding: $grid-gutter-lg / 2;
            }
        }

        &--guttersXl {
            margin: 0 - ($grid-gutter-xl / 2);

            > .o-Grid-cell {
                padding: $grid-gutter-xl / 2;
            }
        }
    }
}
