{% from 'macros/icon.njk' import Icon %}

{% macro MenuLink(item) %}

  {% set classList="c-menu__link" %}
  {% if item.linkClassList %}
    {% set classList = item.linkClassList %}
  {% endif %}

  {% if item.disabled %}
    {% set classList = classList + ' c-menu__link--disabled' %}
  {% endif %}

  <a href="{{ item.url }}" class="{{ classList }}">
    {% if item.icon %}
      {{ Icon(item.icon) }}
    {% endif %}
    {{ item.text }}
  </a>

{% endmacro %}
