{% from 'components/Menu/MenuItem.component.njk' import MenuItem %}

{% macro Menu(
menuItems,
classList,
activeItem,
activeClass) %}

  {% if menuItems | length %}
    <ul class="c-menu {{ classList }}">
      {% for item in menuItems %}
        {{ MenuItem(item, activeItem, activeClass) }}
      {% endfor %}
    </ul>
  {% endif %}

{% endmacro %}
