{% from '_macros/helpers.njk' import icon, navItem %}

<!doctype html>
<!--#if expr="$HTTP_COOKIE=/fonts\-loaded\=true/" -->
<html lang="{{ lang }}" class="fonts-loaded">
<!--#else -->
<html lang="{{ lang }}">
<!--#endif -->
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="author" content="{{ author }}"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1"/>
  <title>{% block metaTitle %}Gulp Asset Pipeline{% endblock %}</title>

  <!-- standard styles - hidden from < ie10 -->
  <!--[if ! lte IE 9]><!-->
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/docs.css">
    <!-- for code highlighting in the docs -->
    <!--<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/styles/default.min.css">-->
  <!--<![endif]-->
  <!-- generic fall back stylesheet for old ie versions -->
  <!--[if lte IE 9]><link rel="stylesheet" href="http://universal-ie6-css.googlecode.com/files/ie6.1.1.css" media="screen, projection"><![endif]-->

  {% include '_shared/app-icons.njk' %}

  {% block head %}{% endblock %}

</head>
<body id="top" class="o-Site scrollY">

  <header role="banner" class="o-Site-header docs-GlobalHeader">

    <a href="#content" class="SkipLink Button ">{{ icon('arrow-down') }} Skip to content</a>

    {% include '_shared/docs/section-nav.njk' %}
  </header>

  <main id="content" class="o-Site-content">
  {% block main %}
    <div class="o-Container o-Container--centered">

      <div class="o-Grid o-GridMd--reverse o-GridMd--gutters o-GridXl--guttersXl" data-module="Sticky" data-sticky-container>

        <article class="o-Grid-cell o-SizeMd--3of4 o-SizeLg--4of5 o-SizeXl--5of6">
          {% block content %}

          {% endblock %}
        </article>

        <section class="o-Grid-cell o-Size--full o-SizeMd--1of4 o-SizeLg--1of5 o-SizeXl--1of6">
          {% block sidebar %}
            {% include '_shared/docs/page-nav.njk' %}
          {% endblock %}
        </section>

      </div>

    </div>

  {% endblock %}
  </main>

  <footer role="contentinfo" class="o-Site-footer docs-footer">
    <div class="o-Container o-Container--centered">
      <p>&copy; Made with ♥ at <a href="http://jaywing.com">Jaywing</a>. <small>v{{version}}</small></p>
    </div>
  </footer>

  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>

  {% block javascript %}{% endblock %}

</body>
</html>
