// ----------------------------------------------------------------------

// Elements: Links

// ----------------------------------------------------------------------

////
/// @author   James Taylor
/// @group    jw
/// @create   16/06/2016
////


// <a> link styles
$link-color:        $c-primary;
$link-hover-color:  $c-primary-dark;
// visited link styles - turn on or off
$link-visited:              false;
$link-visited-color:        $c-secondary;
$link-visited-hover-color:  $c-secondary-dark;

$link-trans-speed:  $g-trans-link-speed;


a {
  @include color-swap-on-hover($link-color, $link-hover-color, $link-trans-speed);
}

@if $link-visited {
  a:visited {
    @include color-swap-on-hover($link-visited-color, $link-visited-hover-color, $link-trans-speed);
  }
}
