// ----------------------------------------------------------------------

// Elements: Links

// ----------------------------------------------------------------------

////
/// @author   James Taylor
/// @group    jw
/// @create   16/06/2016
////


// <a> link styles
$link-color:        $c-primary !default;
$link-hover-color:  $c-primary-dark !default;
// visited link styles - turn on or off
$link-visited:              false !default;
$link-visited-color:        $c-secondary !default;
$link-visited-hover-color:  $c-secondary-dark !default;

$link-trans-speed:  $g-trans-link-speed !default;
$link-underline: underline !default;


a {
  text-decoration: $link-underline;

  &:not(.Text--disabled) {
    @include color-swap-on-hover($link-color, $link-hover-color, $link-trans-speed);
    color: $link-color;
  }
}

@if $link-visited {
  a:visited {
    @include color-swap-on-hover($link-visited-color, $link-visited-hover-color, $link-trans-speed);
  }
}
