{#
Nunjucks Templating!
Homepage: https://mozilla.github.io/nunjucks/
Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% set pageid = 'back-to-top' %}
{% set sectionid = 'core' %}

{% extends '_layouts/docs/layout.docs.master.njk' %}

{% block metaTitle %}Back to top | Atomic: Core{% endblock %}

{% block content %}

  <h1 class="Article-title">Back to top</h1>
  <p class="Text--lead">Link that takes the user back up to the top of the page.</p>

  <hr class="Article-divider">

  <h2 id="section-usage"><a href="#section-usage" class="Text--resetLink">Usage</a></h2>

  <div class="docs-example">
    <a href="#top" class="Button Button--icon BackToTop">
      {{ icon('chevron-up') }}
      <span class="BackToTop-text">Back to top</span>
    </a>

    <a href="#top" class="Button Button--icon BackToTop BackToTop--fixed">
      {{ icon('chevron-up') }}
      <span class="BackToTop-text">Back to top</span>
    </a>
  </div>

  <div class="docs-code docs-code--html">
    <pre><code class="html">&lt;a href="#top" class="Button Button--icon BackToTop"&gt;
  &#123;&#123; icon('chevron-up') &#125;&#125;
  &lt;span class="BackToTop-text"&gt;Back to top&lt;/span&gt;
&lt;/a&gt;

&lt;a href="#top" class="Button Button--icon BackToTop BackToTop--fixed"&gt;
  &#123;&#123; icon('chevron-up') &#125;&#125;
  &lt;span class="BackToTop-text"&gt;Back to top&lt;/span&gt;
&lt;/a&gt;</code></pre>
  </div>

  <h3>'Fixed' modifier</h3>
  <p>By attaching the 'fixed' modifier (<code>.BackToTop--fixed</code>) the component is positioned fixed to the bottom of the browser window (as you can see in the example in the bottom corner of the screen).</p>

{% endblock %}

{% block javascript %}
  <script src="/javascripts/app.js"></script>
{% endblock %}