{#
Nunjucks Templating!
Homepage: https://mozilla.github.io/nunjucks/
Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% set pageid = 'base' %}
{% set sectionid = 'core' %}

{% extends '_layouts/docs/layout.docs.master.njk' %}

{% block metaTitle %}Base | Atomic: Core{% endblock %}

{% block content %}

  <h1 class="Article-title">Base</h1>
  <p class="Text--lead">Provides the default style for all HTML elements.</p>
  <p><strong>Version:</strong> {{component_version}}</p>

  <p>This component defines the base look of your page. It offers great typography by setting the default colors, margins, font-sizes and more for each HTML element. This page is a short guide on how to use basic HTML elements and how Atomic styles them.</p>

  <hr class="Article-divider">

  <h2 id="section:headings"><a href="#section:headings" class="Text--resetLink">Headings</a></h2>
  <p>Use the <code>&lt;h1&gt;</code> to <code>&lt;h6&gt;</code> elements to define your headings.</p>

  <div class="docs-example">
    <h1>h1 Trafalgar</h1>
    <h2>h2 Double pica</h2>
    <h3>h3 Great primer</h3>
    <h4>h4 Pica</h4>
    <h5>h5 Brevier bold</h5>
    <h6>h6 Brevier</h6>
  </div>

  <h3>Small header segments</h3>
  <p>By inserting a <code>&lt;small&gt;</code> element into a header Foundation will scale the header font size down for an inline element, allowing you to use this for subtitles or other secondary header text.</p>

  <div class="docs-example">

    <h1>Atomic by Jaywing <small>- Version {{version}}</small></h1>

  </div>

  <hr class="Article-divider">

  <h2 id="section:paragraphs"><a href="#section:paragraphs" class="Text--resetLink">Paragraphs</a></h2>

  <div class="docs-example">
    <p>The global font-size, line-height and regular margins between elements are set through variables, which can be customized. Paragraphs and other block elements stick to these values.</p>
  </div>

  <hr class="Article-divider">

  <h2 id="section:text-level-semantics"><a href="#section:text-level-semantics" class="Text--resetLink">Text Level Semantics</a></h2>
  <p>The following list gives you a short overview of the most commonly used text-level semantics and how to utilize them.</p>

  <div class="docs-example">
    <div class="o-Container o-Container--fluid o-Container--collapse o-Container--overflow">
      <table class="Table Table--hover Table--condensed textNoWrap">
        <thead>
          <tr>
            <th class="width--1-4">Element</th>
            <th class="width--3-4">Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><code>&lt;a&gt;</code></td>
            <td>Turn text into hypertext using the <a href="#">a element</a>.</td>
          </tr>
          <tr>
            <td><code>&lt;em&gt;</code></td>
            <td>Emphasize text using the <em>em element</em>.</td>
          </tr>
          <tr>
            <td><code>&lt;strong&gt;</code></td>
            <td>Imply any extra importance using the <strong>strong element</strong>.</td>
          </tr>
          <tr>
            <td><code>&lt;code&gt;</code></td>
            <td>Define inline code snippets using the <code>code element</code>.</td>
          </tr>
          <tr>
            <td><code>&lt;del&gt;</code></td>
            <td>Mark document changes as deleted text using the <del>del element</del>.</td>
          </tr>
          <tr>
            <td><code>&lt;ins&gt;</code></td>
            <td>Mark document changes as inserted text using the <ins>ins element</ins>.</td>
          </tr>
          <tr>
            <td><code>&lt;mark&gt;</code></td>
            <td>Highlight text with no semantic meaning using the <mark>mark element</mark>.</td>
          </tr>
          <tr>
            <td><code>&lt;q&gt;</code></td>
            <td>Define inline quotations using <q>q element <q>inside</q> a q element</q>.</td>
          </tr>
          <tr>
            <td><code>&lt;abbr&gt;</code></td>
            <td>Define an abbreviation using the <abbr title="Abbreviation Element">abbr element</abbr> with a title.</td>
          </tr>
          <tr>
            <td><code>&lt;dfn&gt;</code></td>
            <td>Define a definition term using the <dfn title="Defines a definition term">dfn element</dfn> with a title.</td>
          </tr>
          <tr>
            <td><code>&lt;small&gt;</code></td>
            <td>De-emphasize text for small print using the <small>small element</small>.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <hr class="Article-divider">

  <h2 id="section:horizontal-rule"><a href="#section:horizontal-rule" class="Text--resetLink">Horizontal rule</a></h2>
  <p>Create a horizontal rule by using the <code>&lt;hr&gt;</code> element.</p>

  <div class="docs-example">
    <hr>
  </div>

  <hr class="Article-divider">

  <h2 id="section:blockquotes"><a href="#section:blockquotes" class="Text--resetLink">Blockquotes</a></h2>
  <p>For quoting multiple lines of content from another source within your document, use the <code>&lt;blockquote&gt;</code> element.</p>

  <div class="docs-example">
    <blockquote>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
      <cite>Someone famous</cite>
    </blockquote>
  </div>

  <hr class="Article-divider">

  <h2 id="section:lists"><a href="#section:lists" class="Text--resetLink">Lists</a></h2>
  <p>Create an unordered list using the <code>&lt;ul&gt;</code> element and the <code>&lt;ol&gt;</code> element for ordered lists. The <code>&lt;li&gt;</code> element defines the list item.</p>

  <div class="docs-example">
    <ul>
      <li>Item 1</li>
      <li>Item 2
        <ul>
          <li>Item 1</li>
          <li>Item 2
            <ul>
              <li>Item 1</li>
              <li>Item 2</li>
            </ul>
          </li>
        </ul>
      </li>
      <li>Item 3</li>
      <li>Item 4</li>
    </ul>

    <ol>
      <li>Item 1</li>
      <li>Item 2
        <ol>
          <li>Item 1</li>
          <li>Item 2
            <ol>
              <li>Item 1</li>
              <li>Item 2</li>
            </ol>
          </li>
        </ol>
      </li>
      <li>Item 3</li>
      <li>Item 4</li>
    </ol>
  </div>

  <hr class="Article-divider">

  <h2 id="section:definition-lists"><a href="#section:definition-lists" class="Text--resetLink">Definition lists</a></h2>
  <p>Create a description list using the <code>&lt;dl&gt;</code> element. Use <code>&lt;dt&gt;</code> to define the term and <code>&lt;dd&gt;</code> for the description.</p>

  <div class="docs-example">
    <dl>
      <dt>Description lists</dt>
      <dd>A description list defines terms and their corresponding descriptions.</dd>
      <dt>This is a term</dt>
      <dd>This is a description.</dd>
      <dt>This is a term</dt>
      <dd>This is a description.</dd>
    </dl>
  </div>

  <hr class="Article-divider">

  <h2 id="section:fluid-images"><a href="#section:fluid-images" class="Text--resetLink">Fluid images</a></h2>
  <p>All images are fluid by default. If the layout is narrowed, images adjust their size and keep their proportions. Images shouldn't stretch to bigger than their natural size.</p>

  <div class="docs-example">
    <img src="/assets/images/placeholder/img_480x260.svg" alt="">
  </div>

  <hr class="Article-divider">

  <h2 id="section:code-blocks"><a href="#section:code-blocks" class="Text--resetLink">Code blocks</a></h2>
  <p>For multiple lines of code, use the <code>&lt;pre&gt;</code> element which defines preformatTed text. It creates a new text block that preserves spaces, tabs and line breaks. Nest a <code>&lt;code&gt;</code> element inside to define the code block.</p>
  <p><span class="Badge">IMPORTANT</span> Be sure to escape any angle brackets in the code for proper rendering.</p>

  <div class="docs-example">
    <pre><code class="xml">&lt;pre&gt;
  &lt;code&gt;...&lt;/code&gt;
&lt;/pre&gt;</code></pre>
  </div>

{% endblock %}

{% block javascript %}
<script src="/assets/javascripts/app.js" async></script>
{% endblock %}