{#
Nunjucks Templating!
Homepage: https://mozilla.github.io/nunjucks/
Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% set pageid = 'breakpoint-mod' %}
{% set sectionid = 'core' %}

{% extends 'layouts/docs/layout.docs.master.njk' %}

{% block metaTitle %}Breakpoint module | Atomic: Core{% endblock %}

{% block content %}

<h1 class="Article-title">Breakpoint module</h1>
<p class="Text--lead">A module that fires a custom event when a breakpoint changes, so (js) modules can react to breakpoint changes.</p>

<hr class="Article-divider">

<h2>Usage</h2>

<p>This module is included in the javascript bundle by default.</p>
<p>It emits an event <code>bpupdate</code> which passes in details of the current and previous breakpoint.</p>

<div class="docs-code docs-code--js">
  <pre><code class="javascript">// listen for the custom event
document.addEventListener('bpupdate', myFunction, false);

function myFunction(e) { // this will fire everytime the breakpoint changes
  console.log(`I am here: ${e.detail.current}`) // current breakpoint
  console.log(`I came from: ${e.detail.previous}`) // previous breakpoint
}

// e.detail object that is available with this custom event
{
  current: 'md',
  previous: 'sm',
  gtBase: true,
  gtXxs: true,
  gtXs: true,
  gtSm: true,
  gtMd: false,
  gtLg: false,
  gtXl: false
}</code></pre>
</div>

<p>The breakpoint detail object is also available on the global <code>jwAtomic</code> object @<code>window.jwAtomic.modules.Breakpoint.detail</code>.</p>

{% endblock %}

{% block javascript %}
<script src="/javascripts/app.js" async></script>
{% endblock %}