{#
Nunjucks Templating!
Homepage: https://mozilla.github.io/nunjucks/
Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% set pageid = 'get-started' %}
{% set sectionid = 'core' %}

{% extends '_layouts/docs/layout.docs.master.njk' %}

{% block metaTitle %}Atomic: Core{% endblock %}

{% block content %}

<h1 class="Article-title">Core</h1>
<p class="Text--lead">All Atomic core components at a glance.</p>

<p>Atomic consists of modular and extendible components, which can be combined with each other. Components are divided into different compartments according to their purpose and functionality.</p>

<ul class="o-Grid o-Grid--responsive o-Grid--gutters o-GridXl--guttersXl o-Grid--full o-GridSm--1of2 o-GridLg--1of3">
  <li class="o-Grid-cell">
    <div class="Panel">
      <h2 class="Panel-title">Defaults</h2>
      <p>These components generally normalize HTML elements for cross browser functionality and add some very basic styling.</p>
    </div>
  </li>
  <li class="o-Grid-cell">
    <div class="Panel">
      <h2 class="Panel-title">Objects</h2>
      <p>Apply these fully responsive, re-usable, common patterns to help construct page layouts. They take full advantage of flexbox.</p>
    </div>
  </li>
  <li class="o-Grid-cell">
    <div class="Panel">
      <h2 class="Panel-title">Elements</h2>
      <p>Style basic HTML elements, like tables and forms. These components use their own classes. They won't interfere with any default element styling.</p>
    </div>
  </li>
  <li class="o-Grid-cell">
    <div class="Panel">
      <h2 class="Panel-title">Navigation</h2>
      <p>Atomic offers different types of navigations, like navigation bars and side nav's. Use breadcrumbs or a pagination to steer through articles.</p>
    </div>
  </li>
  <li class="o-Grid-cell">
    <div class="Panel">
      <h2 class="Panel-title">Common</h2>
      <p>Here you'll find components that you often use within your content, like buttons, icons, badges, overlays, animations etc.</p>
    </div>
  </li>
  <li class="o-Grid-cell">
    <div class="Panel">
      <h2 class="Panel-title">Modules</h2>
      <p>These components rely mostly on JavaScript to add dynamic functionality. Where possible these should be built unobtrusively (should still be available even if javascript isn't).</p>
    </div>
  </li>
</ul>

{% endblock %}

{% block javascript %}
<script src="/javascripts/app.js"></script>
{% endblock %}