{#
Nunjucks Templating!
Homepage: https://mozilla.github.io/nunjucks/
Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% set pageid = 'media' %}
{% set sectionid = 'core' %}

{% extends '_layouts/docs/layout.docs.master.njk' %}

{% block metaTitle %}Media | Atomic: Core{% endblock %}

{% block content %}

<h1 class="Article-title">Media</h1>
<p class="Text--lead">An abstract element used as the basis for building more complex and repetitive components (like blog comments, Tweets, etc).</p>
<p>Included is support for left and right aligned content, content alignment options, nesting, and more.</p>

<hr>

<h2 id="section:usage"><a href="#section:usage" class="Text--resetLink">Usage</a></h2>

<h3>Default media</h3>

<div class="docs-example">
  <div class="o-Media">
    <div class="o-Media-figure">
      <img src="http://placeimg.com/50/50/people" alt="Avatar">
    </div>
    <div class="o-Media-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, odio? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, odio? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, odio?</p>
    </div>
  </div>
</div>

<div class="docs-code docs-code--html">
  <pre><code class="html">&lt;div class=&quot;o-Media&quot;&gt;
  &lt;div class=&quot;o-Media-figure&quot;&gt;
    &lt;img src=&quot;...&quot; alt=&quot;...&quot;&gt;
  &lt;/div&gt;
  &lt;div class=&quot;o-Media-body&quot;&gt;
    &lt;p&gt;Lorem ipsum dolor sit amet...&lt;/p&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
</div>

<h3>Alignment</h3>

<h4>Center (.o-Media--center)</h4>
<div class="docs-example">
  <div class="o-Media o-Media--center">
    <div class="o-Media-figure">
      <img src="http://placeimg.com/50/50/people" alt="Avatar">
    </div>
    <div class="o-Media-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum maxime mollitia qui. Accusamus aliquam amet architecto assumenda at, consequuntur, debitis eius eligendi fuga hic nemo nihil non officiis sequi, voluptatibus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque cumque deleniti dolore ex ipsa iusto labore magni nam praesentium voluptate? Assumenda consequatur dolorem sit unde. Accusamus nobis sit suscipit vitae?</p>
    </div>
  </div>
</div>

<h4>Bottom (.o-Media--bottom)</h4>
<div class="docs-example">
  <div class="o-Media o-Media--bottom">
    <div class="o-Media-figure">
      <img src="http://placeimg.com/50/50/people" alt="Avatar">
    </div>
    <div class="o-Media-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum maxime mollitia qui. Accusamus aliquam amet architecto assumenda at, consequuntur, debitis eius eligendi fuga hic nemo nihil non officiis sequi, voluptatibus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque cumque deleniti dolore ex ipsa iusto labore magni nam praesentium voluptate? Assumenda consequatur dolorem sit unde. Accusamus nobis sit suscipit vitae?</p>
    </div>
  </div>
</div>

<h3>Direction</h3>

<h4>Reverse (.o-Media--reverse)</h4>
<div class="docs-example">
  <div class="o-Media o-Media--reverse">
    <div class="o-Media-figure">
      <img src="http://placeimg.com/50/50/people" alt="Avatar">
    </div>
    <div class="o-Media-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum maxime mollitia qui. Accusamus aliquam amet architecto assumenda at, consequuntur, debitis eius eligendi fuga hic nemo nihil non officiis sequi, voluptatibus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque cumque deleniti dolore ex ipsa iusto labore magni nam praesentium voluptate? Assumenda consequatur dolorem sit unde. Accusamus nobis sit suscipit vitae?</p>
    </div>
  </div>
</div>

<h4>Alternate (.o-Media--alternate)</h4>
<div class="docs-example">
  <div class="o-Media o-Media--alternate">
    <div class="o-Media-figure">
      <img src="http://placeimg.com/50/50/people" alt="Avatar">
    </div>
    <div class="o-Media-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum maxime mollitia qui. Accusamus aliquam amet architecto assumenda at, consequuntur, debitis eius eligendi fuga hic nemo nihil non officiis sequi, voluptatibus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque cumque deleniti dolore ex ipsa iusto labore magni nam praesentium voluptate? Assumenda consequatur dolorem sit unde. Accusamus nobis sit suscipit vitae?</p>
    </div>
  </div>
  <div class="o-Media o-Media--alternate">
    <div class="o-Media-figure">
      <img src="http://placeimg.com/50/50/people" alt="Avatar">
    </div>
    <div class="o-Media-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum maxime mollitia qui. Accusamus aliquam amet architecto assumenda at, consequuntur, debitis eius eligendi fuga hic nemo nihil non officiis sequi, voluptatibus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque cumque deleniti dolore ex ipsa iusto labore magni nam praesentium voluptate? Assumenda consequatur dolorem sit unde. Accusamus nobis sit suscipit vitae?</p>
    </div>
  </div>
  <div class="o-Media o-Media--alternate">
    <div class="o-Media-figure">
      <img src="http://placeimg.com/50/50/people" alt="Avatar">
    </div>
    <div class="o-Media-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum maxime mollitia qui. Accusamus aliquam amet architecto assumenda at, consequuntur, debitis eius eligendi fuga hic nemo nihil non officiis sequi, voluptatibus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque cumque deleniti dolore ex ipsa iusto labore magni nam praesentium voluptate? Assumenda consequatur dolorem sit unde. Accusamus nobis sit suscipit vitae?</p>
    </div>
  </div>
  <div class="o-Media o-Media--alternate">
    <div class="o-Media-figure">
      <img src="http://placeimg.com/50/50/people" alt="Avatar">
    </div>
    <div class="o-Media-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum maxime mollitia qui. Accusamus aliquam amet architecto assumenda at, consequuntur, debitis eius eligendi fuga hic nemo nihil non officiis sequi, voluptatibus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque cumque deleniti dolore ex ipsa iusto labore magni nam praesentium voluptate? Assumenda consequatur dolorem sit unde. Accusamus nobis sit suscipit vitae?</p>
    </div>
  </div>
</div>

<h3>No padding (.o-Media--collapse)</h3>
<div class="docs-example">
  <div class="docs-example">
    <div class="o-Media o-Media--collapse">
      <div class="o-Media-figure">
        <img src="http://placeimg.com/50/50/people" alt="Avatar">
      </div>
      <div class="o-Media-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum maxime mollitia qui. Accusamus aliquam amet architecto assumenda at, consequuntur, debitis eius eligendi fuga hic nemo nihil non officiis sequi, voluptatibus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque cumque deleniti dolore ex ipsa iusto labore magni nam praesentium voluptate? Assumenda consequatur dolorem sit unde. Accusamus nobis sit suscipit vitae?</p>
      </div>
    </div>
  </div>
</div>

<h3>Nested</h3>
<div class="docs-example">

  <div class="o-Media Demo">
    <div class="o-Media-figure">
      <img src="http://placeimg.com/50/50/peopl" alt="Avatar">
    </div>
    <div class="o-Media-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda at blanditiis cumque cupiditate dolor, eaque fugit harum inventore ipsum laborum minus molestiae mollitia, necessitatibus quidem rerum saepe sit sunt velit.</p>
      <div class="o-Media Demo">
        <div class="o-Media-figure">
          <img src="http://placeimg.com/50/50/peopl" alt="Avatar">
        </div>
        <div class="o-Media-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid amet animi autem corporis et hic labore maiores minima natus nihil possimus qui recusandae, similique voluptates? Earum explicabo magni quae.</p>
        </div>
      </div>
      <div class="o-Media Demo">
        <div class="o-Media-figure">
          <img src="http://placeimg.com/50/50/peopl" alt="Avatar">
        </div>
        <div class="o-Media-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, deserunt dolores, doloribus eveniet fugit ipsam iure maxime minima nemo numquam possimus quidem repellendus tempore temporibus tenetur ut veritatis. Minima, molestiae!</p>
          <div class="o-Media Demo">
            <div class="o-Media-figure">
              <img src="http://placeimg.com/50/50/peopl" alt="Avatar">
            </div>
            <div class="o-Media-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad architecto atque debitis dolor dolorem dolores est fugiat inventore ipsum labore, minus molestias nobis non provident quam qui quia quisquam vitae.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}

{% block javascript %}
<script src="/assets/javascripts/app.js" async></script>
{% endblock %}