{#
Nunjucks Templating!
Homepage: https://mozilla.github.io/nunjucks/
Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% set pageid = 'overlay' %}
{% set sectionid = 'core' %}

{% extends '_layouts/docs/layout.docs.master.njk' %}

{% block metaTitle %}Overlay | Atomic: Core{% endblock %}

{% block content %}

<h1 class="Article-title">Overlay</h1>
<p class="Text--lead"></p>

<hr>

<h2 id="section:usage"><a href="#section:usage" class="Text--resetLink">Usage</a></h2>

<div class="docs-example">
  <figure class="Overlay">
    <img src="//placehold.it/600x400" alt="">
    <figcaption class="Overlay-panel">
      <h3>Title</h3>
      <p>Lorem <a href="#">ipsum dolor</a> sit amet, consetetur sadipscing elitr.</p>
    </figcaption>
  </figure>
</div>

<div class="docs-code docs-code--html">
  <pre><code class="html">&lt;div class=&quot;Overlay&quot;&gt;
  &lt;img src=&quot;&quot; width=&quot;&quot; height=&quot;&quot; alt=&quot;&quot;&gt;
  &lt;figcaption class="Overlay-panel"&gt;...&lt;/figcaption&gt;
&lt;/div&gt;</code></pre>
</div>

<h2><a href="#section:toggle" class="Text--resetLink">Toggle overlay on hover</a></h2>

<div class="docs-example">
  <figure class="Overlay Overlay--hover">
    <img src="//placehold.it/600x400" alt="">
    <figcaption class="Overlay-panel">
      <h3>Title</h3>
      <p>Lorem <a href="#">ipsum dolor</a> sit amet, consetetur sadipscing elitr.</p>
    </figcaption>
  </figure>
</div>

<div class="docs-code docs-code--html">
  <pre><code class="html">&lt;div class=&quot;Overlay Overlay--hover&quot;&gt;
  &lt;img src=&quot;&quot; width=&quot;&quot; height=&quot;&quot; alt=&quot;&quot;&gt;
  &lt;figcaption class="Overlay-panel"&gt;...&lt;/figcaption&gt;
&lt;/div&gt;</code></pre>
</div>

<h2><a href="#section:background" class="Text--resetLink">Overlay background</a></h2>

<div class="docs-example">
  <figure class="Overlay">
    <img src="//placehold.it/600x400" alt="">
    <figcaption class="Overlay-panel Overlay-background">
      <h3>Title</h3>
      <p>Lorem <a href="#">ipsum dolor</a> sit amet, consetetur sadipscing elitr.</p>
    </figcaption>
  </figure>
</div>

<div class="docs-code docs-code--html">
  <pre><code class="html">&lt;div class=&quot;Overlay&quot;&gt;
  &lt;img src=&quot;&quot; width=&quot;&quot; height=&quot;&quot; alt=&quot;&quot;&gt;
  &lt;figcaption class="Overlay-panel Overlay-background"&gt;...&lt;/figcaption&gt;
&lt;/div&gt;</code></pre>
</div>

<h2><a href="#section:position" class="Text--resetLink">Overlay position</a></h2>

<div class="docs-example">
  <div class="o-Grid o-Grid--gutters o-Grid--full o-GridMd--fit">
    <div class="o-Grid-cell">
      <figure class="Overlay">
        <img src="//placehold.it/600x400" alt="">
        <figcaption class="Overlay-panel Overlay-background Overlay-position--top">
          <h3>Overlay Top</h3>
          <p>Lorem ipsum dolor sit amet safas fasfg asf.</p>
        </figcaption>
      </figure>
    </div>
    <div class="o-Grid-cell">
      <figure class="Overlay">
        <img src="//placehold.it/600x400" alt="">
        <figcaption class="Overlay-panel Overlay-background Overlay-position--bottom">
          <h3>Overlay Bottom</h3>
          <p>Lorem ipsum dolor sit amet safas fasfg asf.</p>
        </figcaption>
      </figure>
    </div>
  </div>
  <div class="o-Grid o-Grid--gutters o-Grid--full o-GridMd--fit">
    <div class="o-Grid-cell">
      <figure class="Overlay">
        <img src="//placehold.it/600x400" alt="">
        <figcaption class="Overlay-panel Overlay-background Overlay-position--left">
          <h3>Overlay Left</h3>
          <p>Lorem ipsum dolor sit amet safas fasfg asf.</p>
        </figcaption>
      </figure>
    </div>
    <div class="o-Grid-cell">
      <figure class="Overlay">
        <img src="//placehold.it/600x400" alt="">
        <figcaption class="Overlay-panel Overlay-background Overlay-position--right">
          <h3>Overlay Right</h3>
          <p>Lorem ipsum dolor sit amet safas fasfg asf.</p>
        </figcaption>
      </figure>
    </div>
  </div>
</div>

<div class="docs-code docs-code--html">
  <pre><code class="html">&lt;div class=&quot;Overlay&quot;&gt;
  &lt;img src=&quot;&quot; width=&quot;&quot; height=&quot;&quot; alt=&quot;&quot;&gt;
  &lt;figcaption class="Overlay-panel Overlay-position--top"&gt;...&lt;/figcaption&gt;
&lt;/div&gt;</code></pre>
</div>

<h2><a href="#section:icon" class="Text--resetLink">Overlay icon</a></h2>

<div class="docs-example">
  <figure class="Overlay">
    <img src="//placehold.it/600x400" alt="">
    <div class="Overlay-panel Overlay-background Overlay-icon">
      {{ icon('exclamation', '0 0 1 1', 'Icon--xxl') }}
    </div>
  </figure>
</div>

<div class="docs-code docs-code--html">
  <pre><code class="html">&lt;div class=&quot;Overlay&quot;&gt;
  &lt;img src=&quot;&quot; width=&quot;&quot; height=&quot;&quot; alt=&quot;&quot;&gt;
  &lt;figcaption class="Overlay-panel Overlay-icon"&gt;...&lt;/figcaption&gt;
&lt;/div&gt;</code></pre>
</div>

{% endblock %}

{% block javascript %}
<script src="/javascripts/app.js" async></script>
{% endblock %}