{#
Nunjucks Templating!
Homepage: https://mozilla.github.io/nunjucks/
Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% set pageid = 'validate' %}
{% set sectionid = 'core' %}

{% extends '_layouts/docs/layout.docs.master.njk' %}

{% block metaTitle %}Validate | Atomic: Core{% endblock %}

{% block content %}

  <h1 class="Article-title">Validate</h1>
  <p class="Text--lead">Form validation module</p>

  <p></p>

  <hr>

  <h2 id="section:usage"><a href="#section:usage" class="Text--resetLink">Usage</a></h2>



  <h4>Demo</h4>
  <div class="docs-example">
    <form data-module="Validate">
      <div class="Form-field">
        <label class="Form-label" for="name">Name <small>(2 - 12 chars)</small> *</label>
        <input type="text" id="name" name="name" minlength="2" maxlength="12" class="Form-input" required />
      </div>
      <div class="Form-field">
        <label class="Form-label" for="email">Email</label>
        <input type="email" id="email" name="email" class="Form-input" />
      </div>
      <div class="Form-field">
        <label class="Form-label" for="url">URL</label>
        <input type="url" id="url" name="url" class="Form-input" />
      </div>
      <div class="Form-field">
        <label class="Form-label" for="num">Number <small>(1-9)</small></label>
        <input type="number" id="num" name="num" min="1" max="9" class="Form-input" />
      </div>
      <div class="Form-field Form-field--list">
        <label class="Form-label">You must fill in this field *</label>
        <label><input type="radio" name="radio" id="radio1" required /> Yes</label>
        <label><input type="radio" name="radio" id="radio2" required /> No</label>
      </div>
      <div class="Form-field">
        <label><input type="checkbox" name="chkbox" id="chk1" value="1" title="This checkbox is required" required /> Checkbox</label>
      </div>
      <div class="Form-field">
        <label class="Form-label" for="dob">Your date of birth <small>DD/MM/YYYY</small></label>
        <input type="text" id="dob" name="dob" placeholder="DD/MM/YYYY" pattern="^(((0[1-9]|[12]\d|3[01])\/(0[13578]|1[02])\/((19|[2-9]\d)\d{2}))|((0[1-9]|[12]\d|30)\/(0[13456789]|1[012])\/((19|[2-9]\d)\d{2}))|((0[1-9]|1\d|2[0-8])\/02\/((19|[2-9]\d)\d{2}))|(29\/02\/((1[6-9]|[2-9]\d)(0[48]|[2468][048]|[13579][26])|((16|[2468][048]|[3579][26])00))))$" class="Form-input" />
      </div>

    </form>
  </div>

{% endblock %}

{% block javascript %}
  <script src="/assets/javascripts/app.js" async></script>
{% endblock %}