$button-xs-padding: $g-spacer-sm $g-spacer !default;
$button-sm-padding: $g-spacer-sm $g-spacer !default;
$button-lg-padding: $g-spacer $g-spacer-lg !default;
$button-xl-padding: ($g-spacer * 1.25) $g-spacer-xl !default;


.Button {

  &--xs {
    @include minion;
    padding: $button-sm-padding;
  }

  &--sm {
    @include brevier;
    padding: $button-sm-padding;
  }

  &--lg {
    padding: $button-lg-padding;
  }

  &--xl {
    @include great-primer;
    padding: $button-xl-padding;
  }

  &--block {
    display: block;
  }

}