// ----------------------------------------------------------------------

// Components: Button Theme

// ----------------------------------------------------------------------

////
/// @author   James Taylor
/// @group    jw
/// @created  20/06/2016
////

$button-font-family: $g-font-sans;
$button-font-weight: $g-weight-normal;
$button-radius:      $g-border-radius;

$button-trans-speed: $g-trans-link-speed;

$button-bg-color:         $c-light-15;
$button-color:            $c-dark-30;

$button-bg-color-hover:   lighten($c-light-30, 5%);
$button-color-hover:      $c-dark-15;

$button-bg-color-active:  darken($button-bg-color-hover, 5%);
$button-color-active:     $c-dark;


.Button {
  @include color-swap-on-hover(
          $button-color $button-bg-color,
          $button-color-hover $button-bg-color-hover,
          $button-trans-speed
  );
  text-align: center;
  text-decoration: none;
  font-family: $button-font-family;
  font-weight: $button-font-weight;
  border-radius: $button-radius;

  &:active {
    background-color: $button-bg-color-active;
    color: $button-color-active;
  }

}
