$button-error-bg: $c-danger;
$button-error-color: $c-light;
$button-error-hover-bg: darken($button-error-bg, 10%);
$button-error-trans-speed: $g-trans-link-speed;

.Button--error {

  border-color: $button-error-bg;

  &:not([disabled]) {
    @include color-swap-on-hover(
            $button-error-color $button-error-bg,
            $button-error-color $button-error-hover-bg,
            $button-error-trans-speed
    );
  }

  &.is-active {
    background: darken($button-error-hover-bg, 5%);

    &:hover,
    &:focus {
      background: darken($button-error-hover-bg, 5%);
    }
  }

  &[disabled] {
    background: lighten($button-error-bg, 15%);
    color: rgba($button-error-color, .8);
  }

  svg {
    fill: $button-error-color;
  }

}
