// ----------------------------------------------------------------------

// Components: Button Primary Theme

// ----------------------------------------------------------------------

////
/// @author   James Taylor
/// @group    jw
/// @created  21/06/2016
////

$button-primary-bg-color:         $c-primary;
$button-primary-color:            $c-light;

$button-primary-bg-color-hover:   darken($button-primary-bg-color, 7.5%);
$button-primary-color-hover:      $button-primary-color;

$button-primary-bg-color-active:  darken($button-primary-bg-color-hover, 7.5%);
$button-primary-color-active:     $button-primary-color;

$button-primary-trans-speed:      $button-trans-speed;


.Button--primary {
  @include color-swap-on-hover(
          $button-primary-color $button-primary-bg-color,
          $button-primary-color-hover $button-primary-bg-color-hover,
          $button-primary-trans-speed
  );
  &:active {
    background-color: $button-primary-bg-color-active;
    color: $button-primary-color-active;
  }
}
