// ----------------------------------------------------------------------

// Components: Button Basic Theme

// ----------------------------------------------------------------------

////
/// @author   James Taylor
/// @group    jw
/// @created  21/06/2016
////

$button-basic-bg-color:         transparent;
$button-basic-color:            lighten($c-dark-30, 10%);
$button-basic-box-shadow:       0 0 0 1px $c-very-strong-trans-dark inset;

$button-basic-box-shadow-hover: 0 0 0 2px $c-very-strong-trans-dark inset;
$button-basic-bg-color-hover:   $button-basic-bg-color;
$button-basic-color-hover:      darken($button-basic-color, 10%);

$button-basic-box-shadow-active:$button-basic-box-shadow-hover;
$button-basic-color-active:     $button-basic-color-hover;

$button-basic-bg-color-active:  $c-trans-dark;
$button-basic-trans-speed:      $button-trans-speed;


.Button--basic {

  @include color-swap-on-hover(
          $button-basic-color $button-basic-bg-color,
          $button-basic-color-hover $button-basic-bg-color-hover,
          $button-basic-trans-speed
  );

  box-shadow: $button-basic-box-shadow;

  &:hover,
  &:focus {
    box-shadow: $button-basic-box-shadow-hover;
  }

  &:active {
    color: $button-basic-color-active;
    box-shadow: $button-basic-box-shadow-active;
    background: $button-basic-bg-color-active;
  }
}
