$button-icon-padding: ($g-spacer-sm * 0.94) $g-spacer;
$button-icon-icon-margin: -($g-spacer-xs);

.Button {

  &--icon {
    padding: $button-icon-padding;

    > .Icon {
      margin-right: $button-icon-icon-margin;
      margin-left: $button-icon-icon-margin;
    }
  }

  &--loading {
    position: relative;

    .Button-text {
      transition: opacity .15s linear;
    }

    .Icon {
      @include absolute-center;
      transition: opacity .1s linear;
      opacity: 0;
      margin-left: -13px;
      margin-top: -13px;
    }

    &:active,
    &.is-active {
      cursor: not-allowed;

      .Button-text {
        opacity: 0;
      }

      .Icon {
        opacity: 1;
      }
    }
  }

}