// ----------------------------------------------------------------------

// Components: Button Definition

// ----------------------------------------------------------------------

////
/// @author   James Taylor
/// @group    jw
/// @created  20/06/2016
////

$button-margin:     $g-spacer-xs !default;
$button-padding:    ($g-spacer * .75) $g-spacer !default; // button gets the same vertical padding as input to maintain a consistent height
$button-min-width:  $g-min-touch-size !default;

.Button {
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  border: 0;
  line-height: 1;
  vertical-align: baseline;
  min-width: $button-min-width;
  margin: $button-margin;
  padding: $button-padding;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

}

