// ----------------------------------------------------------------------

// Components: Button Hover

// ----------------------------------------------------------------------

////
/// @author   James Taylor
/// @group    jw
/// @created  02/09/2016
////

$button-hover-hover-bg: $c-light-30 !default;
$button-hover-color: $base-text-color !default;

.Button--hover {
  &:not([disabled]) {
    @include color-swap-on-hover(transparent, $button-hover-hover-bg, $g-trans-link-speed, true);
  }

  &.is-active {
    background: darken($button-hover-hover-bg, 10%);

    &:hover,
    &:focus {
      background: darken($button-hover-hover-bg, 10%);
    }
  }

  &[disabled] {
    background: transparent;
    color: rgba($button-hover-color, .65);
  }
}
