{#
Nunjucks Templating!
Homepage: https://mozilla.github.io/nunjucks/
Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% set pageid = 'components' %}
{% set sectionid = 'extended' %}

{% extends 'layouts/application.njk' %}

{% block metaTitle %}Atomic: Components{% endblock %}

{% block content %}

<h1 class="Article-title">Extended</h1>
<p class="c-Text--lead">All Atomic extended components at a glance.</p>

{% endblock %}

{% block javascript %}
{% endblock %}
