{#
Nunjucks Templating!
Homepage: https://mozilla.github.io/nunjucks/
Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% set pageid = 'nav-responsive-standard' %}
{% set sectionid = 'extended' %}

{% extends 'layouts/application.njk' %}
{% from 'macros/toggle-button.njk' import ToggleButton %}
{% from 'macros/menu.njk' import menuLink, menuHeader %}

{% block metaTitle %}Responsive Standard Navigation | Atomic: Components{% endblock %}

{% block content %}

  <h1 class="Article-title">Responsive Standard Navigation</h1>
  <p class="c-Text--lead">This is a simple responsive navigation pattern, which switches from a collapsible vertical menu, triggered by a toggle button, to a standard horizontal menu when the browser passes a certain breakpoint.</p>

  <dl class="c-Definition c-Definition--horizontal">
    <dt>Modules</dt>
    <dd><a href="/docs/core/toggle.html"><span class="c-Badge">Toggle</span></a></dd>
    <dt>Components</dt>
    <dd><a href="/docs/extended/toggle-button.html"><span class="c-Badge">Toggle c-Button</span></a> <a href="/docs/core/menu.html"><span class="c-Badge">Menu</span></a></dd>
    <dt>Macros</dt>
    <dd><a href="#section:macro"><span class="c-Badge">ToggleButton</span></a> <a href="/docs/core/menu.html#section:macro"><span class="c-Badge">MenuHeader</span></a> <a href="/docs/core/menu.html#section:macro"><span class="c-Badge">MenuLink</span></a></dd>
  </dl>

  <hr class="Article-divider">

  <h2 id="section:usage"><a href="#section:usage" class="c-Text--resetLink">Usage</a></h2>

  <p>The example below switches patterns when the browser window width passes 480px (xs breakpoint).</p>
  <p><span class="c-Badge">Note</span> You can set it to any of the <a href="/docs/core/breakpoints.html">breakpoints</a> <strong>except xxs</strong> by setting repsonsive class, eg: <code>c-NavResponsive[@xs|@sm|@md|@lg|@xl|@xxl]</code>.</p>

  <div class="c-example">

    <nav class="c-NavResponsive c-NavResponsive@xs">
      <button class="c-ToggleButton" data-module="Toggle" data-options='{"target":"parent"}'>
        <div class="c-ToggleButton-init">
          <span class="o-icon o-icon--navicon c-ToggleButton-icon--init"><svg viewBox="0 0 1 1"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/icons.svg#navicon"></use></svg></span>
          <span class="c-ToggleButton-text">Menu</span>
        </div>
        <div class="c-ToggleButton-close">
          <span class="o-icon o-icon--close c-ToggleButton-icon--close"><svg viewBox="0 0 1 1"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/icons.svg#close"></use></svg></span>
          <span class="c-ToggleButton-text">Close</span>
        </div>
      </button>
      <ul class="c-menu c-menu--vertical">
        <li class="c-menu__item c-menu__item--left c-menu__item--flush"><span class="c-menu__header"><a href="index.html">Atomic</a></span></li>
        <li class="c-menu__item nav__item "><a href="index.html" class="c-menu__link">Home</a></li>
        <li class="c-menu__item nav__item "><a href="features.html" class="c-menu__link">Features</a></li>
        <li class="c-menu__item nav__item "><a href="docs/" class="c-menu__link">Docs</a></li>
        <li class="c-menu__item nav__item "><a href="https://github.com/jaywing/atomic" class="c-menu__link">Github</a></li>
      </ul>
    </nav>

  </div>

  <div class="c-code c-code--html">
    <pre><code class="html">&lt;nav class="c-NavResponsive c-NavResponsive@xs"&gt;
  &lt;button class="c-ToggleButton" data-module="Toggle" data-options='{"target":"parent"}'&gt;
    &lt;div class="c-ToggleButton-init"&gt;
      &lt;span class="o-icon o-icon--navicon c-ToggleButton-icon--init"&gt;&lt;svg viewBox="0 0 1 1"&gt;&lt;use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/icons.svg#navicon"&gt;&lt;/use&gt;&lt;/svg&gt;&lt;/span&gt;
      &lt;span class="c-ToggleButton-text"&gt;c-menu&lt;/span&gt;
    &lt;/div&gt;
    &lt;div class="c-ToggleButton-close"&gt;
      &lt;span class="o-icon o-icon--close c-ToggleButton-icon--close"&gt;&lt;svg viewBox="0 0 1 1"&gt;&lt;use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/icons.svg#close"&gt;&lt;/use&gt;&lt;/svg&gt;&lt;/span&gt;
      &lt;span class="c-ToggleButton-text"&gt;Close&lt;/span&gt;
    &lt;/div&gt;
  &lt;/button&gt;
  &lt;ul class="c-menu c-menu--vertical"&gt;
    &lt;li class="c-menu__item c-menu__item--left c-menu__item--flush"&gt;&lt;span class="c-menu__header"&gt;&lt;a href="index.html"&gt;Atomic&lt;/a&gt;&lt;/span&gt;&lt;/li&gt;
    &lt;li class="c-menu__item nav__item "&gt;&lt;a href="index.html" class="c-menu__link"&gt;Home&lt;/a&gt;&lt;/li&gt;
    &lt;li class="c-menu__item nav__item "&gt;&lt;a href="features.html" class="c-menu__link"&gt;Features&lt;/a&gt;&lt;/li&gt;
    &lt;li class="c-menu__item nav__item "&gt;&lt;a href="docs/" class="c-menu__link"&gt;Docs&lt;/a&gt;&lt;/li&gt;
    &lt;li class="c-menu__item nav__item "&gt;&lt;a href="https://github.com/jaywing/atomic" class="c-menu__link"&gt;Github&lt;/a&gt;&lt;/li&gt;
  &lt;/ul&gt;
&lt;/nav&gt;</code></pre>
  </div>

  <div class="c-code c-code--macro">
    <pre><code class="html">&#123;% from 'macros/toggle-button.njk' import ToggleButton %&#125;
&#123;% from 'macros/menu.njk' import menuLink, menuHeader %&#125;
&#123;% set items = [
  &#123; id: 'home', title: 'Home', url: 'index.html', null &#125;,
  &#123; id: 'features', title: 'Features', url: 'features.html', null &#125;,
  &#123; id: 'docs', title: 'Docs', url: 'docs/', null &#125;,
  &#123; id: 'repo', title: 'Github', url: 'https://github.com/jaywing/atomic', null &#125;
]
%&#125;
&lt;nav class="c-NavResponsive c-NavResponsive@xs"&gt;
  &#123;&#123; ToggleButton("parent", "c-ToggleButton--hideText") &#125;&#125;
  &lt;ul class="c-menu c-menu--vertical"&gt;
    &#123;&#123; menuHeader('Atomic', 'index.html', 'c-menu__item--left c-menu__item--flush') &#125;&#125;
    &#123;% for item in items %&#125;
      &#123;&#123; menuLink(item.id, item.title, item.url, itemId) &#125;&#125;
    &#123;% endfor %&#125;
  &lt;/ul&gt;
&lt;/nav&gt;</code></pre>
  </div>

{% endblock %}

{% block javascript %}
{% endblock %}
