{#
Nunjucks Templating!
Homepage: https://mozilla.github.io/nunjucks/
Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% set pageid = 'toggle-button' %}
{% set sectionid = 'extended' %}

{% extends 'layouts/application.njk' %}
{% from 'macros/toggle-button.njk' import ToggleButton %}

{% block metaTitle %}Toggle c-Button | Atomic: Components{% endblock %}

{% block content %}

  <h1 class="Article-title">Toggle c-Button</h1>
  <p class="c-Text--lead">Toggle buttons have an on/off or true/false state. A typical use case is for toggling a collapsible menu, and its default state reflects this.</p>

  <dl class="c-Definition c-Definition--horizontal">
    <dt>Modules</dt>
    <dd><a href="/docs/core/toggle.html"><span class="c-Badge">Toggle</span></a></dd>
    <dt>Macros</dt>
    <dd><a href="#section:macro"><span class="c-Badge">ToggleButton</span></a> <a href="/docs/core/icon.html#section:macro"><span class="c-Badge">o-Icon</span></a></dd>
  </dl>

  <hr class="Article-divider">

  <h2 id="section:usage"><a href="#section:usage" class="c-Text--resetLink">Usage</a></h2>

  <div class="docs-example">

    <button class="c-ToggleButton" data-module="Toggle">
      <div class="c-ToggleButton-init">
        <span class="o-Icon o-Icon--navicon c-ToggleButton-icon--init">
          <svg viewBox="0 0 1 1"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/icons.svg#navicon"></use></svg>
        </span>
        <span class="c-ToggleButton-text">Menu</span>
      </div>
      <div class="c-ToggleButton-close">
        <span class="o-Icon o-Icon--close c-ToggleButton-icon--close">
          <svg viewBox="0 0 1 1"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/icons.svg#close"></use></svg>
        </span>
        <span class="c-ToggleButton-text">Close</span>
      </div>
    </button>

  </div>

  <div class="docs-code docs-code--html">
    <pre class="scrollXauto"><code class="html">&lt;button class="c-ToggleButton" data-module="Toggle"&gt;
  &lt;div class="c-ToggleButton-init"&gt;
    &lt;span class="o-Icon o-Icon--navicon c-ToggleButton-icon--init"&gt;
      &lt;svg viewBox="0 0 1 1"&gt;&lt;use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/icons.svg#navicon"&gt;&lt;/use&gt;&lt;/svg&gt;
    &lt;/span&gt;
    &lt;span class="c-ToggleButton-text"&gt;Menu&lt;/span&gt;
  &lt;/div&gt;
  &lt;div class="c-ToggleButton-close"&gt;
    &lt;span class="o-Icon o-Icon--close c-ToggleButton-icon--close"&gt;
      &lt;svg viewBox="0 0 1 1"&gt;&lt;use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/icons.svg#close"&gt;&lt;/use&gt;&lt;/svg&gt;
    &lt;/span&gt;
    &lt;span class="c-ToggleButton-text"&gt;Close&lt;/span&gt;
  &lt;/div&gt;
&lt;/button&gt;</code></pre>
  </div>

  <h3 id="section:macro"><a href="#section:macro" class="c-Text--resetLink">Macro</a></h3>

  <dl class="c-Definition c-Definition--horizontal">
    <dt>Macro</dt>
    <dd>ToggleButton</dd>
    <dt>Import</dt>
    <dd><pre><code class="html">&#123;% from 'macros/toggle-button.njk' import ToggleButton %&#125;</code></pre></dd>
    <dt>Parameters</dt>
    <dd><strong>target</strong> (string or boolean:false) - reference to the element you want to toggle the active class on. If false, it toggles on itself</dd>
    <dd><strong>classes</strong> (string) - any extra classes to be put on the button element</dd>
    <dd><strong>content</strong> (object) - content of the button</dd>
    <dd><strong>content.offo-Icon</strong> (string: 'navicon') - ID of the icon you want to show on inactive state</dd>
    <dd><strong>content.ono-Icon</strong> (string: 'close') - ID of the icon you want to show on active state</dd>
    <dd><strong>content.offText</strong> (string: 'Menu') - c-Text you want to show on inactive state</dd>
    <dd><strong>content.onText</strong> (string: 'Close') - c-Text you want to show on active state</dd>
  </dl>

  <div class="docs-code docs-code--macro">
    <pre><code class="html">&#123;&#123; ToggleButton() &#125;&#125;
&lt;br /&gt;&lt;br /&gt;

&#123;% set content = &#123;
  offIcon: 'minus',
  onIcon: 'plus',
  offText: 'Subtract',
  onText: 'Addition'
&#125; %&#125;
&#123;&#123; ToggleButton(false, 'c-ToggleButton--hideText', content) &#125;&#125;</code></pre>
  </div>

  <div class="docs-example">
    {{ ToggleButton() }}
    <br /><br />

    {% set content = {
      offIcon: 'minus',
      onIcon: 'plus',
      offText: 'Subtract',
      onText: 'Addition'
    } %}
    {{ ToggleButton(false, 'ToggleButton--hideText', content) }}
  </div>

  <h3 id="section:modifiers"><a href="#section:modifiers" class="c-Text--resetLink">Modifiers</a></h3>

  <dl class="c-Definition c-Definition--horizontal">
    <dt>c-ToggleButton--hideText</dt>
    <dd>Visually hides the text of the button, but it remains accessible to a screenreader (see above example)</dd>
  </dl>

{% endblock %}

{% block javascript %}
{% endblock %}
