.Overlay {
  display: inline-block;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  margin: 0;

  &-panel {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
  }

}