$overlay-background-bg: rgba(map-get($c-palette, black), 0.8) !default;
$overlay-background-color: map-get($c-palette, white) !default;

.Overlay-background {
  background: $overlay-background-bg;
  color: $overlay-background-color;

  a,
  a:hover,
  a:focus {
    color: $overlay-background-color;
  }
}