.Tooltip {
  position: relative;

  span {
    @include transform(translateX(-50%) scale(.95));
    position: absolute;
    bottom: 1rem;
    left: 50%;
    min-width: 8rem;
    background: $c-dark-15;
    color: $c-light;
    padding: $g-spacer-sm;
    visibility: hidden;
    opacity: 0;
    transition: all .2s linear;

    &:after {
      @include transform(translateX(-50%));
      content: ' ';
      position: absolute;
      top: 100%;
      left: 50%;
      width: 0;
      height: 0;
      border-top: 8px solid $c-dark-15;
      border-right: 8px solid transparent;
      border-left: 8px solid transparent;
    }
  }

  &:hover,
  &:focus {

    span {
      @include transform(translateX(-50%) scale(1));
      visibility: visible;
      bottom: 2rem;
      opacity: 1;
    }

  }

}