.Tooltip--right {

  .Tooltip-item {
    @include transform(translateY(-50%));
    box-align: flex-start;
    align-items: center;
    justify-content: flex-start;
    left: 115%;
    top: 50%;
    bottom: inherit;
  }

  .Tooltip-itemInner {

    &:after {
      @include transform(translateY(-50%));
      top: 50%;
      left: -$tooltip-pointer-size*2;
      bottom: inherit;
      border-top: $tooltip-pointer-size solid transparent;
      border-right: $tooltip-pointer-size solid $tooltip-pointer-bg;
      border-bottom: $tooltip-pointer-size solid transparent;
      border-left: $tooltip-pointer-size solid transparent;
    }

  }

  &:hover,
  &:focus {

    .Tooltip-itemInner {
      animation: popinRight $tooltip-popin-ani-time $tooltip-popin-ani-type;
    }

  }

}

.Tooltip--bottom {

  .Tooltip-item {
    top: $tooltip-bottom;
    left: 0;
    bottom: inherit;
  }

  .Tooltip-itemInner {
    position: relative;

    &:after {
      top: -$tooltip-pointer-size*2;
      left: 50%;
      bottom: inherit;
      border-top: $tooltip-pointer-size solid transparent;
      border-right: $tooltip-pointer-size solid transparent;
      border-bottom: $tooltip-pointer-size solid $tooltip-pointer-bg;
      border-left: $tooltip-pointer-size solid transparent;
    }

  }

  &:hover,
  &:focus {

    .Tooltip-itemInner {
      animation: popinDown $tooltip-popin-ani-time $tooltip-popin-ani-type;
    }

  }

}

.Tooltip--left {

  .Tooltip-item {
    @include transform(translateY(-50%));
    box-align: flex-end;
    align-items: flex-end;
    justify-content: flex-end;
    left: -115%;
    top: 50%;
    bottom: inherit;
  }

  .Tooltip-itemInner {
    position: relative;

    &:after {
      @include transform(translateY(-50%));
      top: 50%;
      right: -$tooltip-pointer-size*2;
      bottom: inherit;
      left: inherit;
      border-top: $tooltip-pointer-size solid transparent;
      border-right: $tooltip-pointer-size solid transparent;
      border-bottom: $tooltip-pointer-size solid transparent;
      border-left: $tooltip-pointer-size solid $tooltip-pointer-bg;
    }

  }

  &:hover,
  &:focus {

    .Tooltip-itemInner {
      animation: popinLeft $tooltip-popin-ani-time $tooltip-popin-ani-type;
    }

  }

}
