$tooltip-bg: $c-dark-15;
$tooltip-color: $c-light;
$tooltip-pointer-size: 10px;
$tooltip-pointer-bg: $tooltip-bg;
$tooltip-padding: $g-spacer-sm;
$tooltip-max-width: 10rem;
$tooltip-bottom: 2rem;
$tooltip-popin-ani-time: .2s;
$tooltip-popin-ani-type: linear;


.Tooltip {
  position: relative;

  &-item {
    display: flex;
    box-align: center;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: $tooltip-bottom;
    left: 0;
    width: 100%;
    visibility: hidden;
    opacity: 0;
  }

  &-itemInner {
    flex: none;
    max-width: $tooltip-max-width;
    background: $tooltip-bg;
    color: $tooltip-color;
    padding: $tooltip-padding;

    &:after {
      @include transform(translateX(-50%));
      content: ' ';
      position: absolute;
      top: 99%;
      left: 50%;
      width: 0;
      height: 0;
      border-top: $tooltip-pointer-size solid $tooltip-pointer-bg;
      border-right: $tooltip-pointer-size solid transparent;
      border-left: $tooltip-pointer-size solid transparent;
    }
  }

  &:hover,
  &:focus {

    .Tooltip-item {
      animation: popin $tooltip-popin-ani-time $tooltip-popin-ani-type;
      visibility: visible;
      opacity: 1;
    }

  }

}
