$tooltip-bg: $c-dark-15;
$tooltip-color: $c-light;
$tooltip-pointer-size: 10px;
$tooltip-pointer-bg: $tooltip-bg;
$tooltip-padding: $g-spacer-sm;


.Tooltip {
  position: relative;

  &:hover,
  &:focus {

    .Tooltip-tip {
      transform: scale(1);
      visibility: visible;
      bottom: 2rem;
      opacity: 1;
    }

  }

}

.Tooltip-tip {
  display: flex;
  box-align: center;
  align-items: center;
  justify-content: center;
  transform: scale(.95);
  position: absolute;
  bottom: 1rem;
  left: 0;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all .2s linear;
}

.Tooltip-tipItem {
  flex: none;
  max-width: 10rem;
  background: $tooltip-bg;
  color: $tooltip-color;
  padding: $tooltip-padding;

  &:after {
    @include transform(translateX(-50%));
    content: ' ';
    position: absolute;
    top: 99%;
    left: 50%;
    width: 0;
    height: 0;
    border-top: $tooltip-pointer-size solid $tooltip-pointer-bg;
    border-right: $tooltip-pointer-size solid transparent;
    border-left: $tooltip-pointer-size solid transparent;
  }
}