$icon-size-sm: 18px !default;
$icon-size: 26px !default;
$icon-size-lg: 44px !default;
$icon-size-xl: 60px !default;
$icon-size-xxl: 88px !default;

$icon-spin-ani-time: 1.25s !default;
$icon-spin-ani-type: linear !default;

.Icon {
    display: inline-block;
    width: $icon-size;
    height: $icon-size;
    vertical-align: middle;

    &--lg {
        width: $icon-size-lg;
        height: $icon-size-lg;
    }

    &--sm {
        width: $icon-size-sm;
        height: $icon-size-sm;
    }

    &--xl {
        width: $icon-size-xl;
        height: $icon-size-xl;
    }

    &--xxl {
        width: $icon-size-xxl;
        height: $icon-size-xxl;
    }

    &--spin {
        display: inline-block;
        animation: spin $icon-spin-ani-time infinite $icon-spin-ani-type;
    }
}
