$back-to-top-md-margin: -($g-spacer-xs);
$back-to-top-fixed-right: $g-spacer-xs;
$back-to-top-fixed-bottom: 0;

.BackToTop {

  > .Icon {
    margin: 0;
  }

  &-text {
    position: absolute;
    top: -9999px;
  }

  @include md {

    > .Icon {
      margin-left: $back-to-top-md-margin;
    }

    &-text {
      position: static;
      top: auto;
    }
  }

  &--fixed {
    bottom: $back-to-top-fixed-bottom;
    position: fixed;
    right: $back-to-top-fixed-right;
  }
}
