// Name:            Grid Medium
// Description:     Defines styles for flexbox based grid layout for medium devices (768px +).
//
// Component:       `o-GridMd`
//
// Sub-objects:     `o-Grid-cell`
//
// Modifiers:       `o-GridMd--reverse`
//                  `o-GridMd--1of2`
//                  `o-GridMd--1of3`
//                  `o-GridMd--1of4`
//                  `o-GridMd--gutters`
//                  `o-GridMd--guttersLg`
//                  `o-GridMd--guttersXl`
//
//
// Markup:
//
// <!-- o-Grid -->
// <div class="o-Grid o-GridMd--1of3">
//   <div class="o-Grid-cell">...</div>
//   <div class="o-Grid-cell">...</div>
//   <div class="o-Grid-cell">...</div>
// </div>
//
// ========================================================================


// Breakpoints
// ========================================================================

@include md {

  .o-GridMd {

    &--reverse {
      flex-direction: row-reverse;
    }

    &--fit {

      > .o-Grid-cell {
        flex: 1;
      }
    }

    &--full {

      > .o-Grid-cell {
        flex: 0 0 100%;
      }
    }

    &--1of2 {

      > .o-Grid-cell {
        flex: 0 0 50%;
      }
    }

    &--1of3 {

      > .o-Grid-cell {
        flex: 0 0 33.3333%;
      }
    }

    &--1of4 {

      > .o-Grid-cell {
        flex: 0 0 25%;
      }
    }

    &--1of5 {

      > .o-Grid-cell {
        flex: 0 0 20%;
      }
    }

    &--2of5 {

      > .o-Grid-cell {
        flex: 0 0 40%;
      }
    }

    &--3of5 {

      > .o-Grid-cell {
        flex: 0 0 60%;
      }
    }

    &--4of5 {

      > .o-Grid-cell {
        flex: 0 0 80%;
      }
    }

    &--1of6 {

      > .o-Grid-cell {
        flex: 0 0 16.666%;
      }
    }

    &--5of6 {

      > .o-Grid-cell {
        flex: 0 0 83.333%;
      }
    }

    // Gutters
    // ========================================================================
    &--gutters {
      margin: 0 -($grid-gutter/2);

      > .o-Grid-cell {
        padding: $grid-gutter/2;
      }
    }

    &--guttersLg {
      margin: 0 -($grid-gutter-lg/2);

      > .o-Grid-cell {
        padding: $grid-gutter-lg/2;
      }
    }

    &--guttersXl {
      margin: 0 -($grid-gutter-xl/2);

      > .o-Grid-cell {
        padding: $grid-gutter-xl/2;
      }
    }

  }

}
