@charset 'utf-8';
// ----------------------------------------------------------------------

// Basic stylesheet

// ----------------------------------------------------------------------

////
/// @author   James Taylor
/// @group    jw
/// @create   20/06/2016
////

// * Import Settings
@import 'settings/settings';   // global variables

// * Import Tools
@import 'tools/tools';      // Mixins, functions and placeholders

// * Import Generic
@import 'normalize';
@import 'generic/generic.fonts';
@import 'generic/generic.base';

// * Import Elements
@import 'base/base'; // Un-classed common common
