// ----------------------------------------------------------------------

// Docs stylesheet - Documentation specific styles

// ----------------------------------------------------------------------

////
/// @author   James Taylor
/// @group    jw
/// @create   20/06/2016
////

// * Import Settings
@import 'settings/settings';   // global variables

// * Import Tools
@import 'tools/tools';      // Mixins, functions and placeholders

// * Import Doc specific styles
@import 'docs/settings.docs.colors';

@import 'docs/generic.docs.base';

@import 'vendor/vendor.highlight';

@import 'docs/component.docs.globalheader';
@import 'docs/component.docs.demo';

@import 'trumps/trump.grid';
@import 'trumps/trump.typography';
@import 'trumps/trump.misc';
