@charset 'utf-8';

// ****************************************************
//
//  ATOMIC by Jaywing
//
//                                 \         .  ./
//                             \      .:";'.:.."   /
//                                 (M^^.^~~:.'").
//                           -   (/  .    . . \ \)  -
//    O                         ((| :. ~ ^  :. .|))
//   |\\                     -   (\- |  \ /  |  /)  -
//   |  T                         -\  \     /  /-
//  / \[_]..........................\  \   /  /
//
//  F R O N T   E N D   S T A R T E R   K I T
//
// *****************************************************

// ----------------------------------------------------------------------

// Global Stylesheet Index

// ----------------------------------------------------------------------

////
/// @author   James Taylor
/// @group    jw
/// @created  08/06/2016
////


// * Settings
@import 'settings/settings';   // global variables

// * Tools
@import 'tools/tools';      // Mixins, functions and placeholders

// * Generic
@import 'normalize'; // served from node_modules
@import 'generic/generic.fonts';
@import 'generic/generic.base';

// * Vendor


// * Default (base) elements
@import 'base/base'; // Un-classed common common

// * Element Components
@import 'components/elements/list/component.list';
@import 'components/elements/definition/component.definition';
@import 'components/elements/table/component.table';
@import 'components/elements/form/component.form';
@import 'components/elements/text/component.text';

// * Common Components
@import 'components/common/badge/component.badge';
@import 'components/common/button/component.button';
@import 'components/common/icon/component.icon';
@import 'components/common/close/component.close';
@import 'components/common/tooltip/component.tooltip';
@import 'components/common/panel/component.panel';

// * Navigation Components
@import 'components/navigation/menu/component.menu';
@import 'components/navigation/breadcrumbs/component.breadcrumbs';
@import 'components/navigation/skip-link/component.skip-link';
@import 'components/navigation/bookmarks/component.bookmarks';

// * Module Components
@import 'components/modules/breakpoint/component.breakpoint';

// * Objects
@import 'components/objects/site/object.site';
@import 'components/objects/container/object.container';
@import 'components/objects/grid/object.grid';
@import 'components/objects/size/object.size';
@import 'components/objects/section/object.section';
@import 'components/objects/media/object.media';
@import 'components/objects/cover/object.cover';


// * Trumps      // Helper classes, hacks and browser fixes
// @import 'trumps/trump.border';
// @import 'trumps/trump.color';
// @import 'trumps/trump.typography';
@import 'trumps/trump.visibility';
// @import 'trumps/trump.font-size';
// @import 'trumps/trump.grid';
// @import 'trumps/trump.misc';
// @import 'trumps/trump.shame'; // Oooh! You are naughty!!
@import 'trumps/trump.debug'; // turn on in global settings (enables coloured borders round common)
@import 'trumps/trump.print'; // includes html5 boilerplate print styles
