@charset 'utf-8';

// * Atomic
@import '../../scss/1.settings/settings';
@import '1.settings/settings'; // Site settings to override atomic
@import '../../scss/atomic';

// * Import site styles
@import '2.tools/tools';
@import '3.generic/generic';
@import '4.elements/elements';
@import '5.objects/objects';
@import '6.components/components';
@import '7.trumps/trumps';
