@include sm {
    .c-NavResponsive\@sm,
    .c-NavResponsive\@sm.is-active {
        padding-top: 0;

        .c-ToggleButton {
            display: none;
        }

        .c-menu {
            max-height: none;
        }
    }
}
