@include md {
    .NavResponsive\@md,
    .NavResponsive\@md.is-active {
        padding: 0;

        .c-ToggleButton {
            display: none;
        }

        .Menu {
            max-height: none;
        }
    }
}
