@include xl {
    .NavResponsive\@xl,
    .NavResponsive\@xl.is-active {
        padding: 0;

        .c-ToggleButton {
            display: none;
        }

        .c-Menu {
            max-height: none;
        }
    }
}
