@include xxl {
    .c-NavResponsive\@xxl,
    .c-NavResponsive\@xxl.is-active {
        padding: 0;

        .c-ToggleButton {
            display: none;
        }

        .c-menu {
            max-height: none;
        }
    }
}
