@include xl {
    .c-NavResponsive\@xl,
    .c-NavResponsive\@xl.is-active {
        padding: 0;

        .c-ToggleButton {
            display: none;
        }

        .c-menu {
            max-height: none;
        }
    }
}
