@include xs {
    .c-NavResponsive\@xs,
    .c-NavResponsive\@xs.is-active {
        padding-top: 0;

        .c-ToggleButton {
            display: none;
        }

        .c-menu {
            max-height: none;
        }
    }
}
