@include md {
    .c-NavResponsive\@md,
    .c-NavResponsive\@md.is-active {
        padding: 0;

        .c-ToggleButton {
            display: none;
        }

        .c-menu {
            max-height: none;
        }
    }
}
