@include lg {
    .c-NavResponsive\@lg,
    .c-NavResponsive\@lg.is-active {
        padding: 0;

        .c-ToggleButton {
            display: none;
        }

        .c-Menu {
            max-height: none;
        }
    }
}
