@include xxl {
    .c-nav-responsive\@xxl,
    .c-nav-responsive\@xxl.is-active {
        padding: 0;

        .c-toggle-button {
            display: none;
        }

        .c-menu {
            max-height: none;
        }
    }
}
