@include lg {
    .NavResponsive\@lg,
    .NavResponsive\@lg.is-active {
        padding: 0;

        .c-ToggleButton {
            display: none;
        }

        .Menu {
            max-height: none;
        }
    }
}
