@include xs {
    .NavResponsive\@xs,
    .NavResponsive\@xs.is-active {
        padding-top: 0;

        .c-ToggleButton {
            display: none;
        }

        .Menu {
            max-height: none;
        }
    }
}
