@include xxl {
    .NavResponsive\@xxl,
    .NavResponsive\@xxl.is-active {
        padding: 0;

        .c-ToggleButton {
            display: none;
        }

        .Menu {
            max-height: none;
        }
    }
}
