$toggle-button-border: 1px solid $c-strong-trans-dark !default;
$toggle-button-bg: transparent !default;
$toggle-button-radius: $g-border-radius !default;

.ToggleButton {
    min-width: 44px;
    min-height: 44px;
    border: $toggle-button-border;
    background: $toggle-button-bg;
    border-radius: $toggle-button-radius;

    .ToggleButton-close {
        display: none;
    }

    &.is-active,
    .is-active > & {
        .ToggleButton-close {
            display: inline-block;
        }

        .ToggleButton-init {
            display: none;
        }
    }
}

.ToggleButton--hideText {
    .ToggleButton-text {
        @include hide-visually(true);
    }
}
