$toggle-button-border: 1px solid $c-strong-trans-dark !default;
$toggle-button-bg: transparent !default;

.c-toggle-button {
    min-width: 44px;
    min-height: 44px;
    border: $toggle-button-border;
    background: $toggle-button-bg;

    .c-toggle-button__close {
        display: none;
    }

    &.is-active,
    .is-active > & {
        .c-toggle-button__close {
            display: inline-block;
        }

        .c-toggle-button__init {
            display: none;
        }
    }
}

.c-toggle-button--hideText {
    .c-toggle-button__text {
        @include hide-visually(true);
    }
}
