{% from '_macros/helpers.njk' import icon %}

{% macro ToggleButton(
settings = false,
classList = "",
content = {
initIcon: 'navicon',
closeIcon: 'close',
initText: false,
closeText: false
}) %}

  <button class="ToggleButton {{ classList }}" data-module="Toggle"
      {% if settings %}
        data-options='{{ settings }}'
      {% endif %}>

    <div class="ToggleButton-init">
      {{ icon(content.initIcon, 'ToggleButton-icon--init') }}
      {% if content.initText %}
        <span class="ToggleButton-text">{{ content.initText }}</span>
      {% endif %}
    </div>

    <div class="ToggleButton-close">
      {{ icon(content.closeIcon, 'ToggleButton-icon--close') }}
      {% if content.closeText %}
        <span class="ToggleButton-text">{{ content.closeText }}</span>
      {% endif %}
    </div>

  </button>

{% endmacro %}