$form-disabled-bg: $c-disabled;
$form-disabled-border-color: $c-light-30;
$form-disabled-color: $c-light-75;

$form-danger-bg: $c-danger-light-30;
$form-danger-border-color: $c-danger;
$form-danger-color: $c-danger;

$form-success-bg: $c-success-light-50;
$form-success-border-color: $c-success;
$form-success-color: $c-success;

.Form-input,
.Form-select,
.Form-text,
.Form-check,
.Form-radio {

  &:disabled {
    border-color: $form-disabled-border-color;
    background-color: $form-disabled-bg;
    color: $form-disabled-color;
  }

  &--danger {
    border-color: $form-danger-border-color;
    background: $form-danger-bg;
    color: $form-danger-color;
  }

  &--success {
    border-color: $form-success-border-color;
    background: $form-success-bg;
    color: $form-success-color;
  }

}