$form-flabel-bg: white;
$form-flabel-top: .25rem;
$form-flabel-left: $g-spacer-sm;
$form-flabel-active-top: -.5rem;
$form-flabel-transition: all .1s linear;

.Form-flabel {
  position: relative;

  .Form-label {
    @include minion;
    position: absolute;
    top: $form-flabel-top;
    left: $form-flabel-left;
    opacity: 0;
    transition: $form-flabel-transition;
    background: $form-flabel-bg;

    &.is-active {
      opacity: 1;
      top: $form-flabel-active-top;
    }
  }

}