$form-icon-color: $c-light-50;
$form-icon-width: 30px;
$form-icon-indent: $form-icon-width;
$form-icon-margin: -15px 0 0;

.Form-icon {
  display: inline-block;
  position: relative;
  max-width: 100%;

  [class*=Icon] {
    position: absolute;
    top: 50%;
    width: $form-icon-width;
    margin: $form-icon-margin;
    color: $form-icon-color;
    text-align: center;
    pointer-events: none;
  }

  &:not(.Form-icon--flip) > input {
    padding-left: $form-icon-indent;
  }

  &--flip {

    [class*=Icon] {
      right: 0;
    }

    > input {
      padding-right: $form-icon-indent;
    }

  }
}