$form-xs-padding: $g-spacer-sm $g-spacer !default;
$form-sm-padding: $g-spacer-sm $g-spacer !default;
$form-lg-padding: $g-spacer $g-spacer-lg !default;
$form-xl-padding: ($g-spacer * 1.25) $g-spacer-xl !default;


.Form {

  .Form-input,
  .Form-select,
  .Form-text,
  .Form-check,
  .Form-radio {

    &--xs {
      @include minion;
      padding: $form-xs-padding;
    }

    &--sm {
      @include brevier;
      padding: $form-sm-padding;
    }

    &--lg {
      padding: $form-lg-padding;
    }

    &--xl {
      @include great-primer;
      padding: $form-xl-padding;
    }

    &--block {
      display: block;
    }

  }

}