$form-input-padding: $g-spacer-sm;
$form-input-bg: $c-light;
$form-input-border: 1px solid $c-light-15;
$form-input-color: $c-dark;
$form-input-radius: $g-border-radius;

$form-blank-bg: transparent;
$form-blank-border-color: transparent;
$form-blank-border-style: dashed;
$form-blank-focus-border-color: $c-light-15;

$form-label-weight: $g-weight-bold;

.Form {

  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }

  legend {
    display: block;
    width: 100%;
    padding: 0 0 $g-spacer;
    line-height: 2;

    &:after {
      content: '';
      display: block;
      border-bottom: 1px solid #ddd;
    }
  }

  input:not([type=radio]):not([type=checkbox]),
  select {
    vertical-align: middle;
  }

}

.Form-input,
.Form-select,
.Form-text,
.Form-check,
.Form-radio {
  max-width: 100%;
  padding: $form-input-padding;
  border: $form-input-border;
  background: $form-input-bg;
  color: $form-input-color;
  border-radius: $form-input-radius;

  &--inline {
    width: auto !important;
  }

  &--blank {
    border-color: $form-blank-border-color;
    border-style: $form-blank-border-style;
    background: $form-blank-bg;
    outline: none;

    &:focus {
      border-color: $form-blank-focus-border-color;
    }
  }

}

.Form-input,
.Form-select,
.Form-text {
  width: 100%;
}

.Form-text {
  height: auto;
}

.Form-label {
  display: block;
  font-weight: $form-label-weight;
}
