//$form-height: 35px;
$form-padding: $g-spacer-sm;
$form-bg: #fff;
$form-border: 1px solid #e5e5e5;

$form-disabled-bg: #fafafa;
$form-disabled-border: 1px solid #e5e5e5;
$form-disabled-color: #999;

$form-color: $c-dark;

$form-danger-bg: #fff7f8;
$form-danger-border-color: #dc8d99;
$form-danger-color: #d85030;

$form-success-bg: #fafff2;
$form-success-border-color: #8ec73b;
$form-success-color: #659f13;

$form-blank-bg: transparent;
$form-blank-border-color: transparent;
$form-blank-border-style: dashed;
$form-blank-focus-border-color: #e5e5e5;

$form-label-weight: $g-weight-bold;

.Form {

  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }

  legend {
    display: block;
    width: 100%;
    padding: 0 0 $g-spacer;
    line-height: 2;

    &:after {
      content: '';
      display: block;
      border-bottom: 1px solid #ddd;
    }
  }

  input:not([type=radio]):not([type=checkbox]),
  select {
    vertical-align: middle;
  }

}

.Form-input,
.Form-select,
.Form-text,
.Form-check,
.Form-radio {
  //height: $form-height;
  max-width: 100%;
  padding: $form-padding;
  border: $form-border;
  background: $form-bg;
  color: $form-color;

  &:disabled {
    border-color: $form-disabled-border;
    background-color: $form-disabled-bg;
    color: $form-disabled-color;
  }

  &--inline {
    width: auto !important;
  }

  &--danger {
    border-color: $form-danger-border-color;
    background: $form-danger-bg;
    color: $form-danger-color;
  }

  &--success {
    border-color: $form-success-border-color;
    background: $form-success-bg;
    color: $form-success-color;
  }

  &--blank {
    border-color: $form-blank-border-color;
    border-style: $form-blank-border-style;
    background: $form-blank-bg;
    outline: none;

    &:focus {
      border-color: $form-blank-focus-border-color;
    }
  }

}

.Form-input,
.Form-select,
.Form-text {
  width: 100%;
}

.Form-text {
  height: auto;
}

.Form-label {
  display: block;
  font-weight: $form-label-weight;
}

.Form-icon {
  display: inline-block;
  position: relative;
  max-width: 100%;

  [class*=Icon] {
    position: absolute;
    top: 50%;
    width: 30px;
    margin-top: -15px;
    color: #999;
    text-align: center;
    pointer-events: none;
  }

  &:not(.Form-icon--flip) > input {
    padding-left: 30px !important;
  }

  &--flip {

    [class*=Icon] {
      right: 0;
    }

    > input {
      padding-right: 30px !important;
    }

  }
}
