$form-radius:      $g-border-radius;

.Form {

  // scss-lint:disable all
  input:not([type]),
  input[type=text],
  input[type=password],
  input[type=email],
  input[type=url],
  input[type=search],
  input[type=tel],
  input[type=number],
  input[type=datetime],
  input[type=datetime-local],
  input[type=date],
  input[type=month],
  input[type=time],
  input[type=week],
  input[type=color],
  select,
  textarea {
    border-radius: $form-radius;
  }
  // scss-lint:enable all

}