$form-flabel-bg: white;
$form-flabel-top: 50%;
$form-flabel-left: $g-spacer-sm;
$form-flabel-active-top: 0;
$form-flabel-transition: all .1s linear;

.Form-flabel {
  position: relative;

  .Form-label {
    @include minion;
    @include transform(translateY(-50%));
    position: absolute;
    top: $form-flabel-top;
    left: $form-flabel-left;
    transition: $form-flabel-transition;
    background: $form-flabel-bg;
  }

  .Form-input {

    &:focus ~ label {
      top: $form-flabel-active-top;
    }

  }

}