// ----------------------------------------------------------------------

// Elements: Details

// ----------------------------------------------------------------------

////
/// @author   James Taylor
/// @group    jw
/// @create   17/06/2016
////

/// Styles for "Details" and "Summary" elements
///
/// These are HTML5 tags that work link and "expander/revealer" component
/// As off 17/06/2016, this functionality is not supported in IE or Firefox.
/// Either use a polyfill (@link https://github.com/chemerisuk/better-details-polyfill)
/// or let it gracefully degrade.


