$container-max-width: $g-site-max-width !default;
$container-side-padding: $g-spacer !default;
$container-thin-max-width: 800px !default;


.o-Container {
  @include clearfix;
  max-width: $container-max-width;
  padding-left: $container-side-padding;
  padding-right: $container-side-padding;

  &--centered {
    margin-left: auto;
    margin-right: auto;
  }

  &--fluid {
    max-width: 100%;
  }

  &--collapse {
    padding-left: 0;
    padding-right: 0;
  }

  &--absolute {
    position: relative;
  }

  &--thin {
    max-width: $container-thin-max-width;
  }
}
