$form-flabel-bg: $c-light !default;
$form-flabel-top: 50% !default;
$form-flabel-left: $g-spacer-sm !default;
$form-flabel-active-top: 0 !default;
$form-flabel-transition: all 0.1s linear !default;

.c-Form-flabel {
    position: relative;

    .c-Form-label {
        @include minion;

        position: absolute;
        top: $form-flabel-top;
        left: $form-flabel-left;
        background: $form-flabel-bg;
        transform: translateY(-50%);
        transition: $form-flabel-transition;
    }

    .c-Form-input {
        &:focus ~ label {
            top: $form-flabel-active-top;
        }
    }
}
