//
//  Breadcrumbs navigation
//  @author anthony.fisher@jaywing.com
//

$breadcrumbs-margin: 0 !default;
$breadcrumbs-item-font-size: $base-font-size !default;
$breadcrumbs-item-color-disabled: rgba($c-dark, 0.5) !default;
$breadcrumbs-item-margin: 0 0.75rem !default;
$breadcrumbs-item-uppercase: false !default;
$breadcrumbs-item-underline: false !default;
$breadcrumbs-item-separator: true !default;
$breadcrumbs-item-separator-char: '/' !default;

.c-breadcrumbs__list {
    margin: $breadcrumbs-margin;
    list-style: none;

    li {
        cursor: default;
        float: left;
        font-size: $breadcrumbs-item-font-size;

        @if $breadcrumbs-item-uppercase {
            text-transform: uppercase;
        }

        &:not(:last-child)::after {
            @if $breadcrumbs-item-separator {
                content: $breadcrumbs-item-separator-char;
            }

 @else {
                content: '';
            }

            position: relative;
            top: 1px;
            margin: $breadcrumbs-item-margin;
            opacity: 1;
        }
    }

    a {
        @if $breadcrumbs-item-underline {
            text-decoration: underline;
        }

 @else {
            text-decoration: none;
        }
    }

    .disabled {
        color: $breadcrumbs-item-color-disabled;
        cursor: not-allowed;
    }

    &::before,
    &::after {
        display: table;
        content: '';
    }

    &::after {
        clear: both;
    }
}
