$back-to-top-md-margin: -($g-spacer-xs);
$back-to-top-fixed-right: $g-spacer-xs;
$back-to-top-fixed-bottom: 0;

.c-BackToTop {
    > .o-icon {
        margin: 0;
    }

    &-text {
        position: absolute;
        top: -9999px;
    }

    @include md {
        > .o-icon {
            margin-left: $back-to-top-md-margin;
        }

        &-text {
            position: static;
            top: auto;
        }
    }

    &--fixed {
        position: fixed;
        right: $back-to-top-fixed-right;
        bottom: $back-to-top-fixed-bottom;
    }
}
