$table-th-font-weight: $g-weight-bold !default;

$table-cell-padding: $g-spacer-sm !default;

$table-caption-font-style: italic !default;

.Table {
    width: 100%;
    border-collapse: collapse;

    caption,
    tfoot {
        @include minion;

        font-style: $table-caption-font-style;
        text-align: left;
    }

    th {
        font-weight: $table-th-font-weight;
    }

    td,
    th {
        padding: $table-cell-padding;
        text-align: left;
    }
}
