<!doctype html>
<!--#if expr="$HTTP_COOKIE=/fonts\-loaded\=true/" -->
<html lang="{{ lang }}" class="fonts-loaded">
<!--#else -->
<html lang="{{ lang }}">
<!--#endif -->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="author" content="{{ author.name }}"/>

  <title>{% block metaTitle %}Atomic - by Jaywing{% endblock %}</title>

  <meta name="format-detection" content="telephone=no">

  {% include 'shared/app-icons.njk' %}

  <link rel="stylesheet" href="/css/atomic.css">

  <script>if(document.documentElement){document.documentElement.classList.add('js');}</script>
  {% block metaHead %}{% endblock %}
</head>

<body id="top" class="o-Site">

  <a href="#content" class="SkipLink">Skip to content</a>

  <header role="banner" class="o-Site-header">
    {% block pageHead %}{% endblock %}
    {% include 'shared/main-nav.njk' %}
  </header>

  <main id="content" class="o-Site-content">
    {% block content %}{% endblock %}
  </main>

  <footer role="contentinfo" class="o-Site-footer">
    <div class="o-Container o-Container--centered">
      <p>&copy; <u id="copyright-year">{{ author.createdYear }}</u> - {{ author.footerText }} <a href="{{ author.url }}">{{ author.name }}</a></p>
    </div>
  </footer>

  <script src="/js/app.js" async></script>

  {% block javascript %}{% endblock %}

</body>
</html>
