$bookmarks-z: 1000 !default;
$bookmarks-top: $g-spacer-sm !default;
$bookmarks-right: $g-spacer !default;

$bookmarks-toggler-color: $c-dark-15 !default;
$bookmarks-toggler-bg: rgba($c-light, 0.85) !default;
$bookmarks-toggler-border: 1px solid $c-dark-30 !default;

$bookmarks-menu-trans: all $g-trans__link-speed ease-in !default;
$bookmarks-menu-trans-origin: right top !default;
$bookmarks-menu-offset: 10px !default;
$bookmarks-menu-border: 1px solid $c-dark-30 !default;
$bookmarks-menu-padding: $g-spacer-sm !default;
$bookmarks-menu-bg: rgba($c-light, 0.85) !default;
$bookmarks-menu-z: $g-z-8 !default;

.c-Bookmarks {
    &-menu {
        @include reset-list;
    }

    &-toggler {
        display: none;
    }
}

.js .c-Bookmarks {
    position: fixed;
    z-index: $bookmarks-z;
    top: $bookmarks-top;
    right: $bookmarks-right;
    text-align: right;

    .c-Bookmarks-toggler {
        display: inline-block;
        border: $bookmarks-toggler-border;
        margin-top: 2px;
        background: $bookmarks-toggler-bg;
        color: $bookmarks-toggler-color;
    }

    .c-Bookmarks-menu {
        display: inline-block;
        overflow: hidden;
        height: auto;
        max-height: 0;
        margin-top: $bookmarks-menu-offset;
        opacity: 0;
        transform: scale(0);
        transform-origin: $bookmarks-menu-trans-origin;
        transition: $bookmarks-menu-trans;
    }

    &.is-active {
        .c-Bookmarks-toggler {
            background: $c-light;
            color: $c-dark;
        }

        .c-Bookmarks-menu {
            z-index: $bookmarks-menu-z;
            max-height: 90%;
            padding: $bookmarks-menu-padding;
            border: $bookmarks-menu-border;
            background: $bookmarks-menu-bg;
            opacity: 1;
            transform: scale(1);
        }
    }
}

:target {
    animation: target-fade 3.5s 1;
    animation-delay: 1s;
}

.c-Panel:target {
    animation: none;
}
