@include xl {
  .MenuXl,
  .NavResponsiveXl {
    flex-wrap: nowrap;

    > .Menu-item {
      flex: 0 0 auto;
      padding: $menu-item-padding;
    }

    > .Menu-item .Menu-link {
      padding: $menu-link-padding;
    }

    .Menu-header {
      margin: -($menu-header-padding);
      padding: $menu-header-padding;
    }
  }
}
