//
//  Breadcrumbs navigation
//  @author anthony.fisher@jaywing.com
//

$breadcrumbs-margin: 0 0 $g-spacer 0;
//$breadcrumbs-item-font-size: rem-calc(11);
$breadcrumbs-item-color: blue;
$breadcrumbs-item-color-current: black;
$breadcrumbs-item-color-disabled: grey;
$breadcrumbs-item-margin: .75rem;
$breadcrumbs-item-uppercase: true;
$breadcrumbs-item-slash: true;