%t-block {
    position: relative;
    border-top: 1px solid rgba($c-light-30, 0.5);
    border-bottom: 1px solid rgba($c-light-30, 0.5);
    margin: $g-spacer-xxl 0 $g-spacer;

    &::before {
        @include minion-bold;

        position: absolute;
        top: -($g-spacer-lg);
        left: 0;
        display: inline-block;
        padding: $g-spacer-xxs $g-spacer-sm;
        border: 1px solid $c-light-30;
        background: rgba($c-light-30, 0.5);
        color: $c-dark-30;
        text-transform: capitalize;
    }
}

.c-example {
    @extend %t-block;

    padding: $g-spacer-lg $g-spacer;
    background: $c-light;

    &::before {
        content: 'Example';
    }
}
