.t-side-nav {
    padding-right: $g-spacer;

    .c-menu-title {
        display: block;
        padding: $g-spacer-sm $g-spacer-sm $g-spacer-xs;
    }

    .c-menu__item {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: -($g-spacer-sm);

        &.is-active {
            .c-menu__link {
                @include color-swap-on-hover(
                    $menu-link-active-color $menu-link-active-bg,
                    $menu-link-active-color $menu-link-active-bg,
                    $menu-link-trans-speed
                );
            }
        }
    }

    .c-menu__link {
        &:not(.c-text--disabled) {
            @include color-swap-on-hover(
                $c-dune $menu-link-bg,
                $menu-link-hover-color $menu-link-hover-bg,
                $menu-link-trans-speed
            );
        }

        &.is-active {
            @include color-swap-on-hover(
                $menu-link-active-color $menu-link-active-bg,
                $menu-link-active-color $menu-link-active-bg,
                $menu-link-trans-speed
            );
        }
    }

    .c-menu--vertical {
        position: relative;
        left: $g-spacer-sm;
    }
}
