$doc-globalheader-bg: $c-dark;

.t-global-header {
    background: $doc-globalheader-bg;

    .w-logo a {
        display: block;
        width: 150px;
        padding: 0 $g-spacer;
    }

    .c-nav-responsive {
        padding-top: $g-spacer;
        overflow-x: visible;

        .o-icon svg {
            fill: rgba(#fff, 0.5);
        }
    }

    .c-toggle-button {
        top: 7px;
        right: 7px;
        border-color: rgba(#fff, 0.2);

        @include xxs {
            right: $g-spacer;
        }
    }

    .c-menu__link {
        display: block;
        padding: $g-spacer-sm $g-spacer;
        border-bottom: 1px solid transparent;
        margin: 0;
        border-radius: 0;
        color: $c-light;
        transition: all $g-trans__link-speed ease-in-out;

        &:hover,
        &:focus {
            background: none;
            border-color: $c-light;
            color: $c-light;
        }

        &.is-disabled,
        .is-disabled > & {
            color: $c-dove-gray;

            &:hover,
            &:focus {
                border-color: transparent;
                color: $c-dove-gray;
            }
        }
    }

    .is-active {
        > .c-menu__link {
            background: transparent;
            border-color: $c-light;
            color: $c-light;
        }
    }
}

@include md {
    .t-global-header {
        .w-logo a {
            display: inline-block;
            margin: 0;
        }

        .c-nav-responsive {
            padding-top: 0;
        }

        .c-menu__item {
            padding: $g-spacer;
            margin: 0;

            .c-menu__link {
                padding: 0;
            }
        }
    }
}
