code {
    background: $c-alto;
}

pre code {
    padding: $g-spacer-lg;
    color: $c-dark;
}

.c-code {
    position: relative;
    border: 1px solid $c-alto;
    margin-bottom: $g-spacer-xxl;

    > pre {
        margin-top: 0;
        margin-bottom: 0;
    }
}
