%t-block {
    position: relative;
    border: 1px solid rgba($c-light-30, 0.5);
    margin: $g-spacer-xxl 0 $g-spacer;
}

.c-example {
    @extend %t-block;

    padding: $g-spacer-lg $g-spacer;
    background: $c-light;
}
