code {
    color: $c-dark;
}

.c-code {
    @extend %t-block;

    border: 1px solid $c-light-15;
    margin-top: $g-spacer-xl;

    > pre {
        overflow: auto;
        max-height: 350px;
        margin-top: 0;
        margin-bottom: 0;
    }
}
