@include xxl {

  .js .NavSimpleXxl {

    .NavSimple-toggler {
      display: none;
    }

    .NavSimple-menu {
      transform: scale(1);
      max-width: 100%;
      max-height: 100%;
      opacity: 1;
    }

  }

}