.NavSimple-toggler {
  display: none;
}

.NavSimple-menu {
  margin-top: 0;
}

.NavSimple--right {
  text-align: right;
}

.js {
  .NavSimple {
    .NavSimple-menu {
      transition: all 0.33s ease;
      transform: scale(0);
      opacity: 0;
      transform-origin: center center;
      max-width: 0;
      max-height: 0;
    }

    &.is-active {
      .NavSimple-menu {
        transform: scale(1);
        opacity: 1;
        max-width: 100%;
        max-height: 100%;
      }
    }
  }

  .NavSimple-toggler {
    display: inline-block;
  }

}