$navsimple-menu-padding: 0 0 $g-spacer-sm;
$navsimple-toggler-margin: $g-spacer-sm 0;

.NavSimple-toggler {
  display: none;
}

.NavSimple-menu {
  margin-top: 0;

}

.NavSimple--right {
  text-align: right;
}

.js {
  .NavSimple {
    .NavSimple-menu {
      transition: all 0.33s ease;
      transform: scale(0);
      opacity: 0;
      transform-origin: left top;
      max-height: 0;
      padding: 0;
    }

    &.is-active {
      .NavSimple-menu {
        padding: $navsimple-menu-padding;
        transform: scale(1);
        opacity: 1;
        max-height: 100%;
      }
    }

    &--right {
      .NavSimple-menu {
        transform-origin: right top;
      }
    }
  }

  .NavSimple-toggler {
    display: inline-block;
    margin: $navsimple-toggler-margin;
  }

}