{% macro generateLabel(text,for,required, frmId) %}
  <label for="{{ frmId }}_{{ for }}">
    {{ text }}
    {% if required %}<abbr class="required" title="Required field">*</abbr>{% endif %}
  </label>
{% endmacro  %}

{% macro generateSelect(field, frmId) %}
  <select id="{{ frmId }}_{{ field.id }}" class="Form-select {{ field.classList }}">
    {% for option in field.options %}
      <option
          value="{% if option.value %}{{ option.value }}{% else %}{{ option.title }}{% endif %}"
          {% if option.selected %} selected{% endif %}>
        {{ option.title }}
      </option>
    {% endfor %}
  </select>
{% endmacro %}

{% macro generateTextInput(field, frmId) %}
  <input type="{{ field.type }}"
    id="{{ frmId }}_{{ field.id }}"
    placeholder="{{ field.placeholder }}"
    {% if field.maxLength %}
      max-length="{{ field.maxLength }}"
    {% endif %}
    class="Form-input {{ field.classList }}"
  />
{% endmacro %}

{% macro generateTextarea(field, frmId) %}
  <textarea class="Form-text {{ field.classList }}"
    {% if field.isRequired %} required{% endif %}
    rows="{% if field.rows %}{{ field.rows }}{% else %}5{% endif %}
    id="{{ frmId }}_{{ field.id }}"
    placeholder="{{ field.placeholder }}"
    ></textarea>
{% endmacro %}

{% macro generateField(field, frmId) %}
  <div class="o-Field {{ field.classList }}">

    {{ generateLabel(field.label, field.id, field.isRequired, frmId) }}

    {% if field.type == "select" %}
      {{ generateSelect(field) }}
    {% endif %}

    {% if field.type == "text" or field.type == "email" %}
      {{ generateTextInput(field) }}
    {% endif %}

    {#{% if field.type == "textarea" %}#}
      {#{{ generateTextarea(field) }}#}
    {#{% endif %}#}

  </div>
{% endmacro %}


<form class="Form{% if section.classList %} {{ section.classList }}{% endif %}"
  {% if section.id %} id="{{ section.id }}"{% endif %}
  {% if section.action %} action="{{ section.action }}"{% endif %}
  novalidate>

  {% if section.fieldsets.length > 0 %}
    {% for fieldset in section.fieldsets %}
      <fieldset {% if fieldset.id %} id="{{ fieldset.id }}"{% endif %}>
        {% if fieldset.legend %}<legend>{{ fieldset.legend }}</legend>{% endif %}

        {% for field in fieldset.fields %}
          {{ generateField(field, section.id) }}
        {% endfor %}

      </fieldset>
    {% endfor %}
  {% else %}
    {% for field in section.fields %}
      {{ generateField(field, section.id) }}
    {% endfor %}
  {% endif %}

</form>