// ----------------------------------------------------------------------

// Components: Button Basic Theme

// ----------------------------------------------------------------------

////
/// @author   Jaywing
/// @group    jw
/// @created  21/06/2016
////

$button-basic-bg-color: transparent !default;
$button-basic-color: lighten($c-dark-30, 10%) !default;
$button-basic-box-shadow: 0 0 0 1px $c-very-strong-trans-dark inset !default;
$button-basic-box-shadow-hover: 0 0 0 2px $c-very-strong-trans-dark inset !default;
$button-basic-bg-color-hover: $button-basic-bg-color !default;
$button-basic-color-hover: darken($button-basic-color, 10%) !default;
$button-basic-box-shadow-active: $button-basic-box-shadow-hover !default;
$button-basic-color-active: $button-basic-color-hover !default;
$button-basic-bg-color-active: $c-very-strong-trans-dark !default;
$button-basic-trans-speed: $button-trans-speed !default;
$button-basic-disabled-color: rgba($button-basic-color, 0.65) !default;

.Button--basic {
    box-shadow: $button-basic-box-shadow;

    &:not([disabled]) {
        @include color-swap-on-hover(
            $button-basic-color $button-basic-bg-color,
            $button-basic-color-hover $button-basic-bg-color-hover,
            $button-basic-trans-speed
        );

        &:hover,
        &:focus {
            box-shadow: $button-basic-box-shadow-hover;
        }

        &:active {
            background: $button-basic-bg-color-active;
            box-shadow: $button-basic-box-shadow-active;
            color: $button-basic-color-active;
        }
    }

    &.is-active {
        background: $button-basic-bg-color-active;
        box-shadow: $button-basic-box-shadow-active;
        color: $button-basic-color-active;

        &:hover,
        &:focus {
            background: $button-basic-bg-color-active;
            box-shadow: $button-basic-box-shadow-active;
            color: $button-basic-color-active;
        }
    }

    &[disabled] {
        @include color-swap-on-hover(
            rgba($button-basic-color, 0.65),
            rgba($button-basic-color, 0.65),
            $button-basic-trans-speed
        );

        color: $button-basic-disabled-color;
    }
}
