$button-link-bg: transparent !default;
$button-link-color: $link-color !default;
$button-link-hover-color: $link-hover-color !default;
$button-link-trans-speed: $link-trans-speed !default;
$button-link-underline: $link-underline !default;

.c-Button--link {
    background: $button-link-bg;
    text-decoration: $button-link-underline;

    &:not([disabled]) {
        @include color-swap-on-hover(
            $button-link-color $button-link-bg,
            $button-link-hover-color $button-link-bg,
            $button-link-trans-speed
        );
    }

    &[disabled] {
        color: lighten($button-link-color, 15%);
        text-decoration: none;
    }

    svg {
        fill: $button-link-color;
    }
}
