// ----------------------------------------------------------------------

// Components: c-Button Hover

// ----------------------------------------------------------------------

////
/// @author   Jaywing
/// @group    jw
/// @created  02/09/2016
////

$button-hover-hover-bg: $c-light-30 !default;
$button-hover-color: $base-text-color !default;
$button-hover-disabled-color: rgba($button-hover-color, 0.65) !default;

.c-Button--hover {
    &:not([disabled]) {
        @include color-swap-on-hover(
            transparent,
            $button-hover-hover-bg,
            $g-trans-link-speed,
            true
        );
    }

    &.is-active {
        background: darken($button-hover-hover-bg, 10%);

        &:hover,
        &:focus {
            background: darken($button-hover-hover-bg, 10%);
        }
    }

    &[disabled] {
        background: transparent;
        color: $button-hover-disabled-color;
    }
}
