@keyframes slider-background-next {
    0% {
        transform: translateY(-50%) scale(1.0125) translateX(0.5%);
    }

    100% {
        transform: translateY(-50%) scale(1.0125) translateX(0%);
    }
}

@keyframes slider-content-next {
    0% {
        transform: translateX(1%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slider-background-previous {
    0% {
        transform: translateY(-50%) scale(1.0125) translateX(-0.5%);
    }

    100% {
        transform: translateY(-50%) scale(1.0125) translateX(0%);
    }
}

@keyframes slider-content-previous {
    0% {
        transform: translateX(-1%);
    }

    100% {
        transform: translateX(0);
    }
}
