{#
Nunjucks Templating!
Homepage: https://mozilla.github.io/nunjucks/
Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% from 'macros/icon.njk' import Icon %}

{% set pageid = 'badge' %}
{% set sectionid = 'core' %}

{% extends 'layouts/application.njk' %}

{% block metaTitle %}Badge | Atomic: Core{% endblock %}

{% block content %}

<h1 class="Article-title">Badge</h1>
<p class="c-text--lead">Easily create badges to label and highlight your content.</p>

<hr class="Article-divider">

<h2>Usage</h2>

<p>To create a badge, just add the <code>.c-badge</code> class to an element.</p>

<div class="c-example">
  <strong class="c-badge">c-badge</strong>
</div>

<div class="c-code c-code--html">
<pre><code class="html">&lt;strong class="c-badge"&gt;...&lt;/strong&gt;</code></pre>
</div>

<h2>Modifiers</h2>

<h4>Notification</h4>

<p>Add the <code>.c-badge-notification</code> class to indicate a notification, typically it is used with numbers.</p>

<div class="c-example">
  <span class="c-badge c-badge--notification">1</span>
  <div class="c-badge c-badge--notification">2</div>
  <div class="c-badge c-badge--notification">3</div>
  <div class="c-badge c-badge--notification">10</div>
  <div class="c-badge c-badge--notification">100</div>
</div>

<div class="c-code c-code--html">
  <pre><code class="html">&lt;span class="c-badge c-badge--notification"&gt;...&lt;/span&gt;</code></pre>
</div>

<h4>Color modifier</h4>

<p>Add the <code>.c-badge-success</code>, <code>.c-badge-warning</code> or <code>.c-badge-danger</code> class for additional colors.</p>

<div class="c-example">
  <div class="c-badge c-badge--success">sucess</div>
  <div class="c-badge c-badge--warning">Warning</div>
  <div class="c-badge c-badge--danger">Danger</div>
</div>

<div class="c-code c-code--html">
  <pre><code class="html">&lt;div class="c-badge c-badge--success"&gt;...&lt;/div&gt;
&lt;div class="c-badge c-badge--warning"&gt;...&lt;/div&gt;
&lt;div class="c-badge c-badge--danger"&gt;...&lt;/div&gt;</code></pre>
</div>

{% endblock %}

{% block javascript %}

{% endblock %}
