{#
Nunjucks Templating!
Homepage: https://mozilla.github.io/nunjucks/
Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% set pageid = 'dropdown-menu' %}
{% set sectionid = 'core' %}

{% from 'macros/icon.njk' import Icon %}
{% from 'components/DropdownMenu/DropdownMenu.component.njk' import Menu %}

{% extends 'layouts/application.njk' %}

{% block metaTitle %}Dropdown Menu | Atomic: Core{% endblock %}

{% block content %}

<h1 class="Article-title">Dropdown Menu</h1>
<p class="c-text--lead">Our flexible menu component makes it easy to build many common navigation patterns.</p>

<hr>

<h2 id="section:usage"><a href="#section:usage" class="c-text--resetLink">Usage</a></h2>

<div class="c-example">

  {{ Menu(
    [
      {
        "text": "Dropdown menu",
        "header": true,
        "classList": "c-menu__item--left"
      },
      {
        "id": "",
        "url": "#",
        "text": "Item 1",
        "linkClassList": "",
        "children": [
          {
          "id": "",
          "url": "#",
          "text": "Item 1 - 1",
          "linkClassList": ""
          },
          {
          "id": "",
          "url": "#",
          "text": "Item 1 - 2",
          "linkClassList": ""
          },
          {
          "id": "",
          "url": "#",
          "text": "Item 1 - 3",
          "linkClassList": ""
          }
        ]
      },
      {
        "id": "",
        "url": "#",
        "text": "Item 2",
        "linkClassList": ""
      },
      {
        "id": "",
        "url": "#",
        "text": "Item 3",
        "linkClassList": ""
      }
    ],
    ''
  ) }}

</div>

<button class="c-button is-dropdown-button">{{ Icon('chevron-down') }}</button>

<div class="c-code">
  <pre><code class="html">&lt;ul class=&quot;c-menu c-menu--dropdown&quot;&gt;
  &lt;li class=&quot;c-menu__item is-dropdown-menu-parent&quot;&gt;
    &lt;a href=&quot;#&quot; class=&quot;c-menu__link&quot;&gt;One&lt;/a&gt;
    &lt;button class=&quot;c-button is-dropdown-button&quot;&gt;...&lt;/button&gt;
    &lt;ul class=&quot;c-menu is-dropdown-menu&quot;&gt;
      &lt;li class=&quot;c-menu__item&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;c-menu__link&quot;&gt;One sub item&lt;/a&gt;&lt;/li&gt;
      ...
    &lt;/ul&gt;
  &lt;/li&gt;
  ...
  &lt;/ul&gt;

  &#123;&#123; Menu(
    [
      { "text": "One", "url": "#"
        "children": [
          {
          "id": "",
          "url": "#",
          "text": "One sub item",
          "linkClassList": ""
          }
        ]
      },
      { "text": "Two", "url": "#" },
      { "text": "Three", "url": "#" },
      { "text": "Four", "url": "#" }
    ]
  ) &#125;&#125;
  </code></pre>
</div>

{% endblock %}

{% block javascript %}

{% endblock %}
