{#
Nunjucks Templating!
Homepage: https://mozilla.github.io/nunjucks/
Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% from 'macros/icon.njk' import Icon %}

{% set pageid = 'hamburger' %}
{% set sectionid = 'core' %}

{% extends 'layouts/application.njk' %}

{% block metaTitle %}Hamburger | Atomic: Core{% endblock %}

{% block content %}

<h1 class="Article-title">Hamburger</h1>
<p class="c-text--lead">A useful hamburger icon with a close animation.</p>

<hr class="Article-divider">

<h2 id="section:usage"><a href="section:usage" class="c-text--resetLink">Usage</a></h2>

<div class="c-example">
  <button class="c-hamburger" data-module="Toggle"><span class="c-hamburger__inner"></span><span class="u-sr-only">Hamburger</span></button>
</div>

<div class="c-code">
  <pre><code class="html">
  &lt;button class=&quot;c-hamburger&quot;&gt;
    &lt;span class="c-hamburger__inner">&lt;/span&gt;
    &lt;span class="u-sr-only"&gt;Hamburger&lt;/span&gt;
  &lt;/button&gt;
  </code></pre>
</div>

<h3>Animated</h3>

<div class="c-example">
  <button class="c-hamburger c-hamburger--animate" data-module="Toggle"><span class="c-hamburger__inner"></span><span class="u-sr-only">Hamburger</span></button>
</div>

<div class="c-code">
  <pre><code class="html">
  &lt;button class=&quot;c-hamburger c-hamburger--animate&quot;&gt;
    &lt;span class="c-hamburger__inner">&lt;/span&gt;
    &lt;span class="u-sr-only"&gt;Hamburger&lt;/span&gt;
  &lt;/button&gt;
  </code></pre>
</div>

{% endblock %}

{% block javascript %}

{% endblock %}
