{#
Nunjucks Templating!
Homepage: https://mozilla.github.io/nunjucks/
Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% from 'macros/icon.njk' import Icon %}

{% set pageid = 'icon' %}
{% set sectionid = 'core' %}

{% extends 'layouts/application.njk' %}

{% block metaTitle %}o-icon | Atomic: Core{% endblock %}

{% block content %}

<h1 class="Article-title">o-icon</h1>
<p class="c-text--lead">Place vector icons anywhere using our SVG sprite generator.</p>

<dl class="c-definition c-definition__horizontal">
  <dt>Macros</dt>
  <dd><a href="#section:macro"><span class="c-badge">o-icon</span></a></dd>
</dl>

<hr>

<h2 id="section:usage"><a href="#section:usage" class="c-text--resetLink">Usage</a></h2>

<p>Drop icon svgs in the 'icon' folder in 'src' and they are automatically added to the sprite, the icon's location is indexed with a reference that matches its filename.</p>

<div class="c-example">
  <span class="o-icon o-icon--navicon">
    <svg viewBox="0 0 1 1"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/icons.svg#navicon"></use></svg>
  </span>
</div>

<div class="c-code c-code--html">
  <pre><code class="html">&lt;span class="o-icon o-icon--navicon"&gt;
  &lt;svg viewBox="0 0 1 1"&gt;
    &lt;use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/icons.svg#navicon"&gt;&lt;/use&gt;
  &lt;/svg&gt;
&lt;/span&gt;</code></pre>
</div>

<h3 id="section:macro"><a href="#section:macro" class="c-text--resetLink">Macro</a></h3>

<dl class="c-definition c-definition__horizontal">
  <dt>Macro</dt>
  <dd>icon</dd>
  <dt>Import</dt>
  <dd><pre><code class="html">&#123;% from 'macros/icon.njk' import Icon %&#125;</code></pre></dd>
  <dt>Parameters</dt>
  <dd><strong>id</strong> (string) - corresponds to the filename of icon svg</dd>
  <dd><strong>classes</strong> (string) - any extran classes to be put on icon container span</dd>
  <dd><strong>viewbox</strong> (string: '0 0 1 1') - <a href="https://developer.mozilla.org/en/docs/Web/SVG/Attribute/viewBox" target="_blank">Viewbox</a> preserves the aspect ratio of the sprite so that only the required sprite is shown</dd>
</dl>

<div class="c-code">
  <pre><code class="html">&#123;&#123; icon(&#39;[icon_ref]&#39;, 'o-icon--lg') &#125;&#125;</code></pre>
</div>

<div class="c-example">
  <div class="o-flex-grid o-flex-grid--gutters c-text--center">
  {{ Icon('archive') }}
  {{ Icon('arrow-down') }}
  {{ Icon('arrow-left') }}
  {{ Icon('arrow-right') }}
  {{ Icon('arrow-up') }}
  {{ Icon('bell') }}
  {{ Icon('calendar') }}
  {{ Icon('camera') }}
  {{ Icon('cart') }}
  {{ Icon('chart') }}
  {{ Icon('check') }}
  {{ Icon('chevron-down') }}
  {{ Icon('chevron-left') }}
  {{ Icon('chevron-right') }}
  {{ Icon('chevron-up') }}
  {{ Icon('clock') }}
  {{ Icon('close') }}
  {{ Icon('close-o') }}
  {{ Icon('comment') }}
  {{ Icon('credit-card') }}
  {{ Icon('envelope') }}
  {{ Icon('exclamation') }}
  {{ Icon('external__link') }}
  {{ Icon('eye') }}
  {{ Icon('gear') }}
  {{ Icon('heart') }}
  {{ Icon('image') }}
  {{ Icon('like') }}
  {{ Icon('link') }}
  {{ Icon('location') }}
  {{ Icon('lock') }}
  {{ Icon('minus') }}
  {{ Icon('navicon') }}
  {{ Icon('paperclip') }}
  {{ Icon('pencil') }}
  {{ Icon('play') }}
  {{ Icon('plus') }}
  {{ Icon('pointer') }}
  {{ Icon('question') }}
  {{ Icon('redo') }}
  {{ Icon('refresh') }}
  {{ Icon('retweet') }}
  {{ Icon('sc-facebook') }}
  {{ Icon('sc-github') }}
  {{ Icon('sc-google-plus') }}
  {{ Icon('sc-instagram') }}
  {{ Icon('sc-linkedin') }}
  {{ Icon('sc-pinterest') }}
  {{ Icon('sc-skype') }}
  {{ Icon('sc-soundcloud') }}
  {{ Icon('sc-telegram') }}
  {{ Icon('sc-tumblr') }}
  {{ Icon('sc-twitter') }}
  {{ Icon('sc-vimeo') }}
  {{ Icon('sc-youtube') }}
  {{ Icon('search') }}
  {{ Icon('share-apple') }}
  {{ Icon('share-google') }}
  {{ Icon('spinner') }}
  {{ Icon('spinner-2') }}
  {{ Icon('spinner-3') }}
  {{ Icon('star') }}
  {{ Icon('tag') }}
  {{ Icon('trash') }}
  {{ Icon('trophy') }}
  {{ Icon('undo') }}
  {{ Icon('unlock') }}
  {{ Icon('user') }}
  </div>
</div>

<h3>Size modifiers</h3>

<div class="c-example">

  <div class="o-flex-grid o-flex-grid--1of5 c-text--center">

    <div class="o-flex-grid__cell c-demo">
      {{ Icon('eye', 'o-icon--sm', '0 0 1 1') }}
      <div><small>.o-icon--sm</small></div>
    </div>

    <div class="o-flex-grid__cell c-demo">
      {{ Icon('eye') }}
      <div><small>.o-icon</small></div>
    </div>

    <div class="o-flex-grid__cell c-demo">
      {{ Icon('eye', 'o-icon--lg') }}
      <div><small>.o-icon--lg</small></div>
    </div>

    <div class="o-flex-grid__cell c-demo">
      {{ Icon('eye', 'o-icon--xl') }}
      <div><small>.o-icon--xl</small></div>
    </div>

    <div class="o-flex-grid__cell c-demo">
      {{ Icon('eye', 'o-icon--xxl') }}
      <div><small>.o-icon--xxl</small></div>
    </div>

  </div>

</div>

<div class="c-code">
  <pre><code class="html">&#123;&#123; icon(&#39;eye&#39;, &#39;o-icon--sm&#39; &#125;&#125;
&#123;&#123; icon(&#39;eye&#39;) &#125;&#125;
&#123;&#123; icon(&#39;eye&#39;, &#39;o-icon--lg&#39; &#125;&#125;
&#123;&#123; icon(&#39;eye&#39;, &#39;o-icon--xl&#39; &#125;&#125;
&#123;&#123; icon(&#39;eye&#39;, &#39;o-icon--xxl &#125;&#125;</code></pre>
</div>

<h3>Spin modifier</h3>

<div class="c-example">

  <div class="o-flex-grid o-flex-grid--gutters c-text--center">

    <div class="o-flex-grid__cell o-size--1of5 c-demo">
      {{ Icon('spinner-3', 'o-icon--lg o-icon--spin') }}
      <div><small>.o-icon--spin</small></div>
    </div>

  </div>

</div>

<div class="c-code">
  <pre><code class="html">&#123;&#123; icon(&#39;spinner-3&#39;, &#39;o-icon--spin o-icon--lg&#39; &#125;&#125;</code></pre>
</div>


{% endblock %}

{% block javascript %}

{% endblock %}
