{#
Nunjucks Templating!
Homepage: https://mozilla.github.io/nunjucks/
Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% set pageid = 'panel' %}
{% set sectionid = 'core' %}

{% extends 'layouts/application.njk' %}

{% block metaTitle %}Panel | Atomic: Core{% endblock %}

{% block content %}

<h1 class="Article-title">Panel</h1>
<p class="c-text--lead">Create layout boxes with different styles</p>

<hr>

<h2 id="section:usage"><a href="#section:usage" class="c-text--resetLink">Usage</a></h2>

<div class="c-example">
  <div class="o-flex-grid o-flex-grid--gutters@lg o-flex-grid--1of3">
    <div class="o-flex-grid__cell">
      <div class="c-panel">
        <span class="c-badge c-badge--danger c-panel__badge">+3</span>
        <h3 class="c-panel__title">Panel title</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti eius eligendi, esse.</p>
      </div>
    </div>
  </div>
</div>

<div class="c-code c-code--html">
<pre><code class="html">&lt;div class=&quot;c-panel&quot;&gt;
  &lt;span class=&quot;c-badge c-badge--danger c-panel__badge&quot;&gt;+3&lt;/span&gt;
  &lt;h3 class=&quot;c-panel__title&quot;&gt;c-panel title&lt;/h3&gt;
  &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti eius eligendi, esse.&lt;/p&gt;
&lt;/div&gt;</code></pre>
</div>

<h3>Panel box (.c-panel--box)</h3>

<div class="c-example">
  <div class="o-flex-grid o-flex-grid--gutters@lg o-flex-grid--1of3">
    <div class="o-flex-grid__cell">
      <div class="c-panel c-panel--box">
        <span class="c-badge c-badge--danger c-panel__badge">+3</span>
        <h3 class="c-panel__title">{{ Icon("trophy") }} This is the panel title</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
    </div>
    <article class="o-flex-grid__cell">
      <div class="c-panel c-panel--box">
        <span class="c-badge c-badge--success c-panel__badge">Up</span>
        <h3 class="c-panel__title">{{ Icon("envelope") }} This is the second panel title</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti eius eligendi, esse.</p>
      </div>
    </article>
    <section class="o-flex-grid__cell">
      <div class="c-panel c-panel--box">
        <span class="c-badge c-badge--danger c-panel__badge">+3</span>
        <h3 class="c-panel__title">{{ Icon("tag") }} Third panel title</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti eius eligendi, esse consectetur adipisicing elit.</p>
      </div>
    </section>
  </div>
</div>

<div class="c-code c-code--html">
  <pre><code class="html">&lt;div class=&quot;c-panel c-panel--box&quot;&gt;...&lt;/div&gt;</code></pre>
</div>

<h3>Stacked panels (<code>.c-panel--stacked</code>)</h3>
<p>It is possible to make a panel box look as though it is stack on top of others. Useful for tabs and such like.</p>

<div class="c-example">
  <div class="c-panel c-panel--box c-panel--stacked">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error illum magnam minima placeat rem! Ab at beatae culpa deleniti excepturi, exercitationem illo laboriosam nostrum officia perspiciatis recusandae sequi tempora voluptates.</p>
  </div>
</div>

<div class="c-code"><pre><code class="html">&lt;div class=&quot;c-panel c-panel--box c-panel--stacked&quot;&gt;
  ....
&lt;/div&gt;</code></pre></div>

<h3>Piled panels (<code>.c-panel--piled</code>)</h3>
<p>It is possible to make a panel box look as though it is on top of a pile of others.</p>

<div class="c-example">
  <div class="c-panel c-panel--box c-panel--piled">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error illum magnam minima placeat rem! Ab at beatae culpa deleniti excepturi, exercitationem illo laboriosam nostrum officia perspiciatis recusandae sequi tempora voluptates.</p>
  </div>
</div>

<div class="c-code"><pre><code class="html">&lt;div class=&quot;c-panel c-panel--box c-panel--piled&quot;&gt;
  ....
&lt;/div&gt;</code></pre></div>

<h3>Attached panel (<code>.c-panel--attached</code>)</h3>
<p>It is possible to attached the panel to other attachable items, for example, the menu (in tabular format) component, to create a tab like component.</p>

<div class="c-example">
  <ul class="c-menu c-menu--tabular c-menu--attached">
    <li class="c-menu__item is-active"><a href="#" class="c-menu__link">One</a></li>
    <li class="c-menu__item"><a href="#" class="c-menu__link">Two</a></li>
    <li class="c-menu__item"><a href="#" class="c-menu__link">Three</a></li>
  </ul>
  <div class="c-panel c-panel--box c-panel--attached c-panel--stacked">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error illum magnam minima placeat rem! Ab at beatae culpa deleniti excepturi, exercitationem illo laboriosam nostrum officia perspiciatis recusandae sequi tempora voluptates.</p>
  </div>
</div>

<div class="c-code"><pre><code class="html">&lt;ul class=&quot;c-menu c-menu--tabular c-menu--attached&quot;&gt;
  &lt;li class=&quot;c-menu__item is-active&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;c-menu__link&quot;&gt;One&lt;/a&gt;&lt;/li&gt;
  ....
&lt;/ul&gt;
&lt;div class=&quot;c-panel c-panel--box c-panel--attached&quot;&gt;
  ....
&lt;/div&gt;</code></pre></div>

<h3>Panel groups (.Panels)</h3>
<p>If you wrap you panels with a parent element with the class <code>Panels</code>, the margin is removed from the individual panel components, creating a connected look.</p>

<div class="c-example">
  <div class="Panels">
    <div class="c-panel c-panel--box">
      <p>Top panel</p>
    </div>
    <div class="c-panel c-panel--box">
      <p>Middle panel</p>
    </div>
    <div class="c-panel c-panel--box">
      <p>Bottom panel</p>
    </div>
  </div>
</div>

<div class="c-code c-code--html">
  <pre><code class="html">&lt;div class=&quot;Panels&quot;&gt;
  &lt;div class=&quot;c-panel c-panel--box&quot;&gt;
    &lt;p&gt;Top panel&lt;/p&gt;
  &lt;/div&gt;
  &lt;div class=&quot;c-panel c-panel--box&quot;&gt;
    &lt;p&gt;Middle panel&lt;/p&gt;
  &lt;/div&gt;
  &lt;div class=&quot;c-panel c-panel--box&quot;&gt;
    &lt;p&gt;Bottom panel&lt;/p&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
</div>

<h4>Horizontal Panels (<code>.Panels--horizontal</code>)</h4>

<div class="c-example">
  <div class="Panels Panels--horizontal">
    <div class="c-panel c-panel--box">
      <p>Top panel<br>With more content</p>
    </div>
    <div class="c-panel c-panel--box">
      <p>Middle panel</p>
    </div>
    <div class="c-panel c-panel--box">
      <p>Bottom panel</p>
    </div>
  </div>
</div>

<div class="c-code c-code--html">
  <pre><code class="html">&lt;div class=&quot;Panels Panels--horizontal&quot;&gt;
  &lt;div class=&quot;c-panel c-panel--box&quot;&gt;
    &lt;p&gt;Top panel<br>With more content&lt;/p&gt;
  &lt;/div&gt;
  &lt;div class=&quot;c-panel c-panel--box&quot;&gt;
    &lt;p&gt;Middle panel&lt;/p&gt;
  &lt;/div&gt;
  &lt;div class=&quot;c-panel c-panel--box&quot;&gt;
    &lt;p&gt;Bottom panel&lt;/p&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
</div>

<h4>Hidden Panels (<code>.Panels--hidden</code>)</h4>

<p>The hides all of the children panels unless given a <code>is-active</code> class. This can be used with the <a href="switcher.html">switcher</a> module to create simple tabs.</p>

<div class="c-example">
  <ul class="c-menu" data-module="Switcher">
    <li class="c-menu__item"><a href="#" class="c-menu__link">Panel 1</a></li>
    <li class="c-menu__item"><a href="#" class="c-menu__link">Panel 2</a></li>
    <li class="c-menu__item"><a href="#" class="c-menu__link">Panel 3</a></li>
  </ul>

  <div class="Panels Panels--hidden">
    <div class="c-panel c-panel--box">
      <p>Panel 1</p>
    </div>
    <div class="c-panel c-panel--box">
      <p>Panel 2</p>
    </div>
    <div class="c-panel c-panel--box">
      <p>Panel 3</p>
    </div>
  </div>
</div>

<div class="c-code c-code--html">
  <pre><code class="html">&lt;ul class=&quot;c-menu&quot; data-module=&quot;Switcher&quot;&gt;
  &lt;li class=&quot;c-menu__item&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;c-menu__link&quot;&gt;c-panel 1&lt;/a&gt;&lt;/li&gt;
  &lt;li class=&quot;c-menu__item&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;c-menu__link&quot;&gt;c-panel 2&lt;/a&gt;&lt;/li&gt;
  &lt;li class=&quot;c-menu__item&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;c-menu__link&quot;&gt;c-panel 3&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;

&lt;div class=&quot;Panels Panels--hidden&quot;&gt;
  &lt;div class=&quot;c-panel c-panel--box&quot;&gt;
    &lt;p&gt;c-panel 1&lt;/p&gt;
  &lt;/div&gt;
  &lt;div class=&quot;c-panel c-panel--box&quot;&gt;
    &lt;p&gt;c-panel 2&lt;/p&gt;
  &lt;/div&gt;
  &lt;div class=&quot;c-panel c-panel--box&quot;&gt;
    &lt;p&gt;c-panel 3&lt;/p&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
</div>

<h4>Colour Modifiers</h4>

<div class="c-example">
  <div class="o-flex-grid o-flex-grid--gutters@lg o-flex-grid--1of5">
    <div class="o-flex-grid__cell">
      <div class="c-panel c-panel--primary">
        <h3 class="c-panel__title">Primary panel</h3>
        <p>Lorem ipsum dolor sit amet.</p>
      </div>
    </div>
    <div class="o-flex-grid__cell">
      <div class="c-panel c-panel--secondary">
        <h3 class="c-panel__title">Secondary panel</h3>
        <p>Lorem ipsum dolor sit amet.</p>
      </div>
    </div>
    <div class="o-flex-grid__cell">
      <div class="c-panel c-panel--success">
        <h3 class="c-panel__title">Success panel</h3>
        <p>Lorem ipsum dolor sit amet.</p>
      </div>
    </div>
    <div class="o-flex-grid__cell">
      <div class="c-panel c-panel--warning">
        <h3 class="c-panel__title">Warning panel</h3>
        <p>Lorem ipsum dolor sit amet, consectetur.</p>
      </div>
    </div>
    <div class="o-flex-grid__cell">
      <div class="c-panel c-panel--error">
        <h3 class="c-panel__title">Error panel</h3>
        <p>Lorem ipsum dolor sit amet.</p>
      </div>
    </div>
    <div class="o-flex-grid__cell">
      <div class="c-panel c-panel--box c-panel--primary">
        <h3 class="c-panel__title">Primary panel</h3>
        <p>Lorem ipsum dolor sit amet.</p>
      </div>
    </div>
    <div class="o-flex-grid__cell">
      <div class="c-panel c-panel--box c-panel--secondary">
        <h3 class="c-panel__title">Secondary panel</h3>
        <p>Lorem ipsum dolor sit amet.</p>
      </div>
    </div>
    <div class="o-flex-grid__cell">
      <div class="c-panel c-panel--box c-panel--success">
        <h3 class="c-panel__title">Success panel</h3>
        <p>Lorem ipsum dolor sit amet.</p>
      </div>
    </div>
    <div class="o-flex-grid__cell">
      <div class="c-panel c-panel--box c-panel--warning">
        <h3 class="c-panel__title">Warning panel</h3>
        <p>Lorem ipsum dolor sit amet, consectetur.</p>
      </div>
    </div>
    <div class="o-flex-grid__cell">
      <div class="c-panel c-panel--box c-panel--error">
        <h3 class="c-panel__title">Error panel</h3>
        <p>Lorem ipsum dolor sit amet.</p>
      </div>
    </div>
  </div>
</div>
<div class="c-code c-code--html">
  <pre><code class="html">&lt;div class=&quot;c-panel c-panel--primary&quot;&gt;...&lt;/div&gt;
&lt;div class=&quot;c-panel c-panel--secondary&quot;&gt;...&lt;/div&gt;
&lt;div class=&quot;c-panel c-panel--success&quot;&gt;...&lt;/div&gt;
&lt;div class=&quot;c-panel c-panel--warning&quot;&gt;...&lt;/div&gt;
&lt;div class=&quot;c-panel c-panel--error&quot;&gt;...&lt;/div&gt;

&lt;div class=&quot;c-panel c-panel--box c-panel--primary&quot;&gt;...&lt;/div&gt;
&lt;div class=&quot;c-panel c-panel--box c-panel--secondary&quot;&gt;...&lt;/div&gt;
&lt;div class=&quot;c-panel c-panel--box c-panel--success&quot;&gt;...&lt;/div&gt;
&lt;div class=&quot;c-panel c-panel--box c-panel--warning&quot;&gt;...&lt;/div&gt;
&lt;div class=&quot;c-panel c-panel--box c-panel--error&quot;&gt;...&lt;/div&gt;</code></pre>
</div>

<h3>Panel teaser image (<code>.c-panel__teaser</code>)</h3>

<div class="c-example">
  <div class="o-flex-grid o-flex-grid--gutters o-flex-grid--1of3">
    <div class="o-flex-grid__cell">
      <div class="c-panel">
        <div class="c-panel__teaser"><img src="/images/placeholder/img_800x280.svg" alt=""></div>
        <p>Amet at, debitis delectus dolore eligendi</p>
      </div>
    </div>
    <div class="o-flex-grid__cell o-size--1of3">
      <div class="c-panel c-panel--box">
        <div class="c-panel__teaser"><img src="/images/placeholder/img_800x280.svg" alt=""></div>
        <p>Amet at, debitis delectus dolore eligendi</p>
      </div>
    </div>
  </div>
</div>

<div class="scrollXauto">
  <table class="c-table c-table--striped">
    <thead>
    <tr>
      <th class="o-size--1of4 c-text--left">Class</th>
      <th class="c-text--left">Description</th>
      <th class="c-text--right o-size--1of5">Type</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th class="c-text--left"><code>.c-panel</code></th>
      <td>This defines a c-panel component</td>
      <td class="c-text--right">Component</td>
    </tr>
    <tr>
      <th class="c-text--left"><code>.c-panel__title</code></th>
      <td>This creates the panel title</td>
      <td class="c-text--right">Sub-element</td>
    </tr>
    <tr>
      <th class="c-text--left"><code>.c-panel__badge</code></th>
      <td>This positions the panel in the top right</td>
      <td class="c-text--right">Sub-element</td>
    </tr>
    <tr>
      <th class="c-text--left"><code>.c-panel__teaser</code></th>
      <td>Image associated with the panel</td>
      <td class="c-text--right">Sub-element</td>
    </tr>
    <tr>
      <th class="c-text--left"><code>.c-panel--box</code></th>
      <td>This creates some box styling</td>
      <td class="c-text--right">Modifier</td>
    </tr>
    <tr>
      <th class="c-text--left"><code>.c-panel--primary</code></th>
      <td>This creates some styling with primary colour</td>
      <td class="c-text--right">Modifier</td>
    </tr>
    <tr>
      <th class="c-text--left"><code>.c-panel--primary</code></th>
      <td>This creates some styling with primary colour</td>
      <td class="c-text--right">Modifier</td>
    </tr>
    <tr>
      <th class="c-text--left"><code>.c-panel--success</code></th>
      <td>This creates some styling with success colour</td>
      <td class="c-text--right">Modifier</td>
    </tr>
    <tr>
      <th class="c-text--left"><code>.c-panel--warning</code></th>
      <td>This creates some styling with warning colour</td>
      <td class="c-text--right">Modifier</td>
    </tr>
    <tr>
      <th class="c-text--left"><code>.c-panel--error</code></th>
      <td>This creates some styling with error colour</td>
      <td class="c-text--right">Modifier</td>
    </tr>
    <tr>
      <th class="c-text--left"><code>.c-panel--attached</code></th>
      <td>Changes the styles so a panel can be seamlessly attached to another attachable component</td>
      <td class="c-text--right">Modifier</td>
    </tr>
    </tbody>
  </table>
</div>


{% endblock %}

{% block javascript %}

{% endblock %}
