{#
Nunjucks Templating!
Homepage: https://mozilla.github.io/nunjucks/
Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% set pageid = 'slider' %}
{% set sectionid = 'core' %}

{% extends 'layouts/application.njk' %}
{% from 'macros/icon.njk' import Icon %}

{% block metaTitle %}Slider | Atomic: Core{% endblock %}

{% block content %}

<h1 class="Article-title">Slider</h1>
<p class="c-text--lead">Slide between content.</p>

<hr class="Article-divider">

<h2 id="section-usage"><a href="#section-usage" class="c-text--resetLink">Usage</a></h2>

<p>The slider module is loaded asynchronously and is initialised using <code>data-module="Slider"</code> on the element.</p>

<div class="c-example">

  <div class="c-slider" data-module="Slider">
    <div class="c-slider__slides">
      <div class="c-slider__slide is-active">
        <picture class="c-slider__picture">
          <source srcset="//placeimg.com/1600/800/tech/grayscale" media="(min-width: 768px)">
          <img class="c-slider__image" src="//placeimg.com/600/600/tech/grayscale" alt="">
        </picture>
        <div class="c-slider__content">
          <div class="c-slider__text">
            <h1>Lorem ipsum</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
      </div>
      <div class="c-slider__slide is-next">
        <picture class="c-slider__picture">
          <source srcset="//placeimg.com/1600/800/tech/sepia" media="(min-width: 768px)">
          <img class="c-slider__image" src="//placeimg.com/600/600/tech/sepia" alt="">
        </picture>
        <div class="c-slider__content">
          <div class="c-slider__text">
            <h1>Cras</h1>
            <p>Etiam sem sapien, fermentum eu lorem sit amet, efficitur imperdiet mauris. Cras.</p>
          </div>
        </div>
      </div>
      <div class="c-slider__slide">
        <picture class="c-slider__picture">
          <source srcset="//placeimg.com/1600/800/tech/grayscale" media="(min-width: 768px)">
          <img class="c-slider__image" src="//placeimg.com/600/600/tech/grayscale" alt="">
        </picture>
        <div class="c-slider__content">
          <div class="c-slider__text">
            <h1>Cras</h1>
            <p>Etiam sem sapien, fermentum eu lorem sit amet, efficitur imperdiet mauris. Cras.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="c-slider__controls">
      <div class="c-slider__previous">
        {{ Icon('chevron-left') }}
      </div>
      <div class="c-slider__pips"></div>
      <div class="c-slider__next">
        {{ Icon('chevron-right') }}
      </div>
    </div>
  </div>

</div>

<div class="c-code c-code--html">
  <pre><code class="html">
  &lt;div class=&quot;c-slider&quot; data-module=&quot;Slider&quot;&gt;
    &lt;div class=&quot;c-slider__slides&quot;&gt;
      &lt;div class=&quot;c-slider__slide is-active&quot;&gt;
        Slide 1
      &lt;/div&gt;
      &lt;div class=&quot;c-slider__slide is-next&quot;&gt;
        Slide 2
      &lt;/div&gt;
      &lt;div class=&quot;c-slider__slide is-active&quot;&gt;
        Slide 3
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;c-slider__controls&quot;&gt;
      &lt;div class=&quot;c-slider__previous&quot;&gt;
        Previous
      &lt;/div&gt;
      &lt;div class=&quot;c-slider__next&quot;&gt;
        Next
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  </code></pre>
</div>

<h3>Slides to show</h3>

<div class="c-example">

  <div class="c-slider c-slider--scroll" data-module="Slider" data-options='{"slidesToShow": 2}'>
    <div class="c-slider__slides">
      <div class="c-slider__slide is-active">
        <picture class="c-slider__picture">
          <source srcset="//placeimg.com/1600/800/tech/grayscale" media="(min-width: 768px)">
          <img class="c-slider__image" src="//placeimg.com/600/600/tech/grayscale" alt="">
        </picture>
        <div class="c-slider__content">
          <div class="c-slider__text">
            <h1>Lorem ipsum</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
      </div>
      <div class="c-slider__slide">
        <picture class="c-slider__picture">
          <source srcset="//placeimg.com/1600/800/tech/sepia" media="(min-width: 768px)">
          <img class="c-slider__image" src="//placeimg.com/600/600/tech/sepia" alt="">
        </picture>
        <div class="c-slider__content">
          <div class="c-slider__text">
            <h1>Cras</h1>
            <p>Etiam sem sapien, fermentum eu lorem sit amet, efficitur imperdiet mauris. Cras.</p>
          </div>
        </div>
      </div>
      <div class="c-slider__slide">
        <picture class="c-slider__picture">
          <source srcset="//placeimg.com/1600/800/tech/grayscale" media="(min-width: 768px)">
          <img class="c-slider__image" src="//placeimg.com/600/600/tech/grayscale" alt="">
        </picture>
        <div class="c-slider__content">
          <div class="c-slider__text">
            <h1>Cras</h1>
            <p>Etiam sem sapien, fermentum eu lorem sit amet, efficitur imperdiet mauris. Cras.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="c-slider__controls">
      <div class="c-slider__previous">
        {{ Icon('chevron-left') }}
      </div>
      <div class="c-slider__pips"></div>
      <div class="c-slider__next">
        {{ Icon('chevron-right') }}
      </div>
    </div>
  </div>

</div>

<div class="c-code c-code--html">
  <pre><code class="html">
  &lt;div class=&quot;c-slider c-slider--scroll&quot; data-module=&quot;Slider&quot; data-options='{&quot;slidesToShow&quot;: 2}'&gt;
    &lt;div class=&quot;c-slider__slides&quot;&gt;
      &lt;div class=&quot;c-slider__slide is-active&quot;&gt;
        Slide 1
      &lt;/div&gt;
      &lt;div class=&quot;c-slider__slide&quot;&gt;
        Slide 2
      &lt;/div&gt;
      &lt;div class=&quot;c-slider__slide&quot;&gt;
        Slide 3
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;c-slider__controls&quot;&gt;
      &lt;div class=&quot;c-slider__previous&quot;&gt;
        Previous
      &lt;/div&gt;
      &lt;div class=&quot;c-slider__next&quot;&gt;
        Next
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  </code></pre>
</div>

{% endblock %}

{% block javascript %}

{% endblock %}
