{#
Nunjucks Templating!
Homepage: https://mozilla.github.io/nunjucks/
Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% from 'macros/icon.njk' import Icon %}

{% set pageid = 'tooltip' %}
{% set sectionid = 'core' %}

{% extends 'layouts/application.njk' %}

{% block metaTitle %}Tooltip | Atomic: Core{% endblock %}

{% block content %}

<h1 class="Article-title">Tooltip</h1>
<p class="c-text--lead">Add sweet tooltips to your content.</p>

<hr class="Article-divider">

<h2>Usage</h2>

<div class="c-example">
  <br>
  <a class="c-tooltip" href="#">Tooltip Button
    <span class="c-tooltip__item">
      <span class="c-tooltip__item-inner">Tooltip text supports multiple lines</span>
    </span>
  </a>
  <br><br>
</div>

<div class="c-code c-code--html">
<pre><code class="html">&lt;a class="c-tooltip" href="#"&gt;
  Tooltip Button
  &lt;span class="c-tooltip__item"&gt;
    &lt;span class="c-tooltip__item-inner"&gt;Tooltip&lt;/span&gt;
  &lt;/span&gt;
&lt;/a&gt;</code></pre>
</div>

<h2>Modifiers</h2>

<h4>Tooltip right position</h4>

<div class="c-example">
  <br>
  <a class="c-tooltip c-tooltip--right" href="#">Tooltip Button
    <span class="c-tooltip__item">
      <span class="c-tooltip__item-inner">Tooltip text supports multiple lines.</span>
    </span>
  </a>
  <br><br>
</div>

<div class="c-code c-code--html">
<pre><code class="html">&lt;a class="c-tooltip c-tooltip--right" href="#"&gt;
  Tooltip Button
  &lt;span class="c-tooltip__item"&gt;
    &lt;span class="c-tooltip__item-inner"&gt;Tooltip&lt;/span&gt;
  &lt;/span&gt;
&lt;/a&gt;</code></pre>
</div>

<h4>Tooltip bottom position</h4>

<div class="c-example">
  <br>
  <a class="c-tooltip c-tooltip--bottom" href="#">Tooltip Button
    <span class="c-tooltip__item">
      <span class="c-tooltip__item-inner">Tooltip text supports multiple lines</span>
    </span>
  </a>
  <br><br>
</div>

<div class="c-code c-code--html">
<pre><code class="html">&lt;a class="c-tooltip c-tooltip--bottom" href="#"&gt;
  Tooltip Button
  &lt;span class="c-tooltip__item"&gt;
    &lt;span class="c-tooltip__item-inner"&gt;Tooltip&lt;/span&gt;
  &lt;/span&gt;
&lt;/a&gt;</code></pre>
</div>

<h4>Tooltip left position</h4>

<div class="c-example">
  <br>
  <a class="c-tooltip c-tooltip--left" href="#">Tooltip Button
    <span class="c-tooltip__item">
      <span class="c-tooltip__item-inner">Tooltip text supports multiple lines</span>
    </span>
  </a>
  <br><br>
</div>

<div class="c-code c-code--html">
<pre><code class="html">&lt;a class="c-tooltip c-tooltip--left" href="#"&gt;
  Tooltip Button
  &lt;span class="c-tooltip__item"&gt;
    &lt;span class="c-tooltip__item-inner"&gt;Tooltip&lt;/span&gt;
  &lt;/span&gt;
&lt;/a&gt;</code></pre>
</div>

<h4>Tooltip with icon</h4>

<div class="c-example">
  <br>
  <a class="c-tooltip" href="#">{{ Icon('eye') }}
    <span class="c-tooltip__item">
      <span class="c-tooltip__item-inner">Tooltip text supports multiple lines</span>
    </span>
  </a>
  <br><br>
</div>

<div class="c-code c-code--html">
<pre><code class="html">&lt;a class="c-tooltip" href="#"&gt;
  &#123;&#123; icon('calendar') &#125;&#125;
  &lt;span class="c-tooltip__item"&gt;
    &lt;span class="c-tooltip__item-inner"&gt;Tooltip&lt;/span&gt;
  &lt;/span&gt;
&lt;/a&gt;</code></pre>
</div>

{% endblock %}

{% block javascript %}

{% endblock %}
