{#
Nunjucks Templating!
Homepage: https://mozilla.github.io/nunjucks/
Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% set pageid = 'switcher' %}
{% set sectionid = 'core' %}

{% extends 'layouts/application.njk' %}

{% block metaTitle %}Anchor | Atomic: Core{% endblock %}

{% block content %}

<h1 class="Article-title">Anchor</h1>
<p class="c-Text--lead">Dynamically transition through different content</p>

<hr class="Article-divider">

<div class="c-example">

  <div data-sticky-container>
      <div class="o-FlexGrid o-FlexGrid--gutters">
        <div class="o-FlexGrid-cell o-Size@md--3">

          <div class="c-Demo c-Sticky-item" data-sticky-for="768">
            <ul class="c-Menu c-Menu--vertical" data-module="Anchor">
              <li class="c-Menu-item">
                <a href="#anchor-one" class="c-Menu-link">
                  Anchor link 1
                </a>
              </li>
              <li class="c-Menu-item">
                <a href="#anchor-two" class="c-Menu-link">
                  Anchor link 2
                </a>
              </li>
              <li class="c-Menu-item">
                <a href="#anchor-three" class="c-Menu-link">
                  Anchor link 3
                </a>
              </li>
            </ul>
          </div>

        </div>
        <div class="o-FlexGrid-cell o-Size@md--9">

          <div id="anchor-one" data-scrollspy style="padding-bottom: 505px;">
            Anchor one
          </div>

          <div id="anchor-two" data-scrollspy style="padding-bottom: 505px;">
            Anchor two
          </div>

          <div id="anchor-three" data-scrollspy style="padding-bottom: 1005px;">
            Anchor three
          </div>

        </div>
      </div>
    </div>

</div>

<div class="c-code c-code--html">
  <pre><code class="html">
  </code></pre>
</div>

{% endblock %}

{% block javascript %}

{% endblock %}
