{#
Nunjucks Templating!
Homepage: https://mozilla.github.io/nunjucks/
Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% from 'macros/icon.njk' import icon %}

{% set pageid = 'close' %}
{% set sectionid = 'core' %}

{% extends 'layouts/application.njk' %}

{% block metaTitle %}Close | Atomic: Core{% endblock %}

{% block content %}

<h1 class="Article-title">Close</h1>
<p class="c-Text--lead">Defines styles for a close button that can be combined with different components.</p>

<hr class="Article-divider">

<h2>Usage</h2>

<div class="c-example">
  <a class="c-Close" href="#">{{ icon('close') }}</a>
</div>

<div class="c-code c-code--html">
<pre><code class="html">&lt;a class="c-Close" href="#"&gt;&#123;&#123; icon('close') &#125;&#125;&lt;/a&gt;</code></pre>
</div>

<h2>Style modifier</h2>

<p>Add the <code>.c-Close--alt</code> class to apply an alternative styling to the close button.</p>

<div class="c-example">
  <a class="c-Close c-Close--alt" href="#">{{ icon('close') }}</a>
</div>

<div class="c-code c-code--html">
  <pre><code class="html">&lt;a class="c-Close c-Close--alt" href="#"&gt;&#123;&#123; icon('close') &#125;&#125;&lt;/a&gt;</code></pre>
</div>

<h2>c-Close button</h2>

<div class="c-example">
  <button class="c-Close">{{ icon('close') }}</button>
</div>

<div class="c-code c-code--html">
<pre><code class="html">&lt;button class="c-Close"&gt;&#123;&#123; icon('close') &#125;&#125;&lt;/button&gt;</code></pre>
</div>

{% endblock %}

{% block javascript %}

{% endblock %}
