{#
Nunjucks Templating!
Homepage: https://mozilla.github.io/nunjucks/
Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% set pageid = 'cover' %}
{% set sectionid = 'core' %}

{% extends 'layouts/application.njk' %}

{% block metaTitle %}Cover | Atomic: Core{% endblock %}

{% block content %}

<h1 class="Article-title">Cover</h1>
<p class="c-Text--lead">Expand images or videos to cover their entire container.</p>

<p>This component allows you to create fullscreen teasers using images, objects or even iframes. Regardless what kind of element, it will always be centered vertically and horizontally and cover its container without losing its proportions.</p>
<p>You can use this component for responsive videos.</p>

<hr>

<h2 id="section:usage"><a href="#section:usage" class="c-Text--resetLink">Usage</a></h2>

<p>The Cover component is applied differently, depending on whether you are using a background image, an object or an iframe.</p>

<h3>Background images</h3>
<p>To make a background image cover it's container, use the modifier <code>o-Cover--bg</code>.</p>

<div class="c-example">
  <div class="o-Cover o-Cover--bg" style="height: 300px; background-image: url('/images/placeholder/img_600x400.svg');">&nbsp;</div>
</div>

<div class="c-code c-code--html">
  <pre><code class="html">&lt;div class=&quot;o-Cover o-Cover--bg&quot;&gt;...&lt;/div&gt;</code></pre>
</div>


<h3>Videos</h3>
<p>To make a video cover it's container, use the <code>o-Cover-object</code> sub-element on the video tag.</p>

<div class="c-example">
  <div class="o-Cover" style="height: 300px;">
    <video class="o-Cover-object" width="600" height="400" autoplay="" loop="" muted="" controls="">
      <source src="http://www.quirksmode.org/html5/videos/big_buck_bunny.mp4?test1" type="video/mp4">
      <source src="http://www.quirksmode.org/html5/videos/big_buck_bunny.ogv?test1" type="video/ogg">
    </video>
  </div>
</div>

<div class="c-code c-code--html">
  <pre><code class="html">&lt;div class=&quot;o-Cover&quot;&gt;
  &lt;video class=&quot;o-Cover-object&quot; width=&quot;&quot; height=&quot;&quot;&gt;
    &lt;source src=&quot;&quot; type=&quot;&quot;&gt;
  &lt;/video&gt;
&lt;/div&gt;</code></pre>
</div>

<h3>Responsive video</h3>
<h4>Standard video</h4>
<div class="c-example">
  <div class="o-Cover o-Cover--video">
    <iframe class="o-Cover-object" width="560" height="315" src="https://www.youtube.com/embed/1Tko1G6XRiQ" frameborder="0" allowfullscreen></iframe>
  </div>
</div>

<div class="c-code c-code--html">
  <pre><code class="html">&lt;div class=&quot;o-Cover o-Cover--video&quot;&gt;
  &lt;iframe class=&quot;o-Cover-object&quot; width=&quot;560&quot; height=&quot;315&quot; src=&quot;https://www.youtube.com/embed/1Tko1G6XRiQ&quot; frameborder=&quot;0&quot; allowfullscreen&gt;&lt;/iframe&gt;
&lt;/div&gt;</code></pre>
</div>

<h4>Widescreen video</h4>
<div class="c-example">
  <div class="o-Cover o-Cover--videoWide">
    <div class="o-Cover-object">
      <iframe src="https://player.vimeo.com/video/67476280?color=9a151b&title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>
</div>

<div class="c-code c-code--html">
  <pre><code class="html">&lt;div class=&quot;o-Cover o-Cover--videoWide&quot;&gt;
  &lt;div class=&quot;o-Cover-object&quot;&gt;
    &lt;iframe src=&quot;https://player.vimeo.com/video/67476280?color=9a151b&amp;title=0&amp;byline=0&amp;portrait=0&quot; width=&quot;640&quot; height=&quot;360&quot; frameborder=&quot;0&quot; webkitallowfullscreen mozallowfullscreen allowfullscreen&gt;&lt;/iframe&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
</div>

<h4>Ratio modifiers</h4>

<div class="c-example">
  <h5>16 x 9 (.o-Cover--ratio16x9)</h5>
  <div class="o-Cover o-Cover--bg o-Cover--ratio16x9" style="background-image: url('/images/placeholder/img_600x400.svg');">&nbsp;</div>
  <h5>4 x 3 (.o-Cover--ratio4x3)</h5>
  <div class="o-Cover o-Cover--bg o-Cover--ratio4x3" style="background-image: url('/images/placeholder/img_600x400.svg');">&nbsp;</div>
  <h5>21 x 9 (.o-Cover--ratio21x9)</h5>
  <div class="o-Cover o-Cover--bg o-Cover--ratio21x9" style="background-image: url('/images/placeholder/img_600x400.svg');">&nbsp;</div>
</div>

<div class="c-code c-code--html">
  <pre><code class="html">&lt;div class=&quot;o-Cover o-Cover--bg o-Cover--ratio16x9&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;o-Cover o-Cover--bg o-Cover--ratio4x3&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;o-Cover o-Cover--bg o-Cover--ratio21x9&quot;&gt;&lt;/div&gt;</code></pre>
</div>

<h3>Loading cover</h3>
<p>This can be used with the <a href="docs/components/responsive-img.html">Responsive image</a> component when lazy loading images.</p>

<div class="c-example">
  <div class="o-Cover o-Cover--ratio21x9 c-Demo">
    {{ icon('spinner-3', 'o-Icon--spin o-Icon--xl o-Cover-loading') }}
  </div>
</div>

<div class="c-code c-code--html">
  <pre><code class="html">&lt;div class=&quot;o-Cover o-Cover--ratio21x9 c-Demo&quot;&gt;
  &#123;&#123; icon(&#39;spinner&#39;, &#39o-Icon--spin o-Icon--xl o-Cover-loading&#39;) &#125;&#125;
&lt;/div&gt;</code></pre>
</div>

<h3>Classes</h3>

<div class="scrollXauto">
  <table class="c-Table c-Table--striped">
    <thead>
    <tr>
      <th class="o-Size--1of4 c-Text--left">Class</th>
      <th class="c-Text--left">Description</th>
      <th class="c-Text--right o-Size--1of5">Type</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th class="c-Text--left"><code>.o-Cover</code></th>
      <td>Sets overflow to hidden</td>
      <td class="c-Text--right">Component</td>
    </tr>
    <tr>
      <th class="c-Text--left"><code>.o-Cover-object</code></th>
      <td>The element that has to cover the container.</td>
      <td class="c-Text--right">Sub-element</td>
    </tr>
    <tr>
      <th class="c-Text--left"><code>.o-Cover-loading</code></th>
      <td>A spinning loading element</td>
      <td class="c-Text--right">Sub-element</td>
    </tr>
    <tr>
      <th class="c-Text--left"><code>.o-Cover--bg</code></th>
      <td>Makes a background image cover the containing area</td>
      <td class="c-Text--right">Component modifier</td>
    </tr>
    <tr>
      <th class="c-Text--left"><code>.o-Cover--video</code></th>
      <td>Sets the vertical padding on the containing element to 67.5% (youtube video) and makes the sub-element fit and maintain the aspect ratio</td>
      <td class="c-Text--right">Component modifier</td>
    </tr>
    <tr>
      <th class="c-Text--left"><code>.o-Cover--videoWide</code></th>
      <td>As above but with a padding of 56.34% (vimeo videos).</td>
      <td class="c-Text--right">Component modifier</td>
    </tr>
    </tbody>
  </table>
</div>

{% endblock %}

{% block javascript %}

{% endblock %}
