{#
Nunjucks Templating!
Homepage: https://mozilla.github.io/nunjucks/
Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% set pageid = 'definition' %}
{% set sectionid = 'core' %}

{% extends 'layouts/application.njk' %}

{% block metaTitle %}Definition | Atomic: Elements{% endblock %}

{% block content %}

<h1 class="Article-title">Definition</h1>
<p class="c-Text--lead">A list of pairs of terms and descriptions. Common uses for this element are to implement a
  glossary or to display metadata (a list of key-value pairs). <cite><a
      href="https://developer.mozilla.org/en/docs/Web/HTML/Element/dl">Mozilla Developer docs definition</a></cite>
</p>

<hr>

<h2 id="section:usage"><a href="#section:usage" class="c-Text--resetLink">Usage</a></h2>

<p>To use a stacked (default) defined list, add a class of <code>Definition</code> to the <code>dl</code> tag:</p>

<div class="c-example">
  <dl class="c-Definition">
    <dt>Item title</dt>
    <dd>Item definition</dd>
    <dt>Item 2 title</dt>
    <dd>Item 2 definition one</dd>
    <dd>Item 2 definition two</dd>
    <dd>Item 2 definition three</dd>
  </dl>
</div>

<div class="c-code c-code--html"><pre><code class="html">&lt;dl class=&quot;c-Definition&quot;&gt;
  &lt;dt&gt;Item title&lt;/dt&gt;
  &lt;dd&gt;Item definition&lt;/dd&gt;
  &lt;dt&gt;Item 2 title&lt;/dt&gt;
  &lt;dd&gt;Item 2 definition one&lt;/dd&gt;
  &lt;dd&gt;Item 2 definition two&lt;/dd&gt;
  &lt;dd&gt;Item 2 definition three&lt;/dd&gt;
&lt;/dl&gt</code></pre></div>

<h3>Modifiers</h3>

<h4>Bullets (.c-Definition--bullets)</h4>

<div class="c-example">
  <dl class="c-Definition c-Definition--bullets">
    <dt>Item title</dt>
    <dd>Item definition</dd>
    <dt>Item 2 title</dt>
    <dd>Item 2 definition one</dd>
    <dd>Item 2 definition two</dd>
  </dl>
</div>

<div class="c-code c-code--html"><pre><code class="html">&lt;dl class=&quot;c-Definition c-Definition--bullets&quot;&gt;
  &lt;dt&gt;Item title&lt;/dt&gt;
  &lt;dd&gt;Item definition&lt;/dd&gt;
  &lt;dt&gt;Item 2 title&lt;/dt&gt;
  &lt;dd&gt;Item 2 definition one&lt;/dd&gt;
  &lt;dd&gt;...&lt;/dd&gt;
&lt;/dl&gt</code></pre></div>

<h4>Horizonal (.c-Definition--horizontal)</h4>

<p>To show a horizontal list, use the <code>c-Definition</code> class with the modifier class of <code>c-Definition--horizontal</code>.</p>

<div class="c-example">
  <dl class="c-Definition c-Definition--horizontal">
    <dt class="c-Demo">Mint</dt>
    <dd class="c-Demo">an aromatic plant native to temperate regions of the Old World, several kinds of which are used as culinary herbs.</dd>
    <dd class="c-Demo">a peppermint sweet.</dd>
    <dd class="c-Demo">slang for 'Nice' or 'Cool'</dd>
    <dt class="c-Demo">More definitions than you can shake a stick at</dt>
    <dd class="c-Demo">A swimming predator.</dd>
    <dt class="c-Demo">Water</dt>
    <dd class="c-Demo">A liquid comprising of 2 hydrogen atoms and one oxygen atom.</dd>
    <dt class="c-Demo">Penguin</dt>
    <dd class="c-Demo">A flightless bird often associated with the arctic but also found in temperate climates.</dd>
  </dl>
</div>

<div class="c-code c-code--html"><pre><code class="html">&lt;dl class=&quot;c-Definition c-Definition--horizontal&quot;&gt;
  &lt;dt&gt;Mint&lt;/dt&gt;
  &lt;dd&gt;A refreshing herb&lt;/dd&gt;
  &lt;dt&gt;Shark&lt;/dt&gt;
  &lt;dd&gt;A swimming predator&lt;/dd&gt;
  &lt;dt&gt;Water&lt;/dt&gt;
  &lt;dd&gt;A liquid comprising of 2 hydrogen atoms and one oxygen atom&lt;/dd&gt;
  &lt;dt&gt;Penguin&lt;/dt&gt;
  &lt;dd&gt;A flightless bird often associated with the arctic but also found in temperate climates&lt;/dd&gt;
&lt;/dl&gt;</code></pre></div>

{% endblock %}

{% block javascript %}

{% endblock %}
