{#
Nunjucks Templating!
Homepage: https://mozilla.github.io/nunjucks/
Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% from 'macros/icon.njk' import icon %}

{% set pageid = 'form' %}
{% set sectionid = 'core' %}

{% extends 'layouts/application.njk' %}

{% block metaTitle %}Form | Atomic: Core{% endblock %}

{% block content %}

<h1 class="Article-title">Form</h1>
<p class="c-Text--lead">Forms are forms.</p>

<hr class="Article-divider">

<h2>Usage</h2>

<h4>Form</h4>

<div class="c-example">
  <form class="c-Form">
    <fieldset>
      <legend>Form</legend>
      <input type="text" placeholder="c-Text input" class="c-Form-input c-Form-input--inline">
      <input type="password" placeholder="Password input" class="c-Form-input c-Form-input--inline">
      <select class="c-Form-select c-Form-select--inline">
        <option>Option 01</option>
        <option>Option 02</option>
      </select>
      <button class="c-Button">c-Button</button>
      <label><input type="checkbox" class="c-Form-check c-Form-check--inline"> Checkbox</label>
      <label><input type="radio" class="c-Form-radio c-Form-radio--inline"> Radio</label>
      <textarea cols="30" rows="5" placeholder="Textarea" class="c-Form-text c-Form-text--inline"></textarea>
    </fieldset>
  </form>
</div>

<div class="c-code c-code--html">
<pre><code class="html">&lt;form class="c-Form"&gt;
  &lt;fieldset&gt;
    &lt;legend&gt;Form legend&lt;/legend&gt;
    &lt;input type="text" placeholder="c-Text input" class="c-Form-input"&gt;
    &lt;input type="password" placeholder="Password input" class="c-Form-input"&gt;
    &lt;select class="c-Form-select"&gt;
      &lt;option&gt;Option 01&lt;/option&gt;
      &lt;option&gt;Option 02&lt;/option&gt;
    &lt;/select&gt;
    &lt;button class="c-Button">c-Button&lt;/button&gt;
    &lt;label&gt;&lt;input type="checkbox" class="c-Form-check"&gt; Checkbox&lt;/label&gt;
    &lt;label&gt;&lt;input type="radio" class="c-Form-radio"&gt; Radio&lt;/label&gt;
    &lt;textarea cols="30" rows="5" placeholder="Textarea" class="c-Form-text c-Form-text--inline"&gt;&lt;/textarea&gt;
  &lt;/fieldset&gt;
&lt;/form&gt;</code></pre>
</div>

<h2>Control states</h2>

<h4>Disabled</h4>

<div class="c-example">
  <form class="c-Form">
    <fieldset>
      <input type="text" placeholder="c-Text input" class="c-Form-input c-Form-input--inline" disabled>
      <select class="c-Form-select c-Form-select--inline" disabled>
        <option>Option 01</option>
        <option>Option 02</option>
      </select>
    </fieldset>
  </form>
</div>

<div class="c-code c-code--html">
<pre><code class="html">&lt;input type="text" placeholder="" class="c-Form-input" disabled"&gt;</code></pre>
</div>

<h4>Validation states</h4>

<p>Unagi!</p>

<div class="c-example">
  <form class="c-Form">
    <fieldset>
      <input type="text" placeholder="c-Form-input--danger" class="c-Form-input c-Form-input--inline c-Form-input--danger">
      <div class="c-Form-status c-Form-status--danger">Danger</div>
      <input type="text" placeholder="c-Form-input--success" class="c-Form-input c-Form-input--inline c-Form-input--success">
      <div class="c-Form-status c-Form-status--success">Success</div>
    </fieldset>
  </form>
</div>

<div class="c-code c-code--html">
<pre><code class="html">&lt;input type="text" placeholder="c-Form--danger" class="c-Form-input c-Form-input--danger"&gt;
&lt;input type="text" placeholder="c-Form--success" class="c-Form-input c-Form-input--success"&gt;</code></pre>
</div>

<h2>Control modifiers</h2>

<h4>Size modifiers</h4>

<div class="c-example">
  <form class="c-Form">
    <fieldset>
      <div class="c-Form-row">
        <input type="text" placeholder="Extra small" class="c-Form-input c-Form-input--inline c-Form-input--xs">
        <select class="c-Form-select c-Form-select--inline c-Form-select--xs">
          <option>Option 01</option>
          <option>Option 02</option>
        </select>
        <button class="c-Button c-Button--xs">c-Button</button>
      </div>
      <div class="c-Form-row">
        <input type="text" placeholder="Small" class="c-Form-input c-Form-input--inline c-Form-input--sm">
        <select class="c-Form-select c-Form-select--inline c-Form-select--sm">
          <option>Option 01</option>
          <option>Option 02</option>
        </select>
        <button class="c-Button c-Button--sm">c-Button</button>
      </div>
      <div class="c-Form-row">
        <input type="text" placeholder="Standard" class="c-Form-input c-Form-input--inline">
        <select class="c-Form-select c-Form-select--inline">
          <option>Option 01</option>
          <option>Option 02</option>
        </select>
        <button class="c-Button">c-Button</button>
      </div>
      <div class="c-Form-row">
        <input type="text" placeholder="Large" class="c-Form-input c-Form-input--inline c-Form-input--lg">
        <select class="c-Form-select c-Form-select--inline c-Form-select--lg">
          <option>Option 01</option>
          <option>Option 02</option>
        </select>
        <button class="c-Button c-Button--lg">c-Button</button>
      </div>
      <div class="c-Form-row">
        <input type="text" placeholder="Extra large" class="c-Form-input c-Form-input--inline c-Form-input--xl">
        <select class="c-Form-select c-Form-select--inline c-Form-select--xl">
          <option>Option 01</option>
          <option>Option 02</option>
        </select>
        <button class="c-Button c-Button--xl">c-Button</button>
      </div>
    </fieldset>
  </form>
</div>

<div class="c-code c-code--html">
  <pre><code class="html">&lt;input type="text" placeholder="" class="c-Form-input c-Form--input--xs"&gt;</code></pre>
</div>

<h4>Form inline</h4>

<div class="c-example">
  <form class="c-Form">
    <fieldset>
      <input type="text" placeholder="c-Text input" class="c-Form-input c-Form-input--inline">
    </fieldset>
  </form>
</div>

<div class="c-code c-code--html">
  <pre><code class="html">&lt;input type="text" placeholder="" class="c-Form-input c-Form-input--inline"&gt;</code></pre>
</div>

<h4>Form blank</h4>

<div class="c-example">
  <form class="c-Form">
    <fieldset>
      <input type="text" placeholder="c-Text input" class="c-Form-input c-Form-input--blank">
    </fieldset>
  </form>
</div>

<div class="c-code c-code--html">
<pre><code class="html">&lt;input type="text" placeholder="" class="c-Form-input c-Form-input--blank"&gt;</code></pre>
</div>

<h2>Form and grid</h2>

<div class="c-example">
  <form class="c-Form">
    <div class="o-flex-grid o-flex-grid--gutters">
      <div class="o-flex-grid__cell">
        <input type="text" placeholder="100" class="c-Form-input">
      </div>
    </div>
    <div class="o-flex-grid o-flex-grid--gutters">
      <div class="o-flex-grid__cell o-Size--1of2">
        <input type="text" placeholder="50" class="c-Form-input">
      </div>
      <div class="o-flex-grid__cell">
        <input type="text" placeholder="Auto" class="c-Form-input">
      </div>
      <div class="o-flex-grid__cell">
        <input type="text" placeholder="Auto" class="c-Form-input">
      </div>
    </div>
    <div class="o-flex-grid o-flex-grid--gutters">
      <div class="o-flex-grid__cell">
        <input type="text" placeholder="Auto" class="c-Form-input">
      </div>
      <div class="o-flex-grid__cell o-Size--1of3">
        <select class="c-Form-select">
          <option>Option 01</option>
          <option>Option 02</option>
        </select>
      </div>
    </div>
    <div class="o-flex-grid o-flex-grid--gutters">
      <div class="o-flex-grid__cell o-Size--1of2">
        <label>Form label</label>
        <input type="text" placeholder="50" class="c-Form-input">
      </div>
      <div class="o-flex-grid__cell">
        <label>Form label</label>
        <input type="text" placeholder="Auto" class="c-Form-input">
      </div>
      <div class="o-flex-grid__cell">
        <label>Form label</label>
        <input type="text" placeholder="Auto" class="c-Form-input">
      </div>
    </div>
    <div class="o-flex-grid o-flex-grid--gutters o-flex-grid--full">
      <div class="o-flex-grid__cell o-flex-grid--full">
        <div class="o-flex-grid o-flex-grid--gutters">
          <div class="o-flex-grid__cell o-Size--1of3">
            <label>Form label</label>
          </div>
          <div class="o-flex-grid__cell">
            <input type="text" placeholder="50" class="c-Form-input">
          </div>
        </div>
      </div>
      <div class="o-flex-grid__cell">
        <div class="o-flex-grid o-flex-grid--gutters">
          <div class="o-flex-grid__cell o-Size--1of3">
            <label>Form label</label>
          </div>
          <div class="o-flex-grid__cell">
            <input type="text" placeholder="50" class="c-Form-input">
          </div>
        </div>
      </div>
      <div class="o-flex-grid__cell">
        <div class="o-flex-grid o-flex-grid--gutters">
          <div class="o-flex-grid__cell o-Size--1of3">
            <label>Form label</label>
          </div>
          <div class="o-flex-grid__cell">
            <input type="text" placeholder="50" class="c-Form-input">
          </div>
        </div>
      </div>
      <div class="o-flex-grid__cell">
        <div class="o-flex-grid o-flex-grid--gutters">
          <div class="o-flex-grid__cell o-Size--1of3">
            <span class="c-Form-label">Radio label</span>
          </div>
          <div class="o-flex-grid__cell">
            <input type="radio" id="c-Form-g-r" name="radio" class="c-Form-radio">
            <label for="c-Form-g-r">Radio</label>
            <br>
            <input type="radio" id="c-Form-g-r1" name="radio" class="c-Form-radio">
            <label for="c-Form-g-r1">1</label>
            <label><input type="radio" name="radio" class="c-Form-radio"> 2</label>
            <label><input type="radio" name="radio" class="c-Form-radio"> 3</label>
          </div>
        </div>
      </div>
      <div class="o-flex-grid__cell">
        <div class="o-flex-grid o-flex-grid--gutters">
          <div class="o-flex-grid__cell o-Size--1of3">
            <span class="c-Form-label">Checkbox label</span>
          </div>
          <div class="o-flex-grid__cell">
            <input type="checkbox" id="c-Form-g-c" class="c-Form-check">
            <label for="c-Form-g-c">Checkbox</label>
            <br>
            <input type="checkbox" id="c-Form-g-c1" class="c-Form-check">
            <label for="c-Form-g-c1">1</label>
            <label><input type="checkbox" class="c-Form-check"> 2</label>
            <label><input type="checkbox" class="c-Form-check"> 3</label>
          </div>
        </div>
      </div>
      <div class="o-flex-grid__cell">
        <div class="o-flex-grid o-flex-grid--gutters">
          <div class="o-flex-grid__cell o-Size--1of3">
            <label for="c-Form-g-t">Form label</label>
          </div>
          <div class="o-flex-grid__cell">
            <textarea id="c-Form-g-t" cols="30" rows="5" placeholder="Textarea text" class="c-Form-text"></textarea>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="c-code c-code--html">
<pre><code class="html">&lt;form class="c-Form"&gt;
  &lt;div class="o-flex-grid o-flex-grid--gutters"&gt;
    &lt;div class="o-flex-grid__cell o-Size--1of2"&gt;
      &lt;input type="text" placeholder="" class="c-Form-input"&gt;
    &lt;/div&gt;
    &lt;div class="o-flex-grid__cell"&gt;
      &lt;input type="text" placeholder="" class="c-Form-input"&gt;
    &lt;/div&gt;
    &lt;div class="o-flex-grid__cell"&gt;
      &lt;input type="text" placeholder="" class="c-Form-input"&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class="o-flex-grid o-flex-grid--gutters"&gt;
    &lt;div class="o-flex-grid__cell"&gt;
      &lt;input type="text" placeholder="" class="c-Form-input"&gt;
    &lt;/div&gt;
    &lt;div class="o-flex-grid__cell o-Size--1of3"&gt;
      &lt;select class="c-Form-select"&gt;
        &lt;option&gt;Option 01&lt;/option&gt;
        &lt;option&gt;Option 02&lt;/option&gt;
      &lt;/select&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/form&gt;</code></pre>
</div>

<h2>Form and icons</h2>

<div class="c-example">
  <form class="c-Form">
    <div class="c-Form-icon">
      {{ icon('calendar', '0 0 1 1', 'o-Icon--sm') }}
      <input type="text" placeholder="" class="c-Form-input">
    </div>
    <div class="c-Form-icon">
      {{ icon('gear', '0 0 1 1', 'o-Icon--sm') }}
      <input type="text" placeholder="" class="c-Form-input">
    </div>
    <div class="c-Form-icon c-Form-icon--flip">
      {{ icon('gear', '0 0 1 1', 'o-Icon--sm') }}
      <input type="text" placeholder="" class="c-Form-input">
    </div>
  </form>
</div>

<div class="c-code c-code--html">
<pre><code class="html">&lt;div class="c-Form-icon"&gt;
  &#123;&#123; icon('calendar') &#125;&#125;
  &lt;input type="text" placeholder="" class="c-Form-input"&gt;
&lt;/div&gt;</code></pre>
</div>

<h2>Form label modifier</h2>

<div class="c-example">
  <form class="c-Form">
    <div class="o-flex-grid o-flex-grid--gutters">
      <div class="o-flex-grid__cell">
        <div class="c-Form-flabel">
          <input type="text" id="c-Form-l-i-2" class="c-Form-input">
          <label for="c-Form-l-i-2" class="c-Form-label">Floating label</label>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="c-code c-code--html">
<pre><code class="html">&lt;div class="c-Form-flabel"&gt;
  &lt;label for="c-Form-l-i" class="c-Form-label"&gt;Floating label&lt;/label&gt;
  &lt;input type="text" id="c-Form-l-i" placeholder="Floating label" class="c-Form-input"&gt;
&lt;/div&gt;</code></pre>
</div>

<h4>Form field</h4>

<div class="c-example">
  <div class="c-Form-field">
    <input type="text" placeholder="c-Text input" class="c-Form-input c-Form-input--inline">
  </div>
</div>

<div class="c-code c-code--html">
<pre><code class="html">&lt;div class="c-Form-field"&gt;
  &lt;input type="text" placeholder="c-Text input" class="c-Form-input"&gt;
&lt;/div&gt;</code></pre>
</div>

{% endblock %}

{% block javascript %}

{% endblock %}
