{#
Nunjucks Templating!
Homepage: https://mozilla.github.io/nunjucks/
Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% from 'macros/icon.njk' import icon %}

{% set pageid = 'icon' %}
{% set sectionid = 'core' %}

{% extends 'layouts/application.njk' %}

{% block metaTitle %}Icon | Atomic: Core{% endblock %}

{% block content %}

<h1 class="Article-title">Icon</h1>
<p class="Text--lead">Place vector icons anywhere using our SVG sprite generator.</p>

<dl class="Definition Definition--horizontal">
  <dt>Macros</dt>
  <dd><a href="#section:macro"><span class="Badge">Icon</span></a></dd>
</dl>

<hr>

<h2 id="section:usage"><a href="#section:usage" class="Text--resetLink">Usage</a></h2>

<p>Drop icon svgs in the 'icon' folder in 'src' and they are automatically added to the sprite, the icon's location is indexed with a reference that matches its filename.</p>

<div class="docs-example">
  <span class="Icon Icon--navicon">
    <svg viewBox="0 0 1 1"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/icons.svg#navicon"></use></svg>
  </span>
</div>

<div class="docs-code docs-code--html">
  <pre><code class="html">&lt;span class="Icon Icon--navicon"&gt;
  &lt;svg viewBox="0 0 1 1"&gt;
    &lt;use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/icons.svg#navicon"&gt;&lt;/use&gt;
  &lt;/svg&gt;
&lt;/span&gt;</code></pre>
</div>

<h3 id="section:macro"><a href="#section:macro" class="Text--resetLink">Macro</a></h3>

<dl class="definition Definition--horizontal">
  <dt>Macro</dt>
  <dd>icon</dd>
  <dt>Import</dt>
  <dd><pre><code class="html">&#123;% from 'macros/icon.njk' import icon %&#125;</code></pre></dd>
  <dt>Parameters</dt>
  <dd><strong>id</strong> (string) - corresponds to the filename of icon svg</dd>
  <dd><strong>classes</strong> (string) - any extran classes to be put on icon container span</dd>
  <dd><strong>viewbox</strong> (string: '0 0 1 1') - <a href="https://developer.mozilla.org/en/docs/Web/SVG/Attribute/viewBox" target="_blank">Viewbox</a> preserves the aspect ratio of the sprite so that only the required sprite is shown</dd>
</dl>

<div class="docs-code">
  <pre><code class="html">&#123;&#123; icon(&#39;[icon_ref]&#39;, 'Icon--lg') &#125;&#125;</code></pre>
</div>

<div class="docs-example">
  <div class="o-Grid o-Grid--gutters Text--center">
  {{ icon('archive') }}
  {{ icon('arrow-down') }}
  {{ icon('arrow-left') }}
  {{ icon('arrow-right') }}
  {{ icon('arrow-up') }}
  {{ icon('bell') }}
  {{ icon('calendar') }}
  {{ icon('camera') }}
  {{ icon('cart') }}
  {{ icon('chart') }}
  {{ icon('check') }}
  {{ icon('chevron-down') }}
  {{ icon('chevron-left') }}
  {{ icon('chevron-right') }}
  {{ icon('chevron-up') }}
  {{ icon('clock') }}
  {{ icon('close') }}
  {{ icon('close-o') }}
  {{ icon('comment') }}
  {{ icon('credit-card') }}
  {{ icon('envelope') }}
  {{ icon('exclamation') }}
  {{ icon('external-link') }}
  {{ icon('eye') }}
  {{ icon('gear') }}
  {{ icon('heart') }}
  {{ icon('image') }}
  {{ icon('like') }}
  {{ icon('link') }}
  {{ icon('location') }}
  {{ icon('lock') }}
  {{ icon('minus') }}
  {{ icon('navicon') }}
  {{ icon('paperclip') }}
  {{ icon('pencil') }}
  {{ icon('play') }}
  {{ icon('plus') }}
  {{ icon('pointer') }}
  {{ icon('question') }}
  {{ icon('redo') }}
  {{ icon('refresh') }}
  {{ icon('retweet') }}
  {{ icon('sc-facebook') }}
  {{ icon('sc-github') }}
  {{ icon('sc-google-plus') }}
  {{ icon('sc-instagram') }}
  {{ icon('sc-linkedin') }}
  {{ icon('sc-pinterest') }}
  {{ icon('sc-skype') }}
  {{ icon('sc-soundcloud') }}
  {{ icon('sc-telegram') }}
  {{ icon('sc-tumblr') }}
  {{ icon('sc-twitter') }}
  {{ icon('sc-vimeo') }}
  {{ icon('sc-youtube') }}
  {{ icon('search') }}
  {{ icon('share-apple') }}
  {{ icon('share-google') }}
  {{ icon('spinner') }}
  {{ icon('spinner-2') }}
  {{ icon('spinner-3') }}
  {{ icon('star') }}
  {{ icon('tag') }}
  {{ icon('trash') }}
  {{ icon('trophy') }}
  {{ icon('undo') }}
  {{ icon('unlock') }}
  {{ icon('user') }}
  </div>
</div>

<h3>Size modifiers</h3>

<div class="docs-example">

  <div class="o-Grid o-Grid--1of5 Text--center">

    <div class="o-Grid-cell Demo">
      {{ icon('eye', 'Icon--sm', '0 0 1 1') }}
      <div><small>.Icon--sm</small></div>
    </div>

    <div class="o-Grid-cell Demo">
      {{ icon('eye') }}
      <div><small>.Icon</small></div>
    </div>

    <div class="o-Grid-cell Demo">
      {{ icon('eye', 'Icon--lg') }}
      <div><small>.Icon--lg</small></div>
    </div>

    <div class="o-Grid-cell Demo">
      {{ icon('eye', 'Icon--xl') }}
      <div><small>.Icon--xl</small></div>
    </div>

    <div class="o-Grid-cell Demo">
      {{ icon('eye', 'Icon--xxl') }}
      <div><small>.Icon--xxl</small></div>
    </div>

  </div>

</div>

<div class="docs-code">
  <pre><code class="html">&#123;&#123; icon(&#39;eye&#39;, &#39;Icon--sm&#39; &#125;&#125;
&#123;&#123; icon(&#39;eye&#39;) &#125;&#125;
&#123;&#123; icon(&#39;eye&#39;, &#39;Icon--lg&#39; &#125;&#125;
&#123;&#123; icon(&#39;eye&#39;, &#39;Icon--xl&#39; &#125;&#125;
&#123;&#123; icon(&#39;eye&#39;, &#39;Icon--xxl &#125;&#125;</code></pre>
</div>

<h3>Spin modifier</h3>

<div class="docs-example">

  <div class="o-Grid o-Grid--gutters Text--center">

    <div class="o-Grid-cell o-Size--1of5 Demo">
      {{ icon('spinner-3', 'Icon--lg Icon--spin') }}
      <div><small>.Icon--spin</small></div>
    </div>

  </div>

</div>

<div class="docs-code">
  <pre><code class="html">&#123;&#123; icon(&#39;spinner-3&#39;, &#39;Icon--spin Icon--lg&#39; &#125;&#125;</code></pre>
</div>


{% endblock %}

{% block javascript %}

{% endblock %}