{#
Nunjucks Templating!
Homepage: https://mozilla.github.io/nunjucks/
Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% set pageid = 'list' %}
{% set sectionid = 'core' %}

{% extends 'layouts/application.njk' %}

{% block metaTitle %}List | Atomic: Core{% endblock %}

{% block content %}

<h1 class="Article-title">List</h1>
<p class="c-Text--lead">Easily create nicely looking lists, which come in different styles</p>

<hr>

<h2 id="section:usage"><a href="#section:usage" class="c-Text--resetLink">Usage</a></h2>

<p>To apply this component, add the <code>.c-List</code> class to an unordered or ordered list. The list will now display without any spacing or list-style.</p>

<div class="docs-example">
  <ul class="c-List">
    <li>List item 1</li>
    <li>List item 2</li>
    <li>List item 3</li>
  </ul>
</div>
<div class="docs-code docs-code--html">
<pre><code class="html">&lt;ul class=&quot;c-List&quot;&gt;
  &lt;li&gt;c-List item 1&lt;/li&gt;
  ...
&lt;/ul&gt;</code></pre>
</div>

<h3>Modifiers</h3>

<h4>List block (.List--block)</h4>

<div class="docs-example">
  <ul class="c-List c-List--block">
    <li>List item 1</li>
    <li>List item 2</li>
    <li>List item 3</li>
  </ul>
</div>
<div class="docs-code docs-code--html">
<pre><code class="html">&lt;ul class=&quot;c-List c-List--block&quot;&gt;
  &lt;li&gt;List item 1&lt;/li&gt;
  ...
&lt;/ul&gt;</code></pre>
</div>

<h5>List block with links</h5>
<div class="docs-example">
  <ul class="c-List c-List--block">
    <li><a href="#">List item 1</a></li>
    <li><a href="#">List item 2</a></li>
    <li><a href="#">List item 3</a></li>
  </ul>
</div>
<div class="docs-code docs-code--html">
<pre><code class="html">&lt;ul class=&quot;c-List c-List--block&quot;&gt;
  &lt;li&gt;&lt;a href=&quot;#&quot;&gt;List item 1&lt;/a&gt;&lt;/li&gt;
  ...
&lt;/ul&gt;</code></pre>
</div>

<h5>List block with links, without list</h5>
<div class="docs-example">
  <div class="c-List c-List--block">
    <a href="#">List item 1</a>
    <a href="#">List item 2</a>
    <a href="#">List item 3</a>
  </div>
</div>
<div class="docs-code docs-code--html">
<pre><code class="html">&lt;div class=&quot;List c-List--block&quot;&gt;
  &lt;a href=&quot;#&quot;&gt;List item 1&lt;/a&gt;
  ...
&lt;/div&gt;</code></pre>
</div>

<h4>List divider (.List--divider)</h4>

<div class="docs-example">
  <ul class="c-List c-List--divider">
    <li>List item 1</li>
    <li>List item 2</li>
    <li>List item 3</li>
  </ul>
</div>
<div class="docs-code docs-code--html">
<pre><code class="html">&lt;ul class=&quot;c-List c-List--divider&quot;&gt;
  &lt;li&gt;List item 1&lt;/li&gt;
  ...
&lt;/ul&gt;</code></pre>
</div>

{% endblock %}

{% block javascript %}

{% endblock %}
