{#
Nunjucks Templating!
Homepage: https://mozilla.github.io/nunjucks/
Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% set pageid = 'menu' %}
{% set sectionid = 'core' %}

{% from 'macros/icon.njk' import icon %}
{% from 'components/Menu/Menu.component.njk' import Menu %}

{% extends 'layouts/application.njk' %}

{% block metaTitle %}Menu | Atomic: Core{% endblock %}

{% block content %}

<h1 class="Article-title">Menu</h1>
<p class="c-Text--lead">Our flexible menu component makes it easy to build many common navigation patterns.</p>

<hr>

<h2 id="section:usage"><a href="#section:usage" class="c-Text--resetLink">Usage</a></h2>

<div class="c-example">

  {{ Menu(
    [
      {
        "text": "My simple menu",
        "header": true,
        "classList": "c-Menu-item--left"
      },
      {
        "text": "Home"
      },
      {
        "id": "features",
        "url": "features.html",
        "text": "Features",
        "linkClassList": " "
      }
    ],
    'c-Menu--right',
    'item2'
  ) }}

</div>


<h3>Basic Menu</h3>

<div class="c-example">

  {{ Menu(
    [
      { "text": "One", "url": "#" },
      { "text": "Two", "url": "#" },
      { "text": "Three", "url": "#" },
      { "text": "Four", "url": "#" }
    ]
  ) }}

</div>

<div class="c-code">
  <pre><code class="html">&lt;ul class=&quot;c-Menu&quot;&gt;
  &lt;li class=&quot;c-Menu-item&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;c-Menu-link&quot;&gt;One&lt;/a&gt;&lt;/li&gt;
  ...
&lt;/ul&gt;

&#123;&#123; Menu(
  [
    { "text": "One", "url": "#" },
    { "text": "Two", "url": "#" },
    { "text": "Three", "url": "#" },
    { "text": "Four", "url": "#" }
  ]
) &#125;&#125;
</code></pre>
</div>

<h3>Item alignment</h3>
<h4>Right align (.c-Menu--right)</h4>

<div class="c-example">

  {{ Menu(
    [
      { "text": "One", "url": "#" },
      { "text": "Two", "url": "#" },
      { "text": "Three", "url": "#" },
      { "text": "Four", "url": "#" }
    ],
    "c-Menu--right"
  ) }}

</div>

<div class="c-code">
  <pre><code class="html">&lt;ul class=&quot;c-Menu c-Menu--right&quot;&gt;
  &lt;li class=&quot;c-Menu-item&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;c-Menu-link&quot;&gt;One&lt;/a&gt;&lt;/li&gt;
  ...
&lt;/ul&gt;

&#123;&#123; Menu(
  [
    { "text": "One", "url": "#" },
    { "text": "Two", "url": "#" },
    { "text": "Three", "url": "#" },
    { "text": "Four", "url": "#" }
  ],
  "c-Menu--right"
) &#125;&#125;</code></pre>
</div>

<h4>Centred (.Menu--center)</h4>

<div class="c-example">

  {{ Menu(
    [
      { "text": "One", "url": "#" },
      { "text": "Two", "url": "#" },
      { "text": "Three", "url": "#" },
      { "text": "Four", "url": "#" }
    ],
    "c-Menu--center"
  ) }}

</div>

<div class="c-code">
  <pre><code class="html">&lt;ul class=&quot;c-Menu c-Menu--center&quot;&gt;
  &lt;li class=&quot;c-Menu-item&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;c-Menu-link&quot;&gt;One&lt;/a&gt;&lt;/li&gt;
  ...
&lt;/ul&gt;

&#123;&#123; Menu(
  [
    { "text": "One", "url": "#" },
    { "text": "Two", "url": "#" },
    { "text": "Three", "url": "#" },
    { "text": "Four", "url": "#" }
  ],
  "c-Menu--center"
) &#125;&#125;</code></pre>
</div>

<h4>Expanded (.c-Menu--expanded)</h4>

<div class="c-example">

  {{ Menu(
    [
      { "text": "One", "url": "#" },
      { "text": "Two", "url": "#" }
    ],
    "c-Menu--expanded"
  ) }}

  {{ Menu(
    [
      { "text": "One", "url": "#" },
      { "text": "Two", "url": "#" },
      { "text": "Three", "url": "#" }
    ],
    "c-Menu--expanded"
  ) }}

  {{ Menu(
    [
      { "text": "One", "url": "#" },
      { "text": "Two", "url": "#" },
      { "text": "Three", "url": "#" },
      { "text": "Four", "url": "#" }
    ],
  "c-Menu--expanded"
  ) }}

</div>

<div class="c-code">
  <pre><code class="html">&lt;ul class=&quot;c-Menu c-Menu--expanded&quot;&gt;
  &lt;li class=&quot;c-Menu-item&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;c-Menu-link&quot;&gt;One&lt;/a&gt;&lt;/li&gt;
  ...
&lt;/ul&gt;

&#123;&#123; Menu(
  [
    { "text": "One", "url": "#" },
    { "text": "Two", "url": "#" },
    { "text": "Three", "url": "#" },
    { "text": "Four", "url": "#" }
  ],
  "c-Menu--expanded"
) &#125;&#125;</code></pre>
</div>

<h4>Menu item alignment (.c-Menu-item--right & .c-Menu-item--left)</h4>

<div class="c-example">

  {{ Menu(
    [
      { "text": "One", "url": "#" },
      { "text": "Two", "url": "#" },
      { "text": "Three", "url": "#" },
      { "text": "Four", "url": "#", "classList": "c-Menu-item--right" }
    ]
  ) }}

  {{ Menu(
    [
      { "text": "One", "url": "#", "classList": "c-Menu-item--left" },
      { "text": "Two", "url": "#" },
      { "text": "Three", "url": "#" },
      { "text": "Four", "url": "#" }
    ],
    'c-Menu--right'
  ) }}

</div>

<div class="c-code">
  <pre><code class="html">&lt;ul class=&quot;c-Menu&quot;&gt;
  &lt;li class=&quot;c-Menu-item&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;c-Menu-link&quot;&gt;One&lt;/a&gt;&lt;/li&gt;
  ...
  &lt;li class=&quot;c-Menu-item c-Menu-item--right&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;c-Menu-link&quot;&gt;Four&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;

&lt;ul class=&quot;c-Menu c-Menu--right&quot;&gt;
  &lt;li class=&quot;c-Menu-item c-Menu-item--left&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;c-Menu-link&quot;&gt;One&lt;/a&gt;&lt;/li&gt;
  ...
  &lt;li class=&quot;c-Menu-item&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;c-Menu-link&quot;&gt;Three&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;

&#123;&#123; Menu(
  [
    { "text": "One", "url": "#", "classList": "c-Menu-item--left" },
    { "text": "Two", "url": "#" },
    { "text": "Three", "url": "#" },
    { "text": "Four", "url": "#" }
  ],
  "c-Menu--right"
) &#125;&#125;</code></pre>
</div>

<h4>Active menu item state (.is-active)</h4>

<div class="c-example">

  {{ Menu(
    [
      { "id": "one", "text": "One", "url": "#" },
      { "id": "two", "text": "Two", "url": "#" },
      { "id": "three", "text": "Three", "url": "#" },
      { "id": "four", "text": "Four", "url": "#" }
    ],
    "",
    "two"
  ) }}

</div>

<div class="c-code">
  <pre><code class="html">&lt;ul class=&quot;c-Menu&quot;&gt;
  &lt;li class=&quot;c-Menu-item&quot;&gt;&lt;span class=&quot;c-Menu-title&quot;&gt;c-Menu title&lt;/span&gt;&lt;/li&gt;
  &lt;li class=&quot;c-Menu-item is-active&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;c-Menu-link&quot;&gt;One&lt;/a&gt;&lt;/li&gt;
  ...
&lt;/ul&gt;

&#123;&#123; Menu(
  [
    { "id": "one", "text": "One", "url": "#", "classList": "c-Menu-item--left" },
    { "id": "two", "text": "Two", "url": "#" },
    { "id": "three", "text": "Three", "url": "#" },
    { "id": "four", "text": "Four", "url": "#" }
  ],
  "",
  "two"
) &#125;&#125;</code></pre>
</div>

<h4>Menu header (.c-Menu-header)</h4>

<div class="c-example">

  {{ Menu(
    [
      { "text": "c-Menu header", "header": true },
      { "text": "One", "url": "#" },
      { "text": "Two", "url": "#" },
      { "text": "Three", "url": "#" },
      { "text": "Four", "url": "#" }
    ]
  ) }}

</div>

<div class="c-code">
  <pre><code class="html">&lt;ul class=&quot;c-Menu&quot;&gt;
  &lt;li class=&quot;c-Menu-item&quot;&gt;&lt;span class=&quot;c-Menu-title&quot;&gt;c-Menu title&lt;/span&gt;&lt;/li&gt;
  &lt;li class=&quot;c-Menu-item&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;c-Menu-link&quot;&gt;One&lt;/a&gt;&lt;/li&gt;
  ...
&lt;/ul&gt;

&#123;&#123; Menu(
  [
    { "text": "Menu header", "header": true },
    { "text": "One", "url": "#" },
    { "text": "Two", "url": "#" },
    { "text": "Three", "url": "#" },
    { "text": "Four", "url": "#" }
  ]
) &#125;&#125;</code></pre>
</div>

<h3>Vertical menu (.Menu--vertical)</h3>

<div class="c-example">

  {{ Menu(
    [
      { "text": "Menu header", "header": true },
      { "text": "One", "url": "#" },
      { "text": "Two", "url": "#" },
      { "text": "Three", "url": "#" },
      { "text": "Four", "url": "#" }
    ],
    "c-Menu--vertical"
  ) }}

</div>

<div class="c-code">
  <pre><code class="html">&lt;ul class=&quot;c-Menu c-Menu--vertical&quot;&gt;
  &lt;li class=&quot;c-Menu-item&quot;&gt;&lt;span class=&quot;c-Menu-header&quot;&gt;c-Menu header&lt;/span&gt;&lt;/li&gt;
  &lt;li class=&quot;c-Menu-item&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;c-Menu-link&quot;&gt;One&lt;/a&gt;&lt;/li&gt;
  ...
&lt;/ul&gt;

&#123;&#123; Menu(
  [
    { "text": "Menu header", "header": true },
    { "text": "One", "url": "#" },
    { "text": "Two", "url": "#" },
    { "text": "Three", "url": "#" },
    { "text": "Four", "url": "#" }
  ],
  "c-Menu--vertical"
) &#125;&#125;</code></pre>
</div>

<h4>Vertical nested menu</h4>

<div class="c-example">
  <ul class="c-Menu c-Menu--vertical c-Demo">
    <li class="c-Menu-item"><span class="c-Menu-header">Menu header</span></li>
    <li class="c-Menu-item"><a href="#" class="c-Menu-link">One</a>
      <ul class="c-Menu c-Menu--vertical c-Demo">
        <li class="c-Menu-item"><span class="c-Menu-header">Menu header</span></li>
        <li class="c-Menu-item"><a href="#" class="c-Menu-link">One</a></li>
        <li class="c-Menu-item"><a href="#" class="c-Menu-link">Two</a></li>
      </ul>
    </li>
    <li class="c-Menu-item"><a href="#" class="c-Menu-link">Two</a></li>
    <li class="c-Menu-item"><a href="#" class="c-Menu-link">Three</a></li>
  </ul>
</div>

<h4>Vertical flush nested menu (.c-Menu--flush)</h4>

<div class="c-example">
  <ul class="c-Menu c-Menu--vertical c-Demo">
    <li class="c-Menu-item"><a href="#" class="c-Menu-link">One</a>
      <ul class="c-Menu c-Menu--vertical c-Menu--flush c-Demo">
        <li class="c-Menu-item"><a href="#" class="c-Menu-link">One</a></li>
        <li class="c-Menu-item"><a href="#" class="c-Menu-link">Two</a></li>
      </ul>
    </li>
    <li class="c-Menu-item"><a href="#" class="c-Menu-link">Two</a></li>
    <li class="c-Menu-item"><a href="#" class="c-Menu-link">Three</a></li>
  </ul>
</div>

<h4>Responsive menu (.c-Menu@xs, .c-Menu@sm, .c-Menu@md,. c-Menu@lg)</h4>

<div class="c-example">
  {{ Menu(
    [
      { "text": "Break @480px", "header": true },
      { "text": "One", "url": "#" },
      { "text": "Two", "url": "#" },
      { "text": "Three", "url": "#" },
      { "text": "Four", "url": "#" }
    ],
    "c-Menu--vertical c-Menu@xs"
  ) }}
  {{ Menu(
    [
      { "text": "Break @640px", "header": true },
      { "text": "One", "url": "#" },
      { "text": "Two", "url": "#" },
      { "text": "Three", "url": "#" },
      { "text": "Four", "url": "#" }
    ],
    "c-Menu--vertical c-Menu@sm"
  ) }}
  {{ Menu(
    [
      { "text": "Break @768px", "header": true },
      { "text": "One", "url": "#" },
      { "text": "Two", "url": "#" },
      { "text": "Three", "url": "#" },
      { "text": "Four", "url": "#" }
    ],
    "c-Menu--vertical c-Menu@md"
  ) }}
  {{ Menu(
    [
      { "text": "Break @960px", "header": true },
      { "text": "One", "url": "#" },
      { "text": "Two", "url": "#" },
      { "text": "Three", "url": "#" },
      { "text": "Four", "url": "#" }
    ],
    "c-Menu--vertical c-Menu@lg"
  ) }}

</div>

<h3>Unstyled links</h3>

<div class="c-example">

  {{ Menu(
    [
      { "text": "One", "url": "#", "linkClassList": " " },
      { "text": "Two", "url": "#", "linkClassList": " " },
      { "text": "Three", "url": "#", "linkClassList": " " },
      { "text": "Four", "url": "#", "linkClassList": " " }
    ]
  ) }}

</div>

<div class="c-code">
  <pre><code class="html">&lt;ul class=&quot;c-Menu&quot;&gt;
  &lt;li class=&quot;c-Menu-item&quot;&gt;&lt;a href=&quot;#&quot; class=&quot; &quot;&gt;One&lt;/a&gt;&lt;/li&gt;
  ...
&lt;/ul&gt;

&#123;&#123; Menu(
  [
    { "text": "One", "url": "#", "linkClassList": " " },
    { "text": "Two", "url": "#", "linkClassList": " " },
    { "text": "Three", "url": "#", "linkClassList": " " },
    { "text": "Four", "url": "#", "linkClassList": " " }
  ]
) &#125;&#125;</code></pre>
</div>

<h3>Icon links</h3>

<div class="c-example">

  {{ Menu(
    [
      { "text": "", "icon": "sc-facebook", "url": "#"},
      { "text": "", "icon": "sc-twitter", "url": "#" },
      { "text": "", "icon": "sc-google-plus", "url": "#" },
      { "text": "", "icon": "sc-youtube", "url": "#" }
    ]
  ) }}

</div>

<div class="c-code">
  <pre><code class="html">&lt;ul class=&quot;c-Menu&quot;&gt;
  &lt;li class=&quot;c-Menu-item&quot;&gt;
    &lt;a href=&quot;#&quot; class=&quot;c-Menu-link&quot;&gt;
      &lt;span class="o-Icon o-Icon--sc-facebook "&gt;
        &lt;svg viewBox="0 0 1 1"&gt;&lt;use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/icons.svg#sc-facebook"&gt;&lt;/use&gt;&lt;/svg&gt;
      &lt;/span&gt;
    &lt;/a&gt;
  &lt;/li&gt;
  ...
&lt;/ul&gt;

&#123;&#123; Menu(
  [
    { "text": "", "url": "#", "icon": "sc-facebook" },
    { "text": "", "url": "#", "icon": "sc-twitter" },
    { "text": "", "url": "#", "icon": "sc-google-plus" },
    { "text": "", "url": "#", "icon": "sc-youtube" }
  ]
) &#125;&#125;</code></pre>
</div>


<h3>Tabular menu (.c-Menu--tabular)</h3>

<div class="c-example">

  <ul class="c-Menu c-Menu--tabular">
    <li class="c-Menu-item"><a href="#" class="c-Menu-link">One</a></li>
    <li class="c-Menu-item is-active"><a href="#" class="c-Menu-link">Two</a></li>
    <li class="c-Menu-item"><a href="#" class="c-Menu-link">Three</a></li>
  </ul>

  <div class="o-Section--tall o-Size--1of5">
    <ul class="c-Menu c-Menu--vertical c-Menu--tabular">
      <li class="c-Menu-item"><a href="#" class="c-Menu-link">One</a></li>
      <li class="c-Menu-item is-active"><a href="#" class="c-Menu-link">Two</a></li>
      <li class="c-Menu-item"><a href="#" class="c-Menu-link">Three</a></li>
    </ul>
  </div>

</div>

<h3>Attached menu (<code>.c-Menu--attached</code>)</h3>

<p>It is possible to attached the menu to other attachable items, for example, the panel component, to create a tab like component.</p>

<div class="c-example">
  <ul class="c-Menu c-Menu--tabular c-Menu--attached">
    <li class="c-Menu-item is-active"><a href="#" class="c-Menu-link">One</a></li>
    <li class="c-Menu-item"><a href="#" class="c-Menu-link">Two</a></li>
    <li class="c-Menu-item"><a href="#" class="c-Menu-link">Three</a></li>
  </ul>
  <div class="c-Panel c-Panel--box c-Panel--attached c-Panel--stacked">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error illum magnam minima placeat rem! Ab at beatae culpa deleniti excepturi, exercitationem illo laboriosam nostrum officia perspiciatis recusandae sequi tempora voluptates.</p>
  </div>
</div>

<div class="c-code"><pre><code class="html">&lt;ul class=&quot;c-Menu c-Menu--tabular c-Menu--attached&quot;&gt;
  &lt;li class=&quot;c-Menu-item is-active&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;c-Menu-link&quot;&gt;One&lt;/a&gt;&lt;/li&gt;
  ....
&lt;/ul&gt;
&lt;div class=&quot;c-Panel c-Panel--box c-Panel--attached c-Panel--stacked&quot;&gt;
  ....
&lt;/div&gt;</code></pre></div>

<div class="c-code">
  <pre><code class="html">&lt;ul class=&quot;c-Menu&quot;&gt;
  &lt;li class=&quot;c-Menu-item&quot;&gt;&lt;span class=&quot;c-Menu-title&quot;&gt;c-Menu title&lt;/span&gt;&lt;/li&gt;
  &lt;li class=&quot;c-Menu-item is-active&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;c-Menu-link&quot;&gt;One&lt;/a&gt;&lt;/li&gt;
  ...
&lt;/ul&gt;</code></pre>
</div>


<div class="scrollXauto">
  <table class="c-Table c-Table--striped">
    <thead>
    <tr>
      <th class="o-Size--1of4 c-Text--left">Class</th>
      <th class="c-Text--left">Description</th>
      <th class="c-Text--right o-Size--1of5">Type</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th class="c-Text--left"><code>.c-Menu</code></th>
      <td>Set Menu to use flexbox and aligns items to the left by default</td>
      <td class="c-Text--right">Component</td>
    </tr>
    <tr>
      <th class="c-Text--left"><code>.c-Menu[@xs,@sm,@md,@lg]</code></th>
      <td>Used in conjunction with c-Menu--vertical to break to horizonal at 480px, 640px, 768px or 960px</td>
      <td class="c-Text--right">Responsive modifier</td>
    </tr>
    <tr>
      <th class="c-Text--left"><code>.c-Menu--right</code></th>
      <td>Aligns items to the right</td>
      <td class="c-Text--right">Component modifier</td>
    </tr>
    <tr>
      <th class="c-Text--left"><code>.c-Menu--center</code></th>
      <td>Aligns items centrally</td>
      <td class="c-Text--right">Component modifier</td>
    </tr>
    <tr>
      <th class="c-Text--left"><code>.c-Menu--expanded</code></th>
      <td>Menu items expand to fill the available space</td>
      <td class="c-Text--right">Component modifier</td>
    </tr>
    <tr>
      <th class="c-Text--left"><code>.c-Menu--vertical</code></th>
      <td>Aligned menu items vertically in a stacked menu</td>
      <td class="c-Text--right">Component modifier</td>
    </tr>
    <tr>
      <th class="c-Text--left"><code>.c-Menu--flush</code></th>
      <td>Removes the left margin of a nested vertical menu</td>
      <td class="c-Text--right">Component modifier</td>
    </tr>
    <tr>
      <th class="c-Text--left"><code>.c-Menu-item</code></th>
      <td>A menu item</td>
      <td class="c-Text--right">Sub-element</td>
    </tr>
    <tr>
      <th class="c-Text--left"><code>.c-Menu-item--right</code></th>
      <td>Aligns menu item to the right if the menu is left aligned</td>
      <td class="c-Text--right">Sub-element modifier</td>
    </tr>
    <tr>
      <th class="c-Text--left"><code>.c-Menu-item--left</code></th>
      <td>Aligns menu item to the left if the menu is right aligned</td>
      <td class="c-Text--right">Sub-element modifier</td>
    </tr>
    <tr>
      <th class="c-Text--left"><code>.c-Menu-item.is-active</code></th>
      <td>A active menu item</td>
      <td class="c-Text--right">Active state</td>
    </tr>
    <tr>
      <th class="c-Text--left"><code>.c-Menu-link</code></th>
      <td>A menu link</td>
      <td class="c-Text--right">Sub-element</td>
    </tr>
    <tr>
      <th class="c-Text--left"><code>.c-Menu-header</code></th>
      <td>A menu header</td>
      <td class="c-Text--right">Sub-element</td>
    </tr>
    </tbody>
  </table>
</div>



{% endblock %}

{% block javascript %}

{% endblock %}
