{#
Nunjucks Templating!
Homepage: https://mozilla.github.io/nunjucks/
Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% set pageid = 'overlay' %}
{% set sectionid = 'core' %}

{% extends 'layouts/application.njk' %}

{% block metaTitle %}Overlay | Atomic: Core{% endblock %}

{% block content %}

<h1 class="Article-title">Overlay</h1>
<p class="c-Text--lead"></p>

<hr>

<h2 id="section:usage"><a href="#section:usage" class="c-Text--resetLink">Usage</a></h2>

<div class="c-example">
  <figure class="c-Overlay">
    <img src="//placehold.it/600x400" alt="">
    <figcaption class="c-Overlay-panel">
      <h3>Title</h3>
      <p>Lorem <a href="#">ipsum dolor</a> sit amet, consetetur sadipscing elitr.</p>
    </figcaption>
  </figure>
</div>

<div class="c-code c-code--html">
  <pre><code class="html">&lt;div class=&quot;c-Overlay&quot;&gt;
  &lt;img src=&quot;&quot; width=&quot;&quot; height=&quot;&quot; alt=&quot;&quot;&gt;
  &lt;figcaption class="c-Overlay-panel"&gt;...&lt;/figcaption&gt;
&lt;/div&gt;</code></pre>
</div>

<h2><a href="#section:toggle" class="c-Text--resetLink">Toggle overlay on hover</a></h2>

<div class="c-example">
  <figure class="c-Overlay c-Overlay--hover">
    <img src="//placehold.it/600x400" alt="">
    <figcaption class="c-Overlay-panel">
      <h3>Title</h3>
      <p>Lorem <a href="#">ipsum dolor</a> sit amet, consetetur sadipscing elitr.</p>
    </figcaption>
  </figure>
</div>

<div class="c-code c-code--html">
  <pre><code class="html">&lt;div class=&quot;c-Overlay c-Overlay--hover&quot;&gt;
  &lt;img src=&quot;&quot; width=&quot;&quot; height=&quot;&quot; alt=&quot;&quot;&gt;
  &lt;figcaption class="c-Overlay-panel"&gt;...&lt;/figcaption&gt;
&lt;/div&gt;</code></pre>
</div>

<h2><a href="#section:background" class="c-Text--resetLink">c-Overlay background</a></h2>

<div class="c-example">
  <figure class="c-Overlay">
    <img src="//placehold.it/600x400" alt="">
    <figcaption class="c-Overlay-panel c-Overlay-background">
      <h3>Title</h3>
      <p>Lorem <a href="#">ipsum dolor</a> sit amet, consetetur sadipscing elitr.</p>
    </figcaption>
  </figure>
</div>

<div class="c-code c-code--html">
  <pre><code class="html">&lt;div class=&quot;c-Overlay&quot;&gt;
  &lt;img src=&quot;&quot; width=&quot;&quot; height=&quot;&quot; alt=&quot;&quot;&gt;
  &lt;figcaption class="c-Overlay-panel c-Overlay-background"&gt;...&lt;/figcaption&gt;
&lt;/div&gt;</code></pre>
</div>

<h2><a href="#section:position" class="c-Text--resetLink">c-Overlay position</a></h2>

<div class="c-example">
  <div class="o-flex-grid o-flex-grid--gutters o-flex-grid--full o-flex-grid@md--fit">
    <div class="o-flex-grid__cell">
      <figure class="c-Overlay">
        <img src="//placehold.it/600x400" alt="">
        <figcaption class="c-Overlay-panel c-Overlay-background c-Overlay-position--top">
          <h3>Overlay Top</h3>
          <p>Lorem ipsum dolor sit amet safas fasfg asf.</p>
        </figcaption>
      </figure>
    </div>
    <div class="o-flex-grid__cell">
      <figure class="c-Overlay">
        <img src="//placehold.it/600x400" alt="">
        <figcaption class="c-Overlay-panel c-Overlay-background c-Overlay-position--bottom">
          <h3>Overlay Bottom</h3>
          <p>Lorem ipsum dolor sit amet safas fasfg asf.</p>
        </figcaption>
      </figure>
    </div>
  </div>
  <div class="o-flex-grid o-flex-grid--gutters o-flex-grid--full o-flex-grid@md--fit">
    <div class="o-flex-grid__cell">
      <figure class="c-Overlay">
        <img src="//placehold.it/600x400" alt="">
        <figcaption class="c-Overlay-panel c-Overlay-background c-Overlay-position--left">
          <h3>Overlay Left</h3>
          <p>Lorem ipsum dolor sit amet safas fasfg asf.</p>
        </figcaption>
      </figure>
    </div>
    <div class="o-flex-grid__cell">
      <figure class="c-Overlay">
        <img src="//placehold.it/600x400" alt="">
        <figcaption class="c-Overlay-panel c-Overlay-background c-Overlay-position--right">
          <h3>Overlay Right</h3>
          <p>Lorem ipsum dolor sit amet safas fasfg asf.</p>
        </figcaption>
      </figure>
    </div>
  </div>
</div>

<div class="c-code c-code--html">
  <pre><code class="html">&lt;div class=&quot;c-Overlay&quot;&gt;
  &lt;img src=&quot;&quot; width=&quot;&quot; height=&quot;&quot; alt=&quot;&quot;&gt;
  &lt;figcaption class="c-Overlay-panel c-Overlay-position--top"&gt;...&lt;/figcaption&gt;
&lt;/div&gt;</code></pre>
</div>

<h2><a href="#section:icon" class="c-Text--resetLink">c-Overlay icon</a></h2>

<div class="c-example">
  <figure class="c-Overlay">
    <img src="//placehold.it/600x400" alt="">
    <div class="c-Overlay-panel c-Overlay-background c-Overlay-icon">
      {{ icon('exclamation', '0 0 1 1', 'o-Icon--xxl') }}
    </div>
  </figure>
</div>

<div class="c-code c-code--html">
  <pre><code class="html">&lt;div class=&quot;c-Overlay&quot;&gt;
  &lt;img src=&quot;&quot; width=&quot;&quot; height=&quot;&quot; alt=&quot;&quot;&gt;
  &lt;figcaption class="c-Overlay-panel c-Overlay-icon"&gt;...&lt;/figcaption&gt;
&lt;/div&gt;</code></pre>
</div>

{% endblock %}

{% block javascript %}

{% endblock %}
