{#
Nunjucks Templating!
Homepage: https://mozilla.github.io/nunjucks/
Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% set pageid = 'section' %}
{% set sectionid = 'core' %}

{% extends 'layouts/application.njk' %}

{% block metaTitle %}Section | Atomic: Core{% endblock %}

{% block content %}

<h1 class="Article-title">Section</h1>
<p class="c-Text--lead">Provides control over the spacing of sections.</p>

<hr class="Article-divider">

<h2 id="section:usage"><a href="#section:usages" class="c-Text--resetLink">Usage</a></h2>

<h3>Section (.Section)</h3>
<div class="c-example">

  <div class="o-section o-flex-grid o-flex-grid--gutters c-Demo">
    <div class="o-flex-grid__cell">
      <div class="c-Demo">
        <h3>Consectetur adipisicing elit</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
    </div>
    <div class="o-flex-grid__cell">
      <div class="c-Demo">
        <h3>Consectetur adipisicing elit</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
    </div>
    <div class="o-flex-grid__cell">
      <div class="c-Demo">
        <h3>Consectetur adipisicing elit</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
    </div>
  </div>

</div>

<div class="c-code">
  <pre><code class="html">&lt;div class=&quot;o-section o-flex-grid o-flex-grid--gutters c-Demo&quot;&gt;
  ...
&lt;/div&gt;</code></pre>
</div>

<h3>Section tall (.o-section--tall)</h3>
<div class="c-example">

  <div class="o-section--tall o-flex-grid o-flex-grid--gutters c-Demo">
    <div class="o-flex-grid__cell">
      <div class="c-Demo">
        <h3>Consectetur adipisicing elit</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
    </div>
    <div class="o-flex-grid__cell">
      <div class="c-Demo">
        <h3>Consectetur adipisicing elit</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
    </div>
    <div class="o-flex-grid__cell">
      <div class="c-Demo">
        <h3>Consectetur adipisicing elit</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
    </div>
  </div>

</div>

<h3>Section short (.o-section--short)</h3>
<div class="c-example">

  <div class="o-section--short o-flex-grid o-flex-grid--gutters c-Demo">
    <div class="o-flex-grid__cell">
      <div class="c-Demo">
        <h3>Consectetur adipisicing elit</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
    </div>
    <div class="o-flex-grid__cell">
      <div class="c-Demo">
        <h3>Consectetur adipisicing elit</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
    </div>
    <div class="o-flex-grid__cell">
      <div class="c-Demo">
        <h3>Consectetur adipisicing elit</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
    </div>
  </div>

</div>

<h3>Section collapse (.o-section--collapse)</h3>
<div class="c-example">

  <div class="o-section--collapse o-flex-grid o-flex-grid--gutters c-Demo">
    <div class="o-flex-grid__cell">
      <div class="c-Demo">
        <h3>Consectetur adipisicing elit</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
    </div>
    <div class="o-flex-grid__cell">
      <div class="c-Demo">
        <h3>Consectetur adipisicing elit</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
    </div>
    <div class="o-flex-grid__cell">
      <div class="c-Demo">
        <h3>Consectetur adipisicing elit</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
    </div>
  </div>

</div>


{% endblock %}

{% block javascript %}

{% endblock %}
