{#
Nunjucks Templating!
Homepage: https://mozilla.github.io/nunjucks/
Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% set pageid = 'site' %}
{% set sectionid = 'core' %}

{% extends 'layouts/application.njk' %}

{% block metaTitle %}Site | Atomic: Core{% endblock %}

{% block content %}

<h1 class="Article-title">Site</h1>
<p class="c-Text--lead">Provides control over the global structure of the site.</p>

<p>This component defines the main structure of the site, eg. Header, Content and Footer.</p>
<p>By default, the site object implements the sticky footer pattern. This pattern sticks the footer to the bottom of the browser window when there is not enough content to push it down further.</p>

<hr class="Article-divider">

<h2 id="section:usage"><a href="#section:usages" class="c-Text--resetLink">Usage</a></h2>

<p>To demonstrate this, click the button below and see how the footer sticks to the bottom of the window.</p>
<button data-module="Toggle" class="c-Button" data-options='{"target":["#js-toggled-content","#t-page-nav"],"hide":true}'>Toggle Contents</button><br><br>

<div id="js-toggled-content">


  <div class="t-code t-code--html">
<pre><code class="xml">&lt;body class=&quot;o-Site&quot;&gt;
  &lt;header class=&quot;o-Site-header&quot;&gt;...&lt;/header&gt;
  &lt;main class=&quot;o-Site-content&quot;&gt;...&lt;/main&gt;
  &lt;footer class=&quot;o-Site-footer&quot;&gt;...&lt;/footer&gt;
&lt;/body&gt;</code></pre>
  </div>

  <h3 id="section:classes"><a href="#section:classes" class="c-Text--resetLink">Classes</a></h3>

  <div class="scrollXauto">
    <table class="c-Table c-Table--striped">
      <thead>
      <tr>
        <th class="o-Size--1of4 c-Text--left">Class</th>
        <th class="c-Text--left">Description</th>
        <th class="c-Text--right o-Size--1of5">Type</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th class="c-Text--left"><code>.o-Site</code></th>
        <td>Object component</td>
        <td class="c-Text--right">Component</td>
      </tr>
      <tr>
        <th class="c-Text--left"><code>.o-Site--collapse</code></th>
        <td>Removes the default padding between the content area and the header and footer.</td>
        <td class="c-Text--right">Component modifier</td>
      </tr>
      <tr>
        <th class="c-Text--left"><code>.o-Site-header</code></th>
        <td>Component element for the site header</td>
        <td class="c-Text--right">Sub-element</td>
      </tr>
      <tr>
        <th class="c-Text--left"><code>.o-Site-content</code></th>
        <td>Sub-element for the site content</td>
        <td class="c-Text--right">Sub-element</td>
      </tr>
      </tbody>
    </table>
  </div>

</div>


{% endblock %}

{% block javascript %}

{% endblock %}
