{#
Nunjucks Templating!
Homepage: https://mozilla.github.io/nunjucks/
Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% set pageid = 'size' %}
{% set sectionid = 'core' %}

{% extends 'layouts/application.njk' %}

{% block metaTitle %}Size | Atomic: Core{% endblock %}

{% block content %}

<h1 class="Article-title">Size</h1>
<p class="c-Text--lead">Responsive component for determining widths</p>

  <p>A utility object that can be combined with other objects to determine widths using a <strong>12 column grid</strong></p>

<hr>

<h2 id="section:usage"><a href="#section:usage" class="c-Text--resetLink">Usage</a></h2>

<h3>Settings</h3>

<p>In <code>/stylesheets/settings/_settings.grid.scss</code> you can choose your gutter size.</p>

<h3>Classes</h3>
<table class="c-Table c-Table--striped c-Text--left" width="100%">
  <thead>
  <tr>
    <th class="o-Size--4">Class</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th>o-Size--full</th>
    <td>Fills 100% of the available width</td>
  </tr>
  <tr>
    <th>o-Size--1</th>
    <td>One grid cell of 12</td>
  </tr>
  <tr>
    <th>o-Size--11</th>
    <td>Eleven grid cells of 12</td>
  </tr>
  </tbody>
</table>

<h4>Demo</h4>
<div class="docs-example">

  <div class="o-FlexGrid o-FlexGrid--gutters c-Text--center">
    <div class="o-FlexGrid-cell o-Size--6">
      <div class="Demo">
        6
      </div>
    </div>
    <div class="o-FlexGrid-cell o-Size--6">
      <div class="Demo">
        6
      </div>
    </div>
  </div>

  <div class="o-FlexGrid o-FlexGrid--gutters c-Text--center">
    <div class="o-FlexGrid-cell o-Size--4">
      <div class="Demo">
        4
      </div>
    </div>
    <div class="o-FlexGrid-cell o-Size--4">
      <div class="Demo">
        4
      </div>
    </div>
    <div class="o-FlexGrid-cell o-Size--4">
      <div class="Demo">
        4
      </div>
    </div>
  </div>

  <div class="o-FlexGrid o-FlexGrid--gutters c-Text--center">
    <div class="o-FlexGrid-cell o-Size--3">
      <div class="Demo">
        3
      </div>
    </div>
    <div class="o-FlexGrid-cell o-Size--3">
      <div class="Demo">
        3
      </div>
    </div>
    <div class="o-FlexGrid-cell o-Size--3">
      <div class="Demo">
        3
      </div>
    </div>
    <div class="o-FlexGrid-cell o-Size--3">
      <div class="Demo">
        3
      </div>
    </div>
  </div>
</div>

<h3>Responsive modifiers</h3>

<p>The 12/16 column grid is also available at all the different breakpoints (except xxs).</p>

<table class="c-Table c-Text--left" width="100%">
  <thead>
  <tr>
    <th class="o-Size--1of3">Class</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th>o-Size@xs--full</th>
    <td>Fills 100% of the available width from 'xs' and upwards</td>
  </tr>
  <tr>
    <th>o-Size@sm--6</th>
    <td>Six grid cells of 12 from 'sm' and upwards</td>
  </tr>
  <tr>
    <th>o-Size@xl--12of16</th>
    <td>Twelve grid cells of 16 from 'xl' and upwards</td>
  </tr>
  </tbody>
</table>

{% endblock %}

{% block javascript %}

{% endblock %}
