{#
Nunjucks Templating!
Homepage: https://mozilla.github.io/nunjucks/
Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% set pageid = 'size' %}
{% set sectionid = 'core' %}

{% extends 'layouts/application.njk' %}

{% block metaTitle %}Size | Atomic: Core{% endblock %}

{% block content %}

<h1 class="Article-title">Size</h1>
<p class="Text--lead">Responsive component for determining widths</p>

  <p>A utility object that can be combined with other objects to determine widths. By default it accommodates a <strong>12 column grid</strong> but a <strong>16 column version</strong> can be enabled. You set different widths for different break points using the responsive modifiers.</p>

<hr>

<h2 id="section:usage"><a href="#section:usage" class="Text--resetLink">Usage</a></h2>

<h3>Settings</h3>

<p>In <code>/stylesheets/settings/_settings.grid.scss</code> you can choose between a 12 column or a 16 column grid, or both if you need to.</p>
<p>The variables <code>$grid-columns-12</code> and <code>$grid-columns-16</code> can be set to true of false.</p>

<h3>Classes</h3>
<table class="Table Table--striped Text--left" width="100%">
  <thead>
  <tr>
    <th class="o-Size--4of12">Class</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th>o-Size--full</th>
    <td>Fills 100% of the available width</td>
  </tr>
  <tr>
    <th>o-Size--1of12</th>
    <td>One grid cell of 12</td>
  </tr>
  <tr>
    <th>o-Size--1of16</th>
    <td>One grid cell of 16</td>
  </tr>
  <tr>
    <th>o-Size--11of12</th>
    <td>Eleven grid cells of 12</td>
  </tr>
  <tr>
    <th>o-Size--15of16</th>
    <td>Fifteen grid cells of 16</td>
  </tr>
  </tbody>
</table>

<h4>Demo</h4>
<div class="docs-example">

  <div class="o-Grid o-Grid--gutters Text--center">
    <div class="o-Grid-cell o-Size--1of2">
      <div class="Demo">
        1 of 2
      </div>
    </div>
    <div class="o-Grid-cell o-Size--1of2">
      <div class="Demo">
        1 of 2
      </div>
    </div>
  </div>

  <div class="o-Grid o-Grid--gutters Text--center">
    <div class="o-Grid-cell o-Size--1of3">
      <div class="Demo">
        1 of 3
      </div>
    </div>
    <div class="o-Grid-cell o-Size--1of3">
      <div class="Demo">
        1 of 3
      </div>
    </div>
    <div class="o-Grid-cell o-Size--1of3">
      <div class="Demo">
        1 of 3
      </div>
    </div>
  </div>

  <div class="o-Grid o-Grid--gutters Text--center">
    <div class="o-Grid-cell o-Size--1of4">
      <div class="Demo">
        1 of 4
      </div>
    </div>
    <div class="o-Grid-cell o-Size--1of10">
      <div class="Demo">
        1 of 10
      </div>
    </div>
    <div class="o-Grid-cell o-Size--2of5">
      <div class="Demo">
        2 of 5
      </div>
    </div>
    <div class="o-Grid-cell o-Size--1of4">
      <div class="Demo">
        1 of 4
      </div>
    </div>
  </div>
</div>

<h3>Responsive modifiers</h3>

<p>The 12/16 column grid is also available at all the different breakpoints (except xxs).</p>

<table class="Table Text--left" width="100%">
  <thead>
  <tr>
    <th class="o-Size--1of3">Class</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th>o-SizeXs--full</th>
    <td>Fills 100% of the available width from 'xs' and upwards</td>
  </tr>
  <tr>
    <th>o-SizeSm--6of12</th>
    <td>Six grid cells of 12 from 'sm' and upwards</td>
  </tr>
  <tr>
    <th>o-SizeXl--12of16</th>
    <td>Twelve grid cells of 16 from 'xl' and upwards</td>
  </tr>
  </tbody>
</table>

{% endblock %}

{% block javascript %}

{% endblock %}