{#
Nunjucks Templating!
Homepage: https://mozilla.github.io/nunjucks/
Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% set pageid = 'slider' %}
{% set sectionid = 'core' %}

{% extends 'layouts/application.njk' %}
{% from 'macros/icon.njk' import icon %}

{% block metaTitle %}Slider | Atomic: Core{% endblock %}

{% block content %}

<h1 class="Article-title">Slider</h1>
<p class="Text--lead">Slide between content.</p>

<hr class="Article-divider">

<h2 id="section-usage"><a href="#section-usage" class="Text--resetLink">Usage</a></h2>

<p>The slider module is loaded asynchronously and is initialised using <code>data-module="Slider"</code> on the element.</p>

<div class="docs-example">

  <div class="Slider" data-module="Slider">
    <div class="Slider-slides">
      <div class="Slider-slide Active">
        <picture class="Slider-picture">
          <source srcset="//placeimg.com/1600/800/tech/grayscale" media="(min-width: 768px)">
          <img class="Slider-image" src="//placeimg.com/600/600/tech/grayscale" alt="">
        </picture>
        <div class="Slider-content">
          <div class="Slider-text">
            <h1 class="Hero-title">Lorem ipsum</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
      </div>
      <div class="Slider-slide Next">
        <picture class="Slider-picture">
          <source srcset="//placeimg.com/1600/800/tech/sepia" media="(min-width: 768px)">
          <img class="Slider-image" src="//placeimg.com/600/600/tech/sepia" alt="">
        </picture>
        <div class="Slider-content">
          <div class="Slider-text">
            <h1 class="Hero-title">Cras</h1>
            <p>Etiam sem sapien, fermentum eu lorem sit amet, efficitur imperdiet mauris. Cras.</p>
          </div>
        </div>
      </div>
      <div class="Slider-slide">
        <picture class="Slider-picture">
          <source srcset="//placeimg.com/1600/800/tech/grayscale" media="(min-width: 768px)">
          <img class="Slider-image" src="//placeimg.com/600/600/tech/grayscale" alt="">
        </picture>
        <div class="Slider-content">
          <div class="Slider-text">
            <h1 class="Hero-title">Cras</h1>
            <p>Etiam sem sapien, fermentum eu lorem sit amet, efficitur imperdiet mauris. Cras.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="Slider-controls">
      <div class="Slider-previous">
        {{ icon('chevron-left') }}
      </div>
      <div class="Slider-next">
        {{ icon('chevron-right') }}
      </div>
    </div>
  </div>

</div>

<div class="docs-code docs-code--html">
  <pre><code class="html">
  &lt;div class=&quot;Slider&quot; data-module=&quot;Slider&quot;&gt;
    &lt;div class=&quot;Slider-slides&quot;&gt;
      &lt;div class=&quot;Slider-slide Active&quot;&gt;
        Slide 1
      &lt;/div&gt;
      &lt;div class=&quot;Slider-slide Next&quot;&gt;
        Slide 2
      &lt;/div&gt;
      &lt;div class=&quot;Slider-slide Active&quot;&gt;
        Slide 3
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;Slider-controls&quot;&gt;
      &lt;div class=&quot;Slider-previous&quot;&gt;
        &lt; Previous
      &lt;/div&gt;
      &lt;div class=&quot;Slider-next&quot;&gt;
        Next &gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  </code></pre>
</div>

{% endblock %}

{% block javascript %}

{% endblock %}
