{#
Nunjucks Templating!
Homepage: https://mozilla.github.io/nunjucks/
Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% set pageid = 'switcher' %}
{% set sectionid = 'core' %}

{% extends 'layouts/application.njk' %}

{% block metaTitle %}Switcher | Atomic: Core{% endblock %}

{% block content %}

<h1 class="Article-title">Switcher</h1>
<p class="Text--lead">Dynamically transition through different content panes</p>

<hr class="Article-divider">

<h2 id="section-usage"><a href="#section-usage" class="Text--resetLink">Usage</a></h2>

<p>The switcher component consists of a number of toggles and their related content items. Add the <code>data-module="Switcher"</code> attribute to the element which contains the toggles. By default, it will assume that the next sibling element is the target for the toggles.</p>
<p>By default, the switcher works by linking the indexes of the toggle items and target items. So you need to make sure both are in the same order.</p>
<p>Typically the switcher is combined with other components, some of which will be shown here.</p>

<div class="docs-example">

  <div class="Menu Menu--attached" data-module="Switcher">
    <a href="#" class="Menu-item Menu-link">Section #1</a>
    <a href="#" class="Menu-item Menu-link">Section #2</a>
    <a href="#" class="Menu-item Menu-link">Section #3</a>
  </div>

  <div class="o-Grid o-Grid--gutters">
    <div class="o-Grid-cell">
      <section class="Panel Panel--box">
        <h3>Section 1</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque optio, sapiente. Aut incidunt ipsam minima minus similique tempore!</p>
      </section>
    </div>
    <div class="o-Grid-cell">
      <section class="Panel Panel--box">
        <h3>Section 2</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque optio, sapiente. Aut incidunt ipsam minima minus similique tempore!</p>
      </section>
    </div>
    <div class="o-Grid-cell">
      <section class="Panel Panel--box">
        <h3>Section 3</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque optio, sapiente. Aut incidunt ipsam minima minus similique tempore!</p>
      </section>
    </div>
  </div>

</div>

<div class="docs-code docs-code--html">
  <pre><code class="html">&lt;div class=&quot;Menu Menu--attached&quot; data-module=&quot;Switcher&quot;&gt;
  &lt;a href=&quot;#&quot; class=&quot;Menu-item Menu-link&quot;&gt;Section #1&lt;/a&gt;&lt;/li&gt;
  &lt;a href=&quot;#&quot; class=&quot;Menu-item Menu-link&quot;&gt;Section #2&lt;/a&gt;&lt;/li&gt;
  &lt;a href=&quot;#&quot; class=&quot;Menu-item Menu-link&quot;&gt;Section #3&lt;/a&gt;&lt;/li&gt;
&lt;/div&gt;

&lt;div&gt;
  &lt;section class=&quot;Panel Panel--box&quot;&gt;
    &lt;h3&gt;Section 1&lt;/h3&gt;
    ...
  &lt;/section&gt;
  &lt;section class=&quot;Panel Panel--box&quot;&gt;
    &lt;h3&gt;Section 2&lt;/h3&gt;
    ...
  &lt;/section&gt;
  &lt;section class=&quot;Panel Panel--box&quot;&gt;
    &lt;h3&gt;Section 3&lt;/h3&gt;
    ...
  &lt;/section&gt;
&lt;/div&gt;</code></pre>
</div>

<h2 id="section-options"><a href="#section-options" class="Text--resetLink">Options</a></h2>

<h3>Target</h3>

<p>If you are not sure that the target items will come directly after the toggler items or you just want to be sure (probably best), you can specifically the target using <code>data-options='{"target" : "#switcher-content1"}</code>.</p>

<div class="docs-example">

  <div class="Menu Menu--attached" data-module="Switcher" data-options='{"target":"#switcher-content1"}'>
    <a href="#" class="Menu-item Menu-link">Section #1</a>
    <a href="#" class="Menu-item Menu-link">Section #2</a>
    <a href="#" class="Menu-item Menu-link">Section #3</a>
  </div>

  <hr>

  <div id="switcher-content1" class="o-Grid o-Grid--gutters">
    <div class="o-Grid-cell">
      <section class="Panel Panel--box">
        <h3>Section 1</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque optio, sapiente. Aut incidunt ipsam minima minus similique tempore!</p>
      </section>
    </div>
    <div class="o-Grid-cell">
      <section class="Panel Panel--box">
        <h3>Section 2</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque optio, sapiente. Aut incidunt ipsam minima minus similique tempore!</p>
      </section>
    </div>
    <div class="o-Grid-cell">
      <section class="Panel Panel--box">
        <h3>Section 3</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque optio, sapiente. Aut incidunt ipsam minima minus similique tempore!</p>
      </section>
    </div>
  </div>

</div>

<div class="docs-code docs-code--html">
  <pre><code class="html">&lt;div class=&quot;Menu Menu--attached&quot; data-module=&quot;Switcher&quot; data-options=&#39;{&quot;target&quot;:&quot;#switcher-content1&quot;}&gt;
  &lt;a href=&quot;#&quot; class=&quot;Menu-item Menu-link&quot;&gt;Section #1&lt;/a&gt;&lt;/li&gt;
  &lt;a href=&quot;#&quot; class=&quot;Menu-item Menu-link&quot;&gt;Section #2&lt;/a&gt;&lt;/li&gt;
  &lt;a href=&quot;#&quot; class=&quot;Menu-item Menu-link&quot;&gt;Section #3&lt;/a&gt;&lt;/li&gt;
&lt;/div&gt;

&lt;hr&gt;

&lt;div id=&quot;switcher-content1&quot;&gt;
  &lt;section class=&quot;Panel Panel--box&quot;&gt;
    &lt;h3&gt;Section 1&lt;/h3&gt;
    ...
  &lt;/section&gt;
  &lt;section class=&quot;Panel Panel--box&quot;&gt;
    &lt;h3&gt;Section 2&lt;/h3&gt;
    ...
  &lt;/section&gt;
  &lt;section class=&quot;Panel Panel--box&quot;&gt;
    &lt;h3&gt;Section 3&lt;/h3&gt;
    ...
  &lt;/section&gt;
&lt;/div&gt;</code></pre>
</div>

<h4>Multiple targets</h4>
<p>You can also switch multiple targets by passing in an array <code>data-options='{"target" : ["#switcher-content2" , "#switcher-content3"]}</code>.</p>

<div class="docs-example">

  <ul class="Menu Menu--attached" data-module="Switcher" data-options='{"target":["#switcher-content2","#switcher-content3"]}'>
    <li class="Menu-item"><a href="#" class="Menu-link">Section #1</a></li>
    <li class="Menu-item"><a href="#" class="Menu-link">Section #2</a></li>
    <li class="Menu-item"><a href="#" class="Menu-link">Section #3</a></li>
  </ul>

  <div class="o-Grid o-Grid--gutters">
    <div class="o-Grid-cell">
      <div id="switcher-content2">
        <section class="Panel Panel--box">
          <h3>Section 1</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque optio, sapiente. Aut incidunt ipsam minima minus similique tempore!</p>
        </section>
        <section class="Panel Panel--box">
          <h3>Section 2</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque optio, sapiente. Aut incidunt ipsam minima minus similique tempore!</p>
        </section>
        <section class="Panel Panel--box">
          <h3>Section 3</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque optio, sapiente. Aut incidunt ipsam minima minus similique tempore!</p>
        </section>
      </div>
    </div>
    <div class="o-Grid-cell">
      <div id="switcher-content3">
        <section class="Panel Panel--box">
          <h3>Section 1</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque optio, sapiente. Aut incidunt ipsam minima minus similique tempore!</p>
        </section>
        <section class="Panel Panel--box">
          <h3>Section 2</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque optio, sapiente. Aut incidunt ipsam minima minus similique tempore!</p>
        </section>
        <section class="Panel Panel--box">
          <h3>Section 3</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque optio, sapiente. Aut incidunt ipsam minima minus similique tempore!</p>
        </section>
      </div>
    </div>

  </div>

</div>

<h3>Hide</h3>

<p>You can toggle the hidden property on the target panes by setting <code>data-option='{"hide":true}'</code>. This results in 'Tab' like functionality.</p>
<h4>ARIA Accessibility</h4>
<p>When this method is activated, the module also add relevant ARIA rules to enhance accessibility. (Ref: <a href="https://24ways.org/2015/how-tabs-should-work/">24 ways: How tabs should work</a>)</p>

<div class="docs-example">

  <ul class="Menu Menu--tabular Menu--attached" data-module="Switcher" data-options='{"hide":true}'>
    <li class="Menu-item"><a href="#" class="Menu-link">Tab #1</a></li>
    <li class="Menu-item"><a href="#" class="Menu-link">Tab #2</a></li>
    <li class="Menu-item"><a href="#" class="Menu-link">Tab #3</a></li>
  </ul>

  <div id="switcher-content4" class="Panels Panels--attached">
    <section class="Panel Panel--box Panel--stacked Panel--attached">
      <h3>Section 1</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque optio, sapiente. Aut incidunt ipsam minima minus similique tempore!</p>
    </section>
    <section class="Panel Panel--box Panel--stacked Panel--attached">
      <h3>Section 2</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque optio, sapiente. Aut incidunt ipsam minima minus similique tempore!</p>
    </section>
    <section class="Panel Panel--box Panel--stacked Panel--attached">
      <h3>Section 3</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque optio, sapiente. Aut incidunt ipsam minima minus similique tempore!</p>
    </section>
  </div>

</div>

<h3>Active index</h3>
<p>You set which pane is initially active by setting <code>data-options='{"activeIndex":1}'</code>, which results in the second tab being initially active (zero based index).</p>

<div class="docs-example">

  <ul class="Menu Menu--tabular Menu--attached" data-module="Switcher" data-options='{"target":"#switcher-content5","hide":true,"activeIndex": 1}'>
    <li class="Menu-item"><a href="#" class="Menu-link">Tab #1</a></li>
    <li class="Menu-item"><a href="#" class="Menu-link">Tab #2</a></li>
    <li class="Menu-item"><a href="#" class="Menu-link">Tab #3</a></li>
  </ul>

  <div id="switcher-content5" class="Panels Panels--attached">
    <section class="Panel Panel--box Panel--piled Panel--attached">
      <h3>Section 1</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque optio, sapiente. Aut incidunt ipsam minima minus similique tempore!</p>
    </section>
    <section class="Panel Panel--box Panel--piled Panel--attached">
      <h3>Section 2</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque optio, sapiente. Aut incidunt ipsam minima minus similique tempore!</p>
    </section>
    <section class="Panel Panel--box Panel--piled Panel--attached">
      <h3>Section 3</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque optio, sapiente. Aut incidunt ipsam minima minus similique tempore!</p>
    </section>
  </div>

</div>

<h3>Hash</h3>

<p>You can set the switcher to use url hashes by setting <code>data-options='{"hash":true}'</code>.</p>
<p>Using url hashes means you can link to a page a set and certain tab to be open. It also means that tab changes are in the browser history.</p>
<p><strong class="Badge">Note</strong> If you are using the hash setting you can not switch multiple targets.</p>

<div class="docs-example">

  <ul class="Menu Menu--tabular Menu--attached" data-module="Switcher" data-options='{"hash":true,"hide":true}'>
    <li class="Menu-item"><a href="#tab1" class="Menu-link">Section #1</a></li>
    <li class="Menu-item"><a href="#tab2" class="Menu-link">Section #2</a></li>
    <li class="Menu-item"><a href="#tab3" class="Menu-link">Section #3</a></li>
  </ul>

  <div class="Panels Panels--attached">
    <section id="tab1" class="Panel Panel--box Panel--attached Panel--stacked">
      <h3>Section 1</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque optio, sapiente. Aut incidunt ipsam minima minus similique tempore!</p>
    </section>
    <section id="tab2" class="Panel Panel--box Panel--attached Panel--stacked">
      <h3>Section 2</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque optio, sapiente. Aut incidunt ipsam minima minus similique tempore!</p>
    </section>
    <section id="tab3" class="Panel Panel--box Panel--attached Panel--stacked">
      <h3>Section 3</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque optio, sapiente. Aut incidunt ipsam minima minus similique tempore!</p>
    </section>
  </div>

</div>

{% endblock %}

{% block javascript %}

{% endblock %}