{% from '_macros/helpers.njk' import icon, navItem %}

<!doctype html>
<!--#if expr="$HTTP_COOKIE=/fonts\-loaded\=true/" -->
<html lang="{{ lang }}" class="fonts-loaded">
<!--#else -->
<html lang="{{ lang }}">
<!--#endif -->
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1"/>
  <title>{% block metaTitle %}Gulp Asset Pipeline{% endblock %}</title>
  <meta name="author" content="{{ author.name }}"/>

  <link rel="stylesheet" href="/assets/stylesheets/styles.css">

  {% include '_shared/app-icons.njk' %}

  {% block metaHead %}{% endblock %}

</head>
<body id="top" class="o-Site">

<header role="banner" class="o-Site-header">

  {% block pageHead %}{% endblock %}
  {% include '_shared/main-nav.njk' %}

</header>

<main id="content" class="o-Site-content">

  {% block content %}{% endblock %}

</main>

<footer class="o-Site-footer">
  <p>&copy; {{ author.createdYear }} - {{ author.footerText }} <a href="{{ author.url }}">{{ author.name }}</a></p>
</footer>

{% block javascript %}{% endblock %}

</body>
</html>
