<article class="Hero{% if section.classList %} {{ section.classList }}{% endif %}">

  <h1>{{ section.content.title }}</h1>
  {% if section.content.subTitle %}
    <h2>{{ section.content.subTitle }}</h2>
  {% endif %}

  {% if section.content.description %}
    <p>{{ section.content.description }}</p>
  {% endif %}

  {% if section.content.cta %}
    <a href="{{ section.content.cta.url }}" class="Button Button--primary">{{ section.content.cta.title }}</a>
  {% endif %}

</article>