{% from "../_components/NavSimple.njk" import NavSimple %}

<div class="o-Container o-Container--centered">
{{
  NavSimple(
    'nav-main',
    pages,
    'index',
    '',
    'Menu--right',
    'Atomic',
    'Menu-item--left',
    '',
    'Md')
}}
</div>