{% from 'macros/menu.njk' import menuLink, menuHeader %}
{% from 'macros/toggle-button.njk' import ToggleButton %}

    <div class="NavMain">
      <div class="o-Container o-Container--centered">
        <nav class="c-nav-responsive c-nav-responsive@sm">

          {{ ToggleButton('parent')}}

          <ul class="c-menu c-menu--vertical c-menu@sm">

            {{ menuHeader('Atomic', 'index.html', 'c-menu__item--left c-menu__item--flush') }}

            {% for page in pages %}
              {{ menuLink(page.id, page.title, page.url, pageId, 'nav__item') }}
            {% endfor %}

          </ul>
        </nav>
      </div>
    </div>
