{% from 'macros/menu.njk' import menuLink, menuHeader %}
{% from 'macros/toggle-button.njk' import ToggleButton %}

    <div class="NavMain">
      <div class="o-Container o-Container--centered">
        <nav role="navigation" class="NavResponsive NavResponsive@sm">

          {{ ToggleButton('parent')}}

          <ul class="c-Menu c-Menu--vertical c-Menu@sm">

            {{ menuHeader('Atomic', 'index.html', 'c-Menu-item--left c-Menu-item--flush') }}

            {% for page in pages %}
              {{ menuLink(page.id, page.title, page.url, pageId, 'nav-item') }}
            {% endfor %}

          </ul>
        </nav>
      </div>
    </div>
