{% macro navItem(id, title, active='index', ready=false) %}
  <li class="c-menu__item{% if id == active %} is-active{% endif %}">
    <a{% if ready %} href="{{id}}.html" class="c-menu__link"{% else %} class="c-menu__link c-Text--disabled"{% endif %}>{{title}}</a>
  </li>
{% endmacro %}

<nav id="t-page-nav" class="t-Sidenav c-Sticky__item" data-margin-top="20">

  <ul class="c-menu c-menu--flush c-menu--vertical">

    {% for cat in docs_pages %}

      {% if cat.section == sectionid %}

        <li class="c-menu__item">
          {% if cat.category != "" %}<strong class="c-menu-title">{{ cat.category }}</strong>{% endif %}
          {% if cat.items %}
            <ul class="c-menu c-menu--vertical c-menu--flush">
              {% for comp in cat.items %}
                {% if comp.section == sectionid %}
                  {{navItem(comp.id, comp.title, pageid, comp.ready)}}
                {% endif %}
              {% endfor %}
            </ul>
          {% endif %}
        </li>

      {% endif %}

    {% endfor %}

  </ul>
</nav>
