{% macro navbarItem(id, title, active, ready) %}
<li class="c-Menu-item{% if id == active %} is-active{% endif %}">
  {% if ready %}
    <a href="/docs/{{id}}" class="c-Menu-link">{{title}}</a>
  {% else %}
    <a class="c-Menu-link is-disabled" disabled>{{title}}</a>
  {% endif %}
</li>
{% endmacro %}

{% from 'macros/toggle-button.njk' import ToggleButton %}

<nav class="o-Container o-Container--centered NavResponsive NavResponsive@md">

  {{ ToggleButton("parent", "c-ToggleButton--hideText") }}

  <ul class="c-Menu c-Menu--vertical c-Menu@md">
    <li class="c-Menu-item c-Menu-item--left w-logo">
      <a href="/docs/">
        <img src="/images/jaywing-logo.png" width="65" height="65" alt="Jaywing">
      </a>
    </li>
    {% for section in docs_sections %}
      {{navbarItem(section.id, section.title, sectionid, section.ready)}}
    {% endfor %}
  </ul>

</nav>
