//
//  Defined List
//  @author anthony.fisher@jaywing.com
//

$dl-margin: $g-spacer 0 !default;

//Normal DL
$dt-margin: $g-spacer 0 $g-spacer-sm 0 !default;
$dt-font-style: normal !default;
$dt-font-weight: bold !default;
$dd-margin: 0 0 $g-spacer-xs $g-spacer-xl !default;
$dd-last-child-margin: 0 0 $g-spacer 0 !default;
$dd-font-style: italic !default;
$dd-font-weight: normal !default;

.Definition {
    @include trim-child-margins;

    margin: $dl-margin;

    dt {
        margin: $dt-margin;
        font-style: $dt-font-style;
        font-weight: $dt-font-weight;

        &:first-child {
            margin-top: 0;
        }
    }

    dd {
        margin: $dd-margin;
        font-style: $dd-font-style;
        font-weight: $dd-font-weight;
    }
}
