//Horizontal DL
$ddh-margin: 0 0 $g-spacer-sm !default;
$ddh-delimiter-padding: 0 0 0 $g-spacer-xxs !default;
$ddh-delimiter: ':' !default;
$ddh-width: 25% !default;
$ddh-dt-margin: 0 !default;
$ddh-dt-padding: 0 $g-spacer-sm 0 0 !default;

//Horizontal list variant
.c-Definition--horizontal {
    @include clearfix;

    dt {
        width: $ddh-width;
        padding: $ddh-dt-padding;
        margin: $ddh-dt-margin;
        clear: left;
        float: left;
        word-break: break-all;

        @if $ddh-delimiter != '' {
            &::after {
                padding: $ddh-delimiter-padding;
                content: $ddh-delimiter;
            }
        }
    }

    dd {
        padding-left: $ddh-width;
        margin: $ddh-margin;
        list-style: decimal inside;

        &::after {
            display: block;
            clear: both;
            content: '';
        }
    }
}
