$dd-bullet-display: list__item !default;
$dd-bullet-list-style: disc !default;

.c-Definition--bullets {
    dd {
        display: $dd-bullet-display;
        list-style: $dd-bullet-list-style;
    }
}
