// sass-lint:disable no-important
@include md {

  .o-SizeMd {

    &--full {
      flex: none !important;
      width: 100% !important;
    }

    &--1of2 {
      flex: none !important;
      width: 50% !important;
    }

    &--1of3 {
      flex: none !important;
      width: 33.3333% !important;
    }

    &--2of3 {
      flex: none !important;
      width: 66.6667% !important;
    }

    &--1of4 {
      flex: none !important;
      width: 25% !important;
    }

    &--3of4 {
      flex: none !important;
      width: 75% !important;
    }

    &--1of5 {
      flex: none !important;
      width: 20% !important;
    }

    &--2of5 {
      flex: none !important;
      width: 40% !important;
    }

    &--3of5 {
      flex: none !important;
      width: 60% !important;
    }

    &--4of5 {
      flex: none !important;
      width: 80% !important;
    }

    &--1of6 {
      flex: none !important;
      width: 16.6667% !important;
    }

    &--5of6 {
      flex: none !important;
      width: 83.3334% !important;
    }
  }
}
