.o-Size {
  &--full {
    width: 100% !important;
    flex: none !important;
  }

  &--1of2 {
    width: 50% !important;
    flex: none !important;
  }

  &--1of3 {
    width: 33.3333% !important;
    flex: none !important;
  }

  &--2of3 {
    width: 66.6667% !important;
    flex: none !important;
  }

  &--1of4 {
    width: 25% !important;
    flex: none !important;
  }

  &--3of4 {
    width: 75% !important;
    flex: none !important;
  }

  &--1of5 {
    width: 20% !important;
    flex: none !important;
  }

  &--2of5 {
    width: 40% !important;
    flex: none !important;
  }

  &--3of5 {
    width: 60% !important;
    flex: none !important;
  }

  &--4of5 {
    width: 80% !important;
    flex: none !important;
  }

  &--1of6 {
    width: 16.6667% !important;
    flex: none !important;
  }

  &--5of6 {
    width: 83.3334% !important;
    flex: none !important;
  }

  &--1of10 {
    width: 10% !important;
    flex: none !important;
  }

  &--9of10 {
    width: 90% !important;
    flex: none !important;
  }

}
