$overlay-icon-color: $c-light !default;

.Overlay-icon {
  align-content: stretch;
  align-items: center;
  display: flex;
  fill: $overlay-icon-color;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}
