html {
    background: $c-gallery;
}

.StickyFooter {
    display: flex;
    min-width: 100vh;
    flex-direction: column;

    .main {
        flex: 1;
    }
}

.t-footer {
    padding: $g-spacer-sm 0;
    background: $c-dark;
    color: $c-light;

    a {
        color: $c-light;
    }
}

.is-active > .c-panel,
.c-panel.is-active {
    &::before {
        @include minion;

        position: absolute;
        top: 0;
        right: 0;
        padding: $g-spacer-xxs $g-spacer-xs;
        background: $c-light-15;
        content: 'I am active';
    }
}

.c-panel-list {
    .c-panel {
        margin-bottom: $g-spacer;
    }

    p {
        margin-top: 0.5rem;
    }
}
