$text-lead-color: inherit !default;

$text-disabled-color: $c-disabled-dark !default;
$text-disabled-cursor: not-allowed !default;


.Text {

  &--lead {
    @include pica;
    color: $text-lead-color;
  }

  &--disabled {
    color: $text-disabled-color;
    cursor: $text-disabled-cursor;

  }

}