// ----------------------------------------------------------------------

// Trumps: Visibility

// ----------------------------------------------------------------------

////
/// @author   Jaywing
/// @group    jw
/// @created  13/06/2016
////

// *  Contents:
// *    .hide
// *    .show
// *    .invisible
// *    .visible
// *    .srOnly
// *    .srOnly--focusable
// *    .printOnly

/* visibility helpers */

// sass-lint:disable no-important
.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.invisible {
    visibility: hidden !important;
}

.visible {
    visibility: visible !important;
}

// screen readers only
.srOnly {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    margin: -1px;
    clip: rect(0, 0, 0, 0);
}

// allows keyboard focus when tabbed to when used in conjunction with .srOnly. (Could be used for skip-links)
.srOnly--focusable:active,
.srOnly--focusable:focus {
    position: static;
    overflow: visible;
    width: auto;
    height: auto;
    margin: 0;
    clip: auto;
}

// Print visibility class
// sass-lint:disable no-important
.printOnly {
    display: none !important;
}
