// ----------------------------------------------------------------------

// Trumps: Color

// ----------------------------------------------------------------------

////
/// @author   Jaywing
/// @group    jw
/// @created  13/06/2016
////

// *  To be used for rapid (in browser) prototyping only, should be refactored into the
// *  component styles and this partial should be removed for production
// *
//    Colour helpers
// *      .u-color-dark
// *      .u-color-light
// *      .u-color-primary
// *      .u-color-secondary
// *      .u-color-highlight
// *      .u-color-error
// *      .u-color-success
// *      .u-bg-dark
// *      .u-bg-light
// *      .u-bgPrimary
// *      .u-bg-secondary
// *      .u-bg-highlight
// *      .u-bg-error
// *      .u-bg-success

// sass-lint:disable no-important

// Generates classes for every color in $c-palette. Eg: .c-black, .c-purple;
@include generate-color-classes;

.u-color-dark {
    color: $c-dark !important;
}

.u-color-light {
    color: $c-light !important;
}

.u-color-primary {
    color: $c-primary !important;
}

.u-color-secondary {
    color: $c-secondary !important;
}

.u-color-highlight {
    color: $c-highlight !important;
}

.u-color-error {
    color: $c-danger !important;
}

.u-color-success {
    color: $c-success !important;
}

.u-bg-dark {
    background-color: $c-dark !important;
}

.u-bg-light {
    background-color: $c-light !important;
}

.u-bg-secondary {
    background-color: $c-secondary !important;
}

.u-bg-highlight {
    background-color: $c-highlight !important;
}

.u-bg-error {
    background-color: $c-danger !important;
}

.u-bg-success {
    background-color: $c-success !important;
}
