// ----------------------------------------------------------------------

// Trumps: Miscellaneous

// ----------------------------------------------------------------------

////
/// @author   Jaywing
/// @group    jw
/// @create   15/06/2016
////

// sass-lint:disable no-important

// can be used on body to lock scrolling when an overlay is
// used
.scrollNone {
    overflow: hidden !important;
}

.scrollXauto,
.scrollX {
    width: 100%;
    overflow-x: auto;
    overflow-y: none;
}

.scrollX {
    overflow-x: scroll;
}

.scrollYauto,
.scrollY {
    width: 100%;
    overflow-x: none;
    overflow-y: auto;
}

.scrollY {
    overflow-y: scroll;
}
