// ----------------------------------------------------------------------

// Trumps: Visibility

// ----------------------------------------------------------------------

////
/// @author   Jaywing
/// @group    jw
/// @created  13/06/2016
////

// *  Contents:
// *    .u-hide
// *    .u-show
// *    .u-invisible
// *    .u-visible
// *    .u-sr-only
// *    .u-sr-only--focusable
// *    .u-print-only

/* visibility helpers */

// sass-lint:disable no-important
.u-hide {
    display: none !important;
}

.u-show {
    display: block !important;
}

.u-invisible {
    visibility: hidden !important;
}

.u-visible {
    visibility: visible !important;
}

// screen readers only
.u-sr-only {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    margin: -1px;
    clip: rect(0, 0, 0, 0);
}

// allows keyboard focus when tabbed to when used in conjunction with .srOnly. (Could be used for skip-links)
.u-sr-only--focusable:active,
.u-sr-only--focusable:focus {
    position: static;
    overflow: visible;
    width: auto;
    height: auto;
    margin: 0;
    clip: auto;
}

// Print visibility class
// sass-lint:disable no-important
.u-print-only {
    display: none !important;
}
