$table-th-font-weight: $g-weight-bold;

$table-cell-padding: $g-spacer-sm;

$table-caption-font-style: italic;

.Table {
  width: 100%;
  border-collapse: collapse;

  caption, tfoot {
    @include minion;
    text-align: left;
    font-style: $table-caption-font-style;
  }

  th {
    font-weight: $table-th-font-weight;
  }

  td,
  th {
    padding: $table-cell-padding;
    text-align: left;
  }
}
