.Table--yaxis {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;

  caption {
    display: flex;
    flex: 0 1 100%;
  }

  thead {
    display: flex;
    flex-shrink: 0;
    min-width: min-content;
  }

  tbody {
    display: flex;
    flex: 1;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    width: 100%;
  }

  tr {
    box-direction: normal;
    box-orient: vertical;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-shrink: 0;
    min-width: min-content;
    white-space: nowrap;
  }

  td {
    border-left: 0;
  }
}
