$table-th-font-weight: $g-weight-bold;
$table-border-width: 1px;
$table-border-style: solid;
$table-border-color: $c-dark-50;
$table-border: $table-border-width $table-border-style $table-border-color;
$table-tr-background: $c-dark-75;
$table-cell-padding: $g-spacer-sm;
$table-cell-padding-sm: $g-spacer-xs;

$table-caption-font-size: .9rem;
$table-caption-font-style: italic;

.Table {
  width: 100%;
  border-collapse: collapse;

  caption {
    text-align: left;
    font-size: $table-caption-font-size;
    font-style: $table-caption-font-style;
  }

  th {
    font-weight: $table-th-font-weight;
  }

  td,
  th {
    padding: $table-cell-padding;
    border-bottom: $table-border;
    text-align: left;
  }
}

.Table--striped {

  tr:nth-of-type(odd) {
    background: $table-tr-background;
  }
}

.Table--condensed {

  td,
  th {
    padding: $table-cell-padding-sm;
  }
}

.Table--yaxis {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;

  caption {
    display: flex;
    flex: 0 1 100%;
  }

  thead {
    display: flex;
    flex-shrink: 0;
    min-width: min-content;
  }

  tbody {
    display: flex;
    flex: 1;
    width: 100%;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
  }

  tr {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-width: min-content;
    flex-shrink: 0;
    flex: 1;
    white-space: nowrap;
  }

  td {
    border-left: 0;
  }
}
