$table-th-font-weight: $g-weight-bold;

$table-border-width: 1px;
$table-border-style: solid;
$table-border-color: $c-dark-50;
$table-border: $table-border-width $table-border-style $table-border-color;

$table-tr-background: $c-dark-75;

$table-cell-padding: $g-spacer-sm;
$table-cell-padding-sm: $g-spacer-xs;

.Table {
  width: 100%;
  border-collapse: collapse;

  display: inline-block;
  overflow-x: auto;
  white-space: nowrap;
  max-width: 100%;

  caption {
    text-align: left;
  }

  th {
    font-weight: $table-th-font-weight;
  }

  td, th {
    padding: $table-cell-padding;
    border-bottom: $table-border;
    text-align: left;
  }
}

.Table--striped {

  tr:nth-of-type(odd) {
    background: $table-tr-background;
  }
}

.Table--condensed {

  td, th {
    padding: $table-cell-padding-sm;
  }
}

// Responsive
.Table--yaxis {
  display: flex;
  overflow: hidden;

  thead {
    display: flex;
    flex-shrink: 0;
    min-width: min-content;
  }

  tbody {
    display: flex;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
  }

  tr {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-width: min-content;
    flex-shrink: 0;
  }

  td {
    border-left: 0;

    &:not(:last-child) {
      border-bottom: 0;
    }
  }
}
