{% macro icon (id, classes, viewBox) %}

  {% set viewBox = viewBox or "0 0 1 1"%}

  <span class='o-Icon o-Icon--{{id}} {{classes}}'>
    <svg viewBox="{{viewBox}}"><use xlink:href='/images/icons.svg#{{id}}'></use></svg>
  </span>
{% endmacro %}
