// ----------------------------------------------------------------------

// Tools: Colours helperes

// ----------------------------------------------------------------------

////
/// @author   Jaywing
/// @group    jw
/// @created  22/06/2016
////

/// Get a colour from a given colour palette.
///
/// @param {String} $name                    - colour to get
/// @param {Map}    $palette ($guss-colours) - palette
///
/// @requires {variable} c-palette
///
/// @return {Color | Null}
///
/// @group colours

@function color($name, $palette: $c-palette) {
    @return map-get($palette, $name);
}

/// Generate helper classes for a given colour palette
/// Outputs rules such as: `.c-red { color: red; }`.
///
/// @param {Map}    $palette  ($guss-colours) - palette
/// @param {String} $prefix   ("c-")          - prefix
/// @param {String} $property ("color")       - property
///
/// @requires {variable} guss-colours
///
/// @group colours

@mixin generate-color-classes(
    $palette: $c-palette,
    $prefix: 'c-',
    $property: 'color'
) {
    @each $name, $color in $palette {
        .#{unquote($prefix + $name)} {
            #{$property}: $color;
        }
    }
}
